openapi: 3.0.1
info:
  title: Xiaoman OpenAPI - 统计分析 (unofficial)
  version: '2026-05-09'
  description: 'Unofficial module spec generated from public Xiaoman Open API documentation: 统计分析.'
servers:
- url: https://api-sandbox.xiaoman.cn
  description: official documented server
tags:
- name: 统计分析
  x-module-slug: analytics
paths:
  /v1/report/info:
    post:
      summary: 统计报告-统计详细
      deprecated: false
      description: ''
      tags:
      - 统计分析
      parameters:
      - name: Authorization
        in: header
        description: ''
        required: true
        example: REDACTED_JWT
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                key:
                  description: 统计类型，目前仅支持[xs1](工作量统计)，必填
                  type: string
                start_date:
                  description: 获取统计的开始时间段例如2023-05-16，支持到天，必填
                  type: string
                end_date:
                  description: 获取统计的结束时间段例如2023-05-18，支持到天，必填
                  type: string
                user_id:
                  description: 小满员工账号user_id列表，[1,2,3,4]，非必填，默认获取全部员工
                  type: array
                  items:
                    type: integer
                    description: 账号ID
                refresh:
                  type: string
                  description: 刷新数据缓存，默认不传，如需获取最新数据，需要传【refresh=1】
              x-apifox-orders:
              - key
              - start_date
              - end_date
              - user_id
              - refresh
              required:
              - key
              - start_date
              - end_date
              - refresh
            example: "{\n\"key\": \"xs1\",\n\"start_date\": \"2023-05-16\",\n\"end_date\": \"2023-05-25\",\n\"user_id\": \n\
              }"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: 错误码
                    type: integer
                    x-apifox-mock: 0
                  message:
                    description: 错误信息
                    type: string
                    x-apifox-mock: success
                  now:
                    description: 当前时间
                    type: string
                    x-apifox-mock: '2022-01-01 00:00:00'
                  data:
                    description: 统计信息
                    type: object
                    properties:
                      user_id:
                        description: 用户账号user_id
                        type: integer
                      nickname:
                        description: 用户昵称
                        type: string
                      lead_add_count:
                        description: 新建线索数
                        type: integer
                      company_add_count:
                        description: 新建客户数
                        type: integer
                      customer_remark_count:
                        description: 新建跟进
                        type: integer
                      opportunity_add_count:
                        description: 新建商机数
                        type: integer
                      quotation_add_count:
                        description: 新建报价单数
                        type: integer
                      order_add_count:
                        description: 新建订单数
                        type: integer
                      dynamic_count:
                        description: 动态数
                        type: integer
                      mail_send_count:
                        description: 邮件发送数
                        type: integer
                      edm_send_count:
                        description: 营销发送数
                        type: integer
                      edm_finish_count:
                        description: 营销任务数
                        type: integer
                      login_count:
                        description: 登录天数
                        type: integer
                    x-apifox-orders:
                    - user_id
                    - nickname
                    - lead_add_count
                    - company_add_count
                    - customer_remark_count
                    - opportunity_add_count
                    - quotation_add_count
                    - order_add_count
                    - dynamic_count
                    - mail_send_count
                    - edm_send_count
                    - edm_finish_count
                    - login_count
                x-apifox-orders:
                - code
                - message
                - now
                - data
          headers: {}
          x-apifox-name: 成功
      security: []
      x-apifox-folder: 统计分析
      x-apifox-status: released
      operationId: post_v1_report_info
      x-local-source-path: sources/pages/api-3478247.md
      x-source-id: api-3478247
      x-source-title: 统计报告-统计详细
      x-source-module: 统计分析
components:
  schemas:
    新增客户联系人:
      type: object
      properties:
        company_id:
          type: integer
          x-apifox-mock: '1'
          description: 客户ID
        serial_id:
          type: string
          description: 客户编号
          x-apifox-mock: '1'
        name:
          type: string
          description: 联系人名称
        tel_area_code:
          type: string
          description: 联系人电话区号
        tel:
          type: string
          description: 联系人电话号码
      x-apifox-orders:
      - company_id
      - serial_id
      - name
      - tel_area_code
      - tel
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
    数据字典响应:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        now:
          type: string
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: 字段ID
              name:
                type: string
                description: 字段名称
              base:
                type: integer
                description: 是否系统字段，1=系统字段，0=自定义字段
              field_type:
                type: integer
                description: 字段类型
              ext_info:
                type: array
                items:
                  type: string
                description: 选字段额外信息，比如选项等枚举值
                nullable: true
              require:
                type: integer
                description: 是否必填，1=必填，0=非必填
              default:
                type: string
                description: 默认值
              disable_flag:
                type: integer
              is_list:
                type: integer
                description: 是否明细字段
            required:
            - id
            - name
            - base
            - field_type
            - ext_info
            - require
            - default
            - disable_flag
            - is_list
            x-apifox-orders:
            - id
            - name
            - base
            - field_type
            - ext_info
            - require
            - default
            - disable_flag
            - is_list
            x-apifox-ignore-properties: []
      required:
      - code
      - message
      - now
      - data
      x-apifox-orders:
      - code
      - message
      - now
      - data
      x-apifox-ignore-properties: []
      x-apifox-folder: ''
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Token returned by POST /v1/oauth2/access_token. Official docs usually expose it as an Authorization header
        parameter.
x-generated-at: '2026-05-09T04:02:32+00:00'
x-source:
  catalog: sources/catalog.json
  snapshot: sources/pages
