openapi: 3.0.1
info:
  title: Xiaoman OpenAPI - 客户 (unofficial)
  version: '2026-05-09'
  description: 'Unofficial module spec generated from public Xiaoman Open API documentation: 客户.'
servers:
- url: https://api-sandbox.xiaoman.cn
  description: official documented server
tags:
- name: 客户
  x-module-slug: company
paths:
  /v1/company/list:
    get:
      summary: 客户列表
      deprecated: false
      description: ''
      tags:
      - 客户
      - s7.1
      parameters:
      - name: count
        in: query
        description: 每页数量
        required: false
        example: 20
        schema:
          type: integer
      - name: start_index
        in: query
        description: 页码
        required: false
        example: 1
        schema:
          type: integer
      - name: removed
        in: query
        description: 默认值:0，设置=1时查询已删除的数据列表
        required: false
        example: '0'
        schema:
          type: string
      - name: all
        in: query
        description: 默认值:1，设置=1查询所有客户，设置=0只查询私海客户，设置=2查询公海客户
        required: false
        example: '1'
        schema:
          type: string
      - name: group_id
        in: query
        description: "设置客户分组ID后，只查询对应分组的客户 \n传入值来自/v1/company/fields/selector?field=group_id返回值data中的id"
        required: false
        example: 1
        schema:
          type: integer
      - name: start_time
        in: query
        description: 开始时间，YYYY-MM-DD
        required: false
        example: '2022-09-21 21:50:00'
        schema:
          type: string
      - name: end_time
        in: query
        description: 结束时间，YYYY-MM-DD
        required: false
        example: '2022-09-23 21:50:00'
        schema:
          type: string
      - name: time_type
        in: query
        description: 控制start_time，end_time查询什么时间字段，默认值=1，1 更新时间 , 2 创建时间, 3 建档时间
        required: false
        example: '1'
        schema:
          type: string
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  now:
                    type: string
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            company_id:
                              type: integer
                              description: 客户ID
                            user_id:
                              type: string
                              description: 跟进人ID
                            name:
                              type: string
                              description: 客户名称
                            short_name:
                              type: string
                              description: 客户简称
                            serial_id:
                              type: string
                              description: 客户编号
                            order_time:
                              type: string
                              description: 最近联系时间
                            create_time:
                              type: string
                              description: 创建时间
                            update_time:
                              type: string
                              description: 更新时间
                            create_user:
                              type: integer
                              description: 创建人
                            last_edit_user:
                              type: integer
                              description: 最后更新人
                            archive_type:
                              type: integer
                              description: 建档类型 1:手动创建 2:自动化创建 3:自动化建档建议 4:客户通同步 6:文件导入 7:名片夹创建
                            edit_time:
                              type: string
                              description: 编辑时间
                          required:
                          - company_id
                          - user_id
                          - name
                          - short_name
                          - serial_id
                          - order_time
                          - create_time
                          - update_time
                          - create_user
                          - last_edit_user
                          - archive_type
                          - edit_time
                          x-apifox-orders:
                          - company_id
                          - user_id
                          - name
                          - short_name
                          - serial_id
                          - order_time
                          - create_time
                          - update_time
                          - create_user
                          - last_edit_user
                          - archive_type
                          - edit_time
                      totalItem:
                        type: integer
                      count:
                        type: integer
                    required:
                    - list
                    - totalItem
                    - count
                    x-apifox-orders:
                    - list
                    - totalItem
                    - count
                required:
                - code
                - message
                - now
                - data
                x-apifox-orders:
                - code
                - message
                - now
                - data
          headers: {}
          x-apifox-name: 成功
        x-200:请求成功:
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                x-apifox-orders:
                - code
                - msg
              example:
                msg: success
                code: 0
          headers: {}
          x-apifox-name: 请求成功
      security: []
      x-apifox-folder: 客户
      x-apifox-status: released
      operationId: get_v1_company_list
      x-local-source-path: sources/pages/api-3480070.md
      x-source-id: api-3480070
      x-source-title: 客户列表
      x-source-module: 客户
  /v1/dynamic/trail/list:
    get:
      summary: 跟进动态查询接口
      deprecated: false
      description: ''
      tags:
      - 客户
      - s7.1
      parameters:
      - name: company_id
        in: query
        description: 客户ID
        required: false
        example: 1
        schema:
          type: integer
      - name: lead_id
        in: query
        description: 线索ID
        required: false
        example: 1
        schema:
          type: integer
      - name: opportunity_id
        in: query
        description: 商机ID
        required: false
        example: 1
        schema:
          type: integer
      - name: start_time
        in: query
        description: 开始时间
        required: false
        example: '2022-09-21 21:50:00'
        schema:
          type: string
      - name: end_time
        in: query
        description: 结束时间
        required: false
        example: '2022-09-23 21:50:00'
        schema:
          type: string
      - name: count
        in: query
        description: 每页数量
        required: false
        example: 1
        schema:
          type: integer
      - name: start_index
        in: query
        description: 页码
        required: false
        example: 1
        schema:
          type: integer
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  now:
                    type: string
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            follow_up_id:
                              type: integer
                              title: 跟进ID
                            trail_id:
                              type: integer
                              title: 动态ID
                            type:
                              type: integer
                              title: 跟进类型
                            client_id:
                              type: integer
                              title: 企业id
                            create_user:
                              type: integer
                              title: 创建人
                            refer_id:
                              type: integer
                              title: 关联对象ID
                            content:
                              type: string
                              title: 记录内容
                            file_ids:
                              type: array
                              items:
                                type: string
                              title: 附件ids
                            enable_flag:
                              type: integer
                            created_at:
                              type: string
                            create_time:
                              type: string
                              title: 创建时间
                            update_time:
                              type: string
                              title: 更新时间
                            company_id:
                              type: integer
                              title: 客户id
                            customer_id:
                              type: array
                              items:
                                type: integer
                              title: 联系人id
                            lead_id:
                              type: integer
                              title: 线索id
                            lead_customer_id:
                              type: array
                              items:
                                type: string
                              title: 线索联系人id
                            opportunity_id:
                              type: integer
                              title: 商机id
                            delete_flag:
                              type: integer
                              title: 是否被删除
                            inquiry_id:
                              type: integer
                              title: 询盘id
                            track_session_no:
                              type: integer
                            comment_count:
                              type: integer
                              title: 评论数量
                            company_info:
                              type: object
                              properties:
                                company_id:
                                  type: integer
                                  title: 客户id
                                name:
                                  type: string
                                  title: 客户名称
                                is_archive:
                                  type: integer
                                  title: 客户状态。0为被删除
                              required:
                              - company_id
                              - name
                              - is_archive
                              x-apifox-orders:
                              - company_id
                              - name
                              - is_archive
                              title: 客户信息
                            lead_info:
                              type: array
                              items:
                                type: string
                              title: 线索信息
                            opportunity_info:
                              type: array
                              items:
                                type: string
                              properties:
                                opportunity_id:
                                  type: integer
                                name:
                                  type: string
                              required:
                              - opportunity_id
                              - name
                              title: 商机信息
                            create_user_info:
                              type: object
                              properties:
                                user_id:
                                  type: string
                                  title: 用户id
                                nickname:
                                  type: string
                                  title: 昵称
                                avatar:
                                  type: string
                                  title: 头像
                              required:
                              - user_id
                              - nickname
                              - avatar
                              x-apifox-orders:
                              - user_id
                              - nickname
                              - avatar
                              title: 创建人信息
                            customer_info:
                              type: array
                              items:
                                type: object
                                properties:
                                  customer_id:
                                    type: integer
                                    title: 联系人id
                                  name:
                                    type: string
                                    title: 联系人名称
                                  email:
                                    type: string
                                    title: 邮箱
                                  tel_list:
                                    type: array
                                    items:
                                      type: array
                                      items:
                                        type: string
                                    title: 电话
                                  contact:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                          title: 社交平台类型
                                        value:
                                          type: string
                                          title: 社交平台账号
                                      x-apifox-orders:
                                      - type
                                      - value
                                    title: 社交平台
                                required:
                                - customer_id
                                - name
                                - email
                                - tel_list
                                - contact
                                x-apifox-orders:
                                - customer_id
                                - name
                                - email
                                - tel_list
                                - contact
                              title: 联系人信息
                            lead_customer_info:
                              type: 'null'
                              title: 线索联系人信息
                            file_info:
                              type: 'null'
                              title: 附件
                          required:
                          - follow_up_id
                          - trail_id
                          - type
                          - client_id
                          - create_user
                          - refer_id
                          - content
                          - file_ids
                          - enable_flag
                          - created_at
                          - create_time
                          - update_time
                          - company_id
                          - customer_id
                          - lead_id
                          - lead_customer_id
                          - opportunity_id
                          - delete_flag
                          - inquiry_id
                          - track_session_no
                          - comment_count
                          - company_info
                          - lead_info
                          - opportunity_info
                          - create_user_info
                          - customer_info
                          - lead_customer_info
                          - file_info
                          x-apifox-orders:
                          - follow_up_id
                          - trail_id
                          - type
                          - client_id
                          - create_user
                          - refer_id
                          - content
                          - file_ids
                          - enable_flag
                          - created_at
                          - create_time
                          - update_time
                          - company_id
                          - customer_id
                          - lead_id
                          - lead_customer_id
                          - opportunity_id
                          - delete_flag
                          - inquiry_id
                          - track_session_no
                          - comment_count
                          - company_info
                          - lead_info
                          - opportunity_info
                          - create_user_info
                          - customer_info
                          - lead_customer_info
                          - file_info
                      totalItem:
                        type: integer
                        title: 总数
                    required:
                    - list
                    - totalItem
                    x-apifox-orders:
                    - list
                    - totalItem
                required:
                - code
                - message
                - now
                - data
                x-apifox-orders:
                - code
                - message
                - now
                - data
              example:
                code: 200
                message: success
                now: '2024-11-04 10:49:07'
                data:
                  list:
                  - follow_up_id: 25646265871661
                    trail_id: 25646265871658
                    type: 101
                    client_id: 23412
                    create_user: 55938259
                    refer_id: 25646265871661
                    content: 跟进
                    file_ids: []
                    enable_flag: 1
                    created_at: '2024-08-20 10:48:42'
                    create_time: '2024-08-20 10:48:42'
                    update_time: '2024-08-20 10:48:42'
                    company_id: 16696797769
                    customer_id:
                    - 4415640999551
                    lead_id: 0
                    lead_customer_id: []
                    opportunity_id: 0
                    delete_flag: 0
                    inquiry_id: 0
                    track_session_no: 0
                    comment_count: 0
                    company_info:
                      company_id: 16696797769
                      name: 小满的客户021
                      is_archive: 1
                    lead_info: []
                    opportunity_info: []
                    create_user_info:
                      user_id: '55938259'
                      nickname: CXK
                      avatar: ''
                    customer_info:
                    - customer_id: 4415640999551
                      name: 满021
                      email: xiaoman@mantest.com
                      tel_list: []
                      contact: []
                    lead_customer_info: null
                    file_info: null
                  - follow_up_id: 25197419337294
                    trail_id: 25197419337290
                    type: 101
                    client_id: 23412
                    create_user: 55938259
                    refer_id: 25197419337294
                    content: 快速记录一个动态
                    file_ids: []
                    enable_flag: 1
                    created_at: '2024-08-12 17:10:07'
                    create_time: '2024-08-12 17:10:07'
                    update_time: '2024-08-12 17:10:07'
                    company_id: 16696797769
                    customer_id: []
                    lead_id: 0
                    lead_customer_id: []
                    opportunity_id: 23273099298949
                    delete_flag: 0
                    inquiry_id: 0
                    track_session_no: 0
                    comment_count: 0
                    company_info:
                      company_id: 16696797769
                      name: 小满的客户021
                      is_archive: 1
                    lead_info: []
                    opportunity_info:
                      opportunity_id: 23273099298949
                      name: 小满的客户02120240708比利时
                    create_user_info:
                      user_id: '55938259'
                      nickname: CXK
                      avatar: ''
                    customer_info: null
                    lead_customer_info: null
                    file_info: null
                  - follow_up_id: 10452468112776
                    trail_id: 10452468112775
                    type: 101
                    client_id: 23412
                    create_user: 55281444
                    refer_id: 10452468112776
                    content: 发给h
                    file_ids: []
                    enable_flag: 1
                    created_at: '2023-08-31 15:00:31'
                    create_time: '2023-08-31 15:00:27'
                    update_time: '2023-08-31 15:00:31'
                    company_id: 16696797769
                    customer_id: []
                    lead_id: 0
                    lead_customer_id: []
                    opportunity_id: 0
                    delete_flag: 0
                    inquiry_id: 0
                    track_session_no: 0
                    comment_count: 0
                    company_info:
                      company_id: 16696797769
                      name: 小满的客户021
                      is_archive: 1
                    lead_info: []
                    opportunity_info: []
                    create_user_info:
                      user_id: '55281444'
                      nickname: 张三
                      avatar: ''
                    customer_info: null
                    lead_customer_info: null
                    file_info: null
                  - follow_up_id: 8390479839359
                    trail_id: 8390479839358
                    type: 102
                    client_id: 23412
                    create_user: 55281444
                    refer_id: 8390479839359
                    content: ''
                    file_ids: []
                    enable_flag: 1
                    created_at: '2023-06-25 15:47:32'
                    create_time: '2023-06-19 15:14:41'
                    update_time: '2023-06-25 15:47:32'
                    company_id: 16696797769
                    customer_id: []
                    lead_id: 0
                    lead_customer_id: []
                    opportunity_id: 1418441883793
                    delete_flag: 0
                    inquiry_id: 0
                    track_session_no: 0
                    comment_count: 0
                    company_info:
                      company_id: 16696797769
                      name: 小满的客户021
                      is_archive: 1
                    lead_info: []
                    opportunity_info:
                      opportunity_id: 1418441883793
                      name: zz测试商机
                    create_user_info:
                      user_id: '55281444'
                      nickname: 张三
                      avatar: ''
                    customer_info: null
                    lead_customer_info: null
                    file_info: null
                  - follow_up_id: 5379694081532
                    trail_id: 5379694081528
                    type: 101
                    client_id: 23412
                    create_user: 55281444
                    refer_id: 5379694081532
                    content: '本次跟进原因：XXX

                      主要沟通内容：XXX

                      其他：XX'
                    file_ids: []
                    enable_flag: 1
                    created_at: '2023-01-17 14:46:07'
                    create_time: '2023-01-17 14:46:07'
                    update_time: '2023-01-17 14:46:07'
                    company_id: 16696797769
                    customer_id:
                    - 4415640999551
                    lead_id: 0
                    lead_customer_id: []
                    opportunity_id: 0
                    delete_flag: 0
                    inquiry_id: 0
                    track_session_no: 0
                    comment_count: 0
                    company_info:
                      company_id: 16696797769
                      name: 小满的客户021
                      is_archive: 1
                    lead_info: []
                    opportunity_info: []
                    create_user_info:
                      user_id: '55281444'
                      nickname: 张三
                      avatar: ''
                    customer_info:
                    - customer_id: 4415640999551
                      name: 满021
                      email: man@mantest.com
                      tel_list: []
                      contact: []
                    lead_customer_info: null
                    file_info: null
                  - follow_up_id: 1632775077230
                    trail_id: 1632775077227
                    type: 101
                    client_id: 23412
                    create_user: 55281444
                    refer_id: 1632775077230
                    content: 电话联系
                    file_ids: []
                    enable_flag: 1
                    created_at: '2022-01-28 17:14:55'
                    create_time: '2022-01-28 05:14:55'
                    update_time: '2022-01-28 17:14:55'
                    company_id: 16696797769
                    customer_id:
                    - 16696797694
                    lead_id: 0
                    lead_customer_id: []
                    opportunity_id: 0
                    delete_flag: 0
                    inquiry_id: 0
                    track_session_no: 0
                    comment_count: 0
                    company_info:
                      company_id: 16696797769
                      name: 小满的客户021
                      is_archive: 1
                    lead_info: []
                    opportunity_info: []
                    create_user_info:
                      user_id: '55281444'
                      nickname: 张三
                      avatar: ''
                    customer_info:
                    - customer_id: 16696797694
                      name: 张先生
                      email: 99999@129.com
                      tel_list:
                      - - '355'
                        - '123456'
                      contact:
                      - type: whatsapp
                        value: 86 180 8882 2256
                    lead_customer_info: null
                    file_info: null
                  totalItem: 6
          headers: {}
          x-apifox-name: 成功
      security: []
      x-apifox-folder: 客户
      x-apifox-status: released
      operationId: get_v1_dynamic_trail_list
      x-local-source-path: sources/pages/api-3478244.md
      x-source-id: api-3478244
      x-source-title: 跟进动态查询接口
      x-source-module: 客户
  /v1/company/push/customer:
    post:
      summary: 新增客户的联系人（待修改）
      deprecated: false
      description: ''
      tags:
      - 客户
      parameters:
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                company_id:
                  type: integer
                  x-apifox-mock: '1'
                  description: 客户ID
                serial_id:
                  type: string
                  description: 客户编号
                  x-apifox-mock: '1'
                name:
                  type: string
                  description: 联系人名称
                tel_area_code:
                  type: string
                  description: 联系人电话区号
                tel:
                  type: string
                  description: 联系人电话号码
              x-apifox-orders:
              - 01JNJHM0NHFM8AC7TT1Y52JSJS
              x-apifox-refs:
                01JNJHM0NHFM8AC7TT1Y52JSJS:
                  $ref: '#/components/schemas/%E6%96%B0%E5%A2%9E%E5%AE%A2%E6%88%B7%E8%81%94%E7%B3%BB%E4%BA%BA'
              x-apifox-ignore-properties:
              - company_id
              - serial_id
              - name
              - tel_area_code
              - tel
            example: "{\n    \"company_id\": 352023380, //新建时不需要传递，或者传0\n    \"user_id\": 11858711, //操作人ID\n    \"is_public\"\
              : 1,\n    \"serial_id\": \"\", //客户编号\n    \"name\": \"open-api+{{$date.millisecondsTimestamp}}\", //客户名称\n\
              \    \"short_name\": \"客户简称+{{$location.street}}\",\n    \"country\": \"CN\",\n    \"province\": \"陕西省\",\n\
              \    \"city\": \"西安市\",\n    \"tel_area_code\": \"86\",\n    \"tel\": \"18920938291\",\n    \"fax\": \"\",\n\
              \    \"group_id\": 0, //客户分组ID\n    \"pool_id\": 0, //公海分组ID\n    \"origin_list\": [\n        14\n    ], //来源ID列表\n\
              \    \"trail_status\": 0,\n    \"biz_type\": \"生产商\", //客户类型 来自客户枚举接口\n    \"cus_tag\": [\n        0\n    ],\
              \ //客户标签 来自客户枚举接口\n    \"address\": \"地址{{$location.secondaryAddress}}\", //详细地址\n    \"remark\": \"公司备注\",\
              \ //客户备注\n    \"homepage\": \"www.ali.com\",\n    \"star\": 4, //客户星级 来自客户枚举接口\n    \"intention_level\": 1,\
              \ //采购意向 来自客户枚举接口\n    \"annual_procurement\": 0, //年采购额 来自客户枚举接口\n    \"timezone\": 5, //时区 来自客户枚举接口\n    \"\
              scale_id\": 2, //规模 来自客户枚举接口\n    \"image_list\": [],\n    \"317003909\": \"文本字段\",\n    \"319333155\": \"文本字段\"\
              ,\n    \"319354587\": \"文本字段\",\n    \"319357955\": \"A\",\n    \"348142520\": \"文本字段\",\n    \"348159705\"\
              : \"多行文本本测试 嘻嘻哈哈\",\n    \"348160052\": \"选项一\",\n    \"348174646\": \"2026-05-08\",\n    \"348174892\": 100,\n\
              \    \"348175131\": [],\n    \"348175368\": [\n        \"选项一\"\n    ],\n    \"348175638\": \"2026-05-08 10:00:00\"\
              ,\n    \"348175873\": 0.5,\n    \"348194943\": \"文本字段\",\n    \"348195993\": \"文本字段\",\n    \"348196009\": \"\
              多行文本本测试 嘻嘻哈哈\",\n    \"348196022\": \"选项一\",\n    \"348196037\": \"2026-05-08\",\n    \"348196049\": 100,\n\
              \    \"348196054\": [],\n    \"348196060\": [\n        \"选项一\"\n    ],\n    \"348196066\": \"2026-05-08 10:00:00\"\
              ,\n    \"1101101837\": \"客户1-edit\",\n    \"1101101838\": \"2026-05-08\",\n    \"1101101839\": 100,\n    \"\
              1101101840\": [\n        \"客户多选2-edit\"\n    ],\n    \"1101101841\": \"2026-05-08 10:00:00\",\n    \"1102603643\"\
              : \"文本字段\",\n    \"1105128163\": \"客户1-edit\",\n    \"1105128171\": \"2026-05-08\",\n    \"1105162749\": \"\
              多行文本本测试 嘻嘻哈哈\",\n    \"1514096184\": \"文本字段\",\n    \"3082019289\": \"2026-05-08 10:00:00\",\n    \"3455469523\"\
              : \"文本字段\",\n    \"3493496861\": \"文本字段\",\n    \"3493497310\": \"多行文本本测试 嘻嘻哈哈\",\n    \"3493497316\": \"公司选项1\"\
              ,\n    \"3493497327\": [\n        \"公司选项A\"\n    ],\n    \"3493497331\": \"2026-05-08\",\n    \"3493497349\"\
              : 100,\n    \"3493497372\": [],\n    \"3493497382\": \"2026-05-08 10:00:00\",\n    \"3555002419\": [],\n   \
              \ \"58218823169\": \"\",\n    \"58214487467\": \"优质\",\n    \"58199842716\": \"2026-05-08\",\n    \"58161687747\"\
              : \"111\",\n    \"57665595218\": \"文本字段\",\n    \"57665415410\": \"2026-05-08 10:00:00\",\n    \"57665401469\"\
              : 0.5,\n    \"57665083623\": \"1\",\n    \"57664468368\": \"多行文本本测试 嘻嘻哈哈\",\n    \"57607745365\": \"多行文本本测试\
              \ 嘻嘻哈哈\",\n    \"57563952576\": \"文本字段\",\n    \"57236146973\": \"多行文本本测试 嘻嘻哈哈\",\n    \"57236146540\": \"文本字段\"\
              ,\n    \"57236146342\": \"文本字段\",\n    \"57234714818\": 100,\n    \"57234714792\": 100,\n    \"57229828373\"\
              : \"文本字段\",\n    \"57221915113\": [\n        \"1\"\n    ],\n    \"57172556677\": \"2026-05-08\",\n    \"55905073554\"\
              : 0.5,\n    \"5218116642\": [\n        \"客户下拉多选2\"\n    ],\n    \"next_follow_up_time\": \"2025-03-03 00:00:00\"\
              , //下次跟进时间\n    \"category_ids\": [\n        [\n            3\n        ]\n    ], //主营产品ID\n    \"product_group_ids\"\
              : [], //产品分组ID\n    \"customers\": [\n        {\n            \"customer_id\": 0, ///新建时不需要传递，或者传0\n        \
              \    \"name\": \"联系人昵称0310{{$date.timestamp}}\",\n            \"email\": \"{{$date.timestamp}}@sdc.com\",\n\
              \            \"tel\": \"\",\n            \"tel_area_code\": \"86\",\n            \"post_grade\": 2,\n      \
              \      \"post\": \"职位\",\n            // \"qq\": \"\",\n            // \"linkedin\": \"\",\n            // \"\
              skype\": \"\",\n            // \"whatsapp\": \"\",\n            // \"facebook\": \"\",\n            // \"wechat\"\
              : \"\",\n            // \"twitter\": \"\",\n            \"birth\": \"2025-03-13\",\n            \"gender\":\
              \ 1, //性别 男1 女\n            \"remark\": \"\", //联系人备注\n            \"main_customer_flag\": 0, //是否是主联系人 1:是\
              \ 0:否\n            \"image_list\": [],\n            \"351584883\": 12,\n            \"351584919\": [],\n   \
              \         \"351584929\": \"2026-05-08 10:00:00\",\n            \"1102611670\": \"多行文本本测试 嘻嘻哈哈\",\n         \
              \   \"1102611671\": \"剪刀\",\n            \"1102611672\": [\n                \"小美\"\n            ],\n       \
              \     \"1102611675\": 100,\n            \"1105746753\": \"文本字段\",\n            \"3405202841\": \"2026-05-08\
              \ 10:00:00\",\n            \"3450371581\": \"3\",\n            \"3450423112\": \"文本字段\",\n            \"3450431094\"\
              : \"文本字段\",\n            \"3555007283\": [],\n            \"57664812592\": \"文本字段\",\n            \"57236077114\"\
              : \"多行文本本测试\\n嘻嘻哈哈111122\",\n            \"57236076922\": \"文本字段\"\n        }\n    ]\n}"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-apifox-orders: []
                x-apifox-ignore-properties: []
          headers: {}
          x-apifox-name: 成功
        x-200:请求成功:
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                x-apifox-orders:
                - code
                - msg
                x-apifox-ignore-properties: []
              example:
                msg: success
                code: 0
          headers: {}
          x-apifox-name: 请求成功
      security: []
      x-apifox-folder: 客户
      x-apifox-status: released
      operationId: post_v1_company_push_customer
      x-local-source-path: sources/pages/api-3484681.md
      x-source-id: api-3484681
      x-source-title: 新增客户的联系人（待修改）
      x-source-module: 客户
  /v1/dynamic/trail/push:
    post:
      summary: 提交跟进动态
      deprecated: false
      description: '## 错误码解释

        | 异常码 | 异常消息 |异常解决方案|

        | --- | --- | --- |

        | -1 | 不支持的类型| remark_type传递有误，不在允许的范围内 |

        | -1 | 备注内容不能为空| content传递为空 |

        |-1 |lead_id and company_id and opportunity_id is empty|lead_id 与company_id 与 opportunity_id ，需要传递其中某一项|

        '
      tags:
      - 客户
      - s7.1
      parameters:
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                company_id:
                  type: integer
                  x-apifox-mock: '1'
                  description: 客户ID
                lead_id:
                  type: integer
                  x-apifox-mock: '1'
                  description: 线索ID
                content:
                  type: string
                  x-apifox-mock: 内容
                  description: 动态内容
                remark_type:
                  type: integer
                  description: 跟进动态类型 默认101 101:快速记录 102:关联邮件备注 103:电话 104:会面 105:社交平台 106:总部拜访 107:办事处拜访 108:来访总部 109:来访办事处
                    110:邮件 111:客户拜访 112:日程跟进
                  x-apifox-mock: '101'
                opportunity_id:
                  type: integer
                  description: 商机ID
              x-apifox-orders:
              - company_id
              - lead_id
              - opportunity_id
              - content
              - remark_type
            example: "//新增客户写跟进\n{\n    \"company_id\": 5202566012,\n    \"lead_id\": \"\",\n    \"remark_type\":102,\n  \
              \  \"content\": \"测试内容\"\n}\n\n//新增线索写跟进\n{\n    \"company_id\": \"\",\n    \"lead_id\": 52025660142,\n    \"\
              remark_type\":103,\n    \"content\": \"测试内容\"\n}\n\n//新增商机写跟进\n{\n    \"opportunity_id\": 34545645767,\n   \
              \ \"company_id\": \"\",\n    \"lead_id\": \"\",\n    \"remark_type\":104,\n    \"content\": \"测试内容\"\n}\n"
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  now:
                    type: string
                  data:
                    type: object
                    properties:
                      trail_id:
                        type: integer
                        description: 动态ID
                    required:
                    - trail_id
                    x-apifox-orders:
                    - trail_id
                required:
                - code
                - message
                - now
                - data
                x-apifox-orders:
                - code
                - message
                - now
                - data
              example:
                code: 200
                message: success
                now: '2019-10-12 14:47:33'
                data:
                  trail_id: 1101090505
          headers: {}
          x-apifox-name: 成功
        x-200:请求成功:
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                x-apifox-orders:
                - code
                - msg
              example:
                msg: success
                code: 0
          headers: {}
          x-apifox-name: 请求成功
      security: []
      x-apifox-folder: 客户
      x-apifox-status: released
      operationId: post_v1_dynamic_trail_push
      x-local-source-path: sources/pages/api-3484682.md
      x-source-id: api-3484682
      x-source-title: 提交跟进动态
      x-source-module: 客户
  /v1/company/pushGroup:
    post:
      summary: 客户分组新增/编辑
      deprecated: false
      description: '## 错误码解释

        | 异常码 | 异常消息 |异常解决方案|

        | --- | --- | --- |

        | -1 | 分组不存在 | 检查传入的group_id是否正确|'
      tags:
      - 客户
      - s7.1
      parameters:
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                group_id:
                  type: integer
                  title: 客户分组ID
                  description: '编辑时候需要传递

                    传入值来自/v1/company/fields/selector?field=group_id返回值data中的id '
                group_name:
                  type: string
                  description: 客户分组名称
                parent_id:
                  type: integer
                  x-apifox-mock: '0'
                  description: 客户分组父级ID
                owner_ids:
                  type: string
                  x-apifox-mock: '[1]'
                  description: '客户分组可用成员，用户ID列表

                    数据来自/v1/user/list接口中data下面的user_id'
              x-apifox-orders:
              - group_id
              - group_name
              - parent_id
              - owner_ids
              required:
              - group_name
            example:
              group_id: 0
              group_name: string
              parent_id: null
              owner_ids: null
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  now:
                    type: string
                  data:
                    type: object
                    properties:
                      group_id:
                        type: string
                        description: 客户分组ID
                    required:
                    - group_id
                    x-apifox-orders:
                    - group_id
                required:
                - code
                - msg
                - now
                - data
                x-apifox-orders:
                - code
                - msg
                - now
                - data
              example:
                code: 0
                msg: success
                now: '2022-04-11 16:33:40'
                data:
                  group_id: '3137319521'
          headers: {}
          x-apifox-name: 成功
        x-200:请求成功:
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                x-apifox-orders:
                - code
                - msg
              example:
                msg: success
                code: 0
          headers: {}
          x-apifox-name: 请求成功
      security: []
      x-apifox-folder: 客户
      x-apifox-status: released
      operationId: post_v1_company_pushgroup
      x-local-source-path: sources/pages/api-3484700.md
      x-source-id: api-3484700
      x-source-title: 客户分组新增/编辑
      x-source-module: 客户
  /v1/company/removeGroup:
    post:
      summary: 删除客户分组
      deprecated: false
      description: '| 异常码 | 异常消息 |异常解决方案|

        | --- | --- | --- |

        | 404 | 系统分组无法被删除 | 替换传入的客户分组id |'
      tags:
      - 客户
      - s7.1
      parameters:
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                group_id:
                  description: '客户分组ID

                    传入值来自/v1/company/fields/selector?field=group_id返回值'
                  example: 5198395618
                  type: integer
              required:
              - group_id
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  now:
                    type: string
                  data:
                    type: object
                    properties:
                      group_id:
                        type: string
                        description: 客户分组ID
                    required:
                    - group_id
                    x-apifox-orders:
                    - group_id
                required:
                - code
                - msg
                - now
                - data
                x-apifox-orders:
                - code
                - msg
                - now
                - data
              example:
                code: 0
                msg: success
                now: '2022-04-11 16:33:40'
                data:
                  group_id: '1'
          headers: {}
          x-apifox-name: 成功
        x-200:请求成功:
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                x-apifox-orders:
                - code
                - msg
              example:
                msg: success
                code: 0
          headers: {}
          x-apifox-name: 请求成功
      security: []
      x-apifox-folder: 客户
      x-apifox-status: released
      operationId: post_v1_company_removegroup
      x-local-source-path: sources/pages/api-3484701.md
      x-source-id: api-3484701
      x-source-title: 删除客户分组
      x-source-module: 客户
  /v1/company/pushTrail:
    post:
      summary: 客户阶段新增/编辑
      deprecated: false
      description: '| 异常码 | 异常消息 |异常解决方案|

        | --- | --- | --- |

        | 404 | 分类设置不存在 | 检查客户阶段ID传入是否有误 |'
      tags:
      - 客户
      - s7.1
      parameters:
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                trail_id:
                  type: integer
                  description: '客户阶段ID，编辑时必填

                    传入值来自/v1/company/fields/selector返回值'
                trail_name:
                  type: string
                  description: 客户阶段名称，必填
                trail_color:
                  type: string
                  description: 客户阶段颜色，非必填，例子#188ae8
              required:
              - trail_name
              x-apifox-orders:
              - trail_id
              - trail_name
              - trail_color
            example:
              trail_id: 0
              trail_name: string
              trail_color: null
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  now:
                    type: string
                  data:
                    type: object
                    properties:
                      trail_id:
                        type: string
                        description: 客户阶段ID
                    required:
                    - trail_id
                    x-apifox-orders:
                    - trail_id
                required:
                - code
                - msg
                - now
                - data
                x-apifox-orders:
                - code
                - msg
                - now
                - data
              example:
                code: 0
                msg: success
                now: '2022-04-11 16:33:40'
                data:
                  trail_id: '3137319521'
          headers: {}
          x-apifox-name: 成功
        x-200:请求成功:
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                x-apifox-orders:
                - code
                - msg
              example:
                msg: success
                code: 0
          headers: {}
          x-apifox-name: 请求成功
      security: []
      x-apifox-folder: 客户
      x-apifox-status: released
      operationId: post_v1_company_pushtrail
      x-local-source-path: sources/pages/api-3484702.md
      x-source-id: api-3484702
      x-source-title: 客户阶段新增/编辑
      x-source-module: 客户
  /v1/company/removeTrail:
    post:
      summary: 删除客户阶段
      deprecated: false
      description: '| 异常码 | 异常消息 |异常解决方案|

        | --- | --- | --- |

        | 400 | Invalid query | trail_id 或者 to_trail_id没有传入，或者传入为空 |

        '
      tags:
      - 客户
      - s7.1
      parameters:
      - name: trail_id
        in: query
        description: '客户阶段ID

          传入值来自/v1/company/fields/selector返回值'
        required: true
        example: 3555516886
        schema:
          type: integer
      - name: to_trail_id
        in: query
        description: '被删除客户阶段若有应用被前往这个客户阶段ID

          传入值来自/v1/company/fields/selector返回值'
        required: true
        example: 1101043657
        schema:
          type: integer
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  now:
                    type: string
                  data:
                    type: object
                    properties:
                      trail_id:
                        type: integer
                        description: 客户阶段
                    required:
                    - trail_id
                    x-apifox-orders:
                    - trail_id
                required:
                - code
                - msg
                - now
                - data
                x-apifox-orders:
                - code
                - msg
                - now
                - data
              example:
                code: 0
                msg: success
                now: '2022-04-11 16:33:40'
                data:
                  trail_id: '1'
          headers: {}
          x-apifox-name: 成功
        x-200:请求成功:
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                x-apifox-orders:
                - code
                - msg
              example:
                msg: success
                code: 0
          headers: {}
          x-apifox-name: 请求成功
      security: []
      x-apifox-folder: 客户
      x-apifox-status: released
      operationId: post_v1_company_removetrail
      x-local-source-path: sources/pages/api-3484703.md
      x-source-id: api-3484703
      x-source-title: 删除客户阶段
      x-source-module: 客户
  /v1/company/pushTag:
    post:
      summary: 客户标签新增/编辑
      deprecated: false
      description: ''
      tags:
      - 客户
      - s7.1
      parameters:
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tag_id:
                  type: integer
                  description: '客户标签ID，编辑时必填

                    传入值来自/v1/company/companyEnums返回值中的tag_list'
                tag_name:
                  type: string
                  description: 客户标签名称，必填
                tag_color:
                  type: string
                  x-apifox-mock: '#188ae8'
                  description: 客户标签颜色，非必填，例子#188ae8
              x-apifox-orders:
              - tag_id
              - tag_name
              - tag_color
              required:
              - tag_name
            example: 'tag_id,integer,false,,客户标签ID，编辑时必填

              tag_name,string,true,,客户标签名称，必填

              tag_color,string,false,#188ae8,客户标签颜色，非必填，例子#188ae8

              '
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  now:
                    type: string
                  data:
                    type: object
                    properties:
                      tag_id:
                        type: string
                        description: 标签ID
                    required:
                    - tag_id
                    x-apifox-orders:
                    - tag_id
                required:
                - code
                - msg
                - now
                - data
                x-apifox-orders:
                - code
                - msg
                - now
                - data
              example:
                code: 0
                msg: success
                now: '2022-04-11 16:33:40'
                data:
                  tag_id: '3137319521'
          headers: {}
          x-apifox-name: 成功
        x-200:请求成功:
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                x-apifox-orders:
                - code
                - msg
              example:
                msg: success
                code: 0
          headers: {}
          x-apifox-name: 请求成功
      security: []
      x-apifox-folder: 客户
      x-apifox-status: released
      operationId: post_v1_company_pushtag
      x-local-source-path: sources/pages/api-3484704.md
      x-source-id: api-3484704
      x-source-title: 客户标签新增/编辑
      x-source-module: 客户
  /v1/company/removeTag:
    post:
      summary: 删除客户标签
      deprecated: false
      description: '| 异常码 | 异常消息 |异常解决方案|

        | --- | --- | --- |

        |400 | Invalid query | tag_id传递为空或者为0|'
      tags:
      - 客户
      parameters:
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                tag_id:
                  description: "客户标签ID \n传入值来自/v1/company/companyEnums返回值中的tag_list"
                  example: 45
                  type: integer
              required:
              - tag_id
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                  now:
                    type: string
                  data:
                    type: object
                    properties:
                      tag_id:
                        type: string
                        description: 标签ID
                    required:
                    - tag_id
                    x-apifox-orders:
                    - tag_id
                required:
                - code
                - msg
                - now
                - data
                x-apifox-orders:
                - code
                - msg
                - now
                - data
              example:
                code: 0
                msg: success
                now: '2022-04-11 16:33:40'
                data:
                  tag_id: '1'
          headers: {}
          x-apifox-name: 成功
        x-200:请求成功:
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                x-apifox-orders:
                - code
                - msg
              example:
                msg: success
                code: 0
          headers: {}
          x-apifox-name: 请求成功
      security: []
      x-apifox-folder: 客户
      x-apifox-status: released
      operationId: post_v1_company_removetag
      x-local-source-path: sources/pages/api-3484705.md
      x-source-id: api-3484705
      x-source-title: 删除客户标签
      x-source-module: 客户
  /v1/company/companyEnums:
    get:
      summary: 客户枚举:客户类型，客户标签，时区，规模，星级，采购意向，采购额度，职级
      deprecated: false
      description: ''
      tags:
      - 客户
      parameters:
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  now:
                    type: string
                  data:
                    type: object
                    properties:
                      biz_type_list:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                            name:
                              type: string
                          required:
                          - code
                          - name
                          x-apifox-orders:
                          - code
                          - name
                        description: 客户类型
                      tag_list:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                            name:
                              type: string
                          x-apifox-orders:
                          - code
                          - name
                        description: 客户标签
                      timezone_list:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: integer
                            name:
                              type: string
                          required:
                          - code
                          - name
                          x-apifox-orders:
                          - code
                          - name
                        description: 时区
                      scale_list:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: integer
                            name:
                              type: object
                              properties:
                                min:
                                  type: integer
                                max:
                                  type: integer
                              required:
                              - min
                              - max
                              x-apifox-orders:
                              - min
                              - max
                          required:
                          - code
                          - name
                          x-apifox-orders:
                          - code
                          - name
                        description: 规模
                      star_list:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: integer
                            name:
                              type: string
                          required:
                          - code
                          - name
                          x-apifox-orders:
                          - code
                          - name
                        description: 星级
                      intention_level_list:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: integer
                            name:
                              type: string
                          required:
                          - code
                          - name
                          x-apifox-orders:
                          - code
                          - name
                        description: 采购意向
                      annual_procurement_list:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: integer
                            name:
                              type: string
                          required:
                          - code
                          - name
                          x-apifox-orders:
                          - code
                          - name
                        description: 采购额度
                      post_grade_list:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: integer
                            name:
                              type: string
                          required:
                          - code
                          - name
                          x-apifox-orders:
                          - code
                          - name
                        description: 职级
                    required:
                    - biz_type_list
                    - tag_list
                    - timezone_list
                    - scale_list
                    - star_list
                    - intention_level_list
                    - annual_procurement_list
                    - post_grade_list
                    x-apifox-orders:
                    - biz_type_list
                    - tag_list
                    - timezone_list
                    - scale_list
                    - star_list
                    - intention_level_list
                    - annual_procurement_list
                    - post_grade_list
                  msg:
                    type: string
                required:
                - code
                - message
                - now
                - data
                - msg
                x-apifox-orders:
                - code
                - message
                - now
                - data
                - msg
              example:
                code: 200
                message: success
                now: '2025-03-05 16:20:34'
                data:
                  biz_type_list:
                  - code: 原材料供应商
                    name: 原材料供应商
                  - code: 生产商
                    name: 生产商
                  - code: 加盟商
                    name: 加盟商
                  - code: 渠道商
                    name: 渠道商
                  - code: 贸易商
                    name: 贸易商
                  - code: 代理商
                    name: 代理商
                  - code: 批发商
                    name: 批发商
                  - code: 分销商
                    name: 分销商
                  - code: 代销商
                    name: 代销商
                  - code: 零售商
                    name: 零售商
                  - code: 采购办事处
                    name: 采购办事处
                  - code: 采购咨询公司
                    name: 采购咨询公司
                  - code: 出口商
                    name: 出口商
                  - code: 进口商
                    name: 进口商
                  - code: 个人消费者
                    name: 个人消费者
                  - code: 机构/团体消费者
                    name: 机构/团体消费者
                  - code: 工程商
                    name: 工程商
                  - code: 其他
                    name: 其他
                  - code: 未分组
                    name: 未分组
                  tag_list:
                  - code: '5203219997'
                    name: 蒿悦2
                  timezone_list:
                  - code: 0
                    name: 零时区：伦敦
                  - code: 1
                    name: 东一区：罗马，巴黎
                  - code: 2
                    name: 东二区：雅典，以色列
                  - code: 3
                    name: 东三区：莫斯科，科威特
                  - code: 4
                    name: 东四区：喀布尔
                  - code: 5
                    name: 东五区：伊斯兰堡，卡拉奇
                  - code: 6
                    name: 东六区：阿拉木图，科伦坡
                  - code: 7
                    name: 东七区：曼谷，雅加达
                  - code: 8
                    name: 东八区：北京，香港，台湾
                  - code: 9
                    name: 东九区：东京
                  - code: 10
                    name: 东十区：悉尼
                  - code: 11
                    name: 东十一区：霍尼亚拉，马加丹
                  - code: 12
                    name: 东西十二区=> 奥克兰
                  - code: -11
                    name: 西十一区：帕果帕果，阿洛菲
                  - code: -10
                    name: 西十区：夏威夷
                  - code: -9
                    name: 西九区：阿拉斯加
                  - code: -8
                    name: 西八区：洛杉矶，旧金山
                  - code: -7
                    name: 西七区：盐湖城、丹佛、凤凰城
                  - code: -6
                    name: 西六区：芝加哥，休斯顿，亚特兰大
                  - code: -5
                    name: 西五区：纽约，华盛顿，波士顿
                  - code: -4
                    name: 西四区：加拿大，加拉加斯
                  - code: -3
                    name: 西三区：巴西利亚
                  - code: -2
                    name: 西二区：协调世界时
                  - code: -1
                    name: 西一区：佛得角群岛
                  scale_list:
                  - code: 1
                    name:
                      min: 1
                      max: 59
                  - code: 2
                    name:
                      min: 60
                      max: 149
                  - code: 3
                    name:
                      min: 150
                      max: 499
                  - code: 4
                    name:
                      min: 500
                      max: 999
                  - code: 5
                    name:
                      min: 1000
                      max: 4999
                  - code: 6
                    name:
                      min: 5000
                      max: 999999999
                  star_list:
                  - code: 0
                    name: 0星
                  - code: 1
                    name: 1星
                  - code: 2
                    name: 2星
                  - code: 3
                    name: 3星
                  - code: 4
                    name: 4星
                  - code: 5
                    name: 5星
                  intention_level_list:
                  - code: 0
                    name: 未知
                  - code: 1
                    name: 低
                  - code: 2
                    name: 中
                  - code: 3
                    name: 高
                  annual_procurement_list:
                  - code: 0
                    name: 无采购额
                  - code: 1
                    name: 0~1千美元
                  - code: 2
                    name: 1千～5千美元
                  - code: 3
                    name: 5千～1万美元
                  - code: 4
                    name: 1万～3万美元
                  - code: 5
                    name: 3万～5万美元
                  - code: 6
                    name: 5万～10万美元
                  - code: 7
                    name: 10万～30万美元
                  - code: 8
                    name: 30万～50万美元
                  - code: 9
                    name: 50万～100万美元
                  - code: 10
                    name: 100万～500万美元
                  - code: 11
                    name: 500万美元以上
                  post_grade_list:
                  - code: 1
                    name: 普通职员
                  - code: 2
                    name: 中层管理者
                  - code: 3
                    name: 高层管理者
          headers: {}
          x-apifox-name: 成功
        x-200:请求成功:
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                x-apifox-orders:
                - code
                - msg
              example:
                msg: success
                code: 0
          headers: {}
          x-apifox-name: 请求成功
      security: []
      x-apifox-folder: 客户
      x-apifox-status: released
      operationId: get_v1_company_companyenums
      x-local-source-path: sources/pages/api-3484706.md
      x-source-id: api-3484706
      x-source-title: 客户枚举:客户类型，客户标签，时区，规模，星级，采购意向，采购额度，职级
      x-source-module: 客户
  /v1/company/moveToPublic:
    post:
      summary: 移入公海
      deprecated: false
      description: ''
      tags:
      - 客户
      parameters:
      - name: Authorization
        in: header
        description: ''
        required: true
        example: REDACTED_JWT
        schema:
          type: string
      - name: Content-Type
        in: header
        description: ''
        required: true
        example: application/json
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                company_id:
                  type: integer
                  title: 客户ID
                user_id:
                  type: integer
                public_reason_id:
                  type: integer
                  title: 移入公海原因
                pool_id:
                  type: integer
                  title: 公海分组ID
              required:
              - company_id
              x-apifox-orders:
              - company_id
              - user_id
              - public_reason_id
              - pool_id
            example:
              company_id: 0
              serial_id: string
              name: string
              tel_area_code: string
              tel: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  now:
                    type: string
                  data:
                    type: object
                    properties:
                      company_id:
                        type: string
                      affected_rows:
                        type: integer
                        title: 影响行数
                    required:
                    - company_id
                    - affected_rows
                    x-apifox-orders:
                    - company_id
                    - affected_rows
                required:
                - code
                - message
                - now
                - data
                x-apifox-orders:
                - code
                - message
                - now
                - data
              example:
                code: 200
                message: success
                now: '2025-07-29 11:13:25'
                data:
                  company_id: '3159949014'
                  affected_rows: 0
          headers: {}
          x-apifox-name: 成功
        x-200:请求成功:
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                x-apifox-orders:
                - code
                - msg
              example:
                msg: success
                code: 0
          headers: {}
          x-apifox-name: 请求成功
      security: []
      x-apifox-folder: 客户
      x-apifox-status: released
      operationId: post_v1_company_movetopublic
      x-local-source-path: sources/pages/api-3496722.md
      x-source-id: api-3496722
      x-source-title: 移入公海
      x-source-module: 客户
  /v1/company/fields:
    get:
      summary: 客户数据字典
      deprecated: false
      description: '# 字段类型有哪些

        | field_type |  |

        | --- | --- |

        | 1 | 单行文本 |

        | 2 | 多行文本 |

        | 3 | 单选，在该字段选项枚举值在返回值中的ext_info里面，可用于单据新建、编辑该字段传值 |

        | 4 | 日期，YYYY-MM-DD |

        | 5 | 数字 |

        | 6 | 图片 |

        | 7 | 多选，在该字段选项枚举值在返回值中的ext_info里面，可用于单据新建、编辑该字段传值 |

        | 8 | 附件 |

        | 9 | 关联字段 |

        | 10 | 日期时间，YYYY-MM-DD HH:mm:ss |

        | 11 | 公式 |

        | 12 | 汇总 |

        | 13 | 布尔 |

        | 17 | 状态 |

        | 18 | 阶段 |

        | 21 | 时间范围 |

        | 22 | 富文本 |

        | 23 | 引用 |


        若发现没有的字段类型可以咨询对接群，或者提客户工单。

        '
      tags:
      - 客户
      - s7.1
      parameters:
      - name: type
        in: query
        description: 'company=客户数据字典，customer=联系人数据字典 默认值: company'
        required: false
        example: company
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: REDACTED_JWT
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  now:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: 字段ID
                        name:
                          type: string
                          description: 字段名称
                        base:
                          type: integer
                          description: 是否系统字段，1=系统字段，0=自定义字段
                        field_type:
                          type: integer
                          description: "\t\n字段类型，0=特殊，1=短文本，2=长文本，3=下拉单选，4=日期，5=数字，6=图片，7=下拉多选，8=附件，9=引用字段，10=日期时间"
                        ext_info:
                          type: array
                          items:
                            type: string
                          description: 选项类型字段的值列表
                          nullable: true
                        require:
                          type: integer
                          description: 是否必填，1=必填，0=非必填
                        default:
                          type: string
                          description: 默认值
                        disable_flag:
                          type: integer
                        is_list:
                          type: integer
                      required:
                      - id
                      - name
                      - base
                      - field_type
                      - ext_info
                      - require
                      - default
                      - disable_flag
                      - is_list
                      x-apifox-orders:
                      - id
                      - name
                      - base
                      - field_type
                      - ext_info
                      - require
                      - default
                      - disable_flag
                      - is_list
                required:
                - code
                - message
                - now
                - data
                x-apifox-orders:
                - code
                - message
                - now
                - data
                $ref: '#/components/schemas/%E6%95%B0%E6%8D%AE%E5%AD%97%E5%85%B8%E5%93%8D%E5%BA%94'
              example:
                code: 200
                message: success
                now: '2025-03-04 17:12:05'
                data:
                - id: ''
                  name: 来源详情
                  base: 1
                  field_type: 7
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 1
                - id: origin_list
                  name: 客户来源
                  base: 1
                  field_type: 7
                  ext_info: null
                  require: 1
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: biz_type
                  name: 客户类型
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: scale_id
                  name: 规模
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: short_name
                  name: 简称
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: cus_tag
                  name: 客户标签
                  base: 1
                  field_type: 7
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: trail_status
                  name: 客户阶段
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: homepage
                  name: 公司网址
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: category_ids
                  name: 主营产品
                  base: 1
                  field_type: 7
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: product_group_ids
                  name: 产品分组
                  base: 1
                  field_type: 7
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: intention_level
                  name: 采购意向
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
                - id: annual_procurement
                  name: 年采购额
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: address
                  name: 详细地址
                  base: 1
                  field_type: 2
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: name
                  name: 公司名称
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 1
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: province
                  name: 省份
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: group_id
                  name: 客户分组
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: serial_id
                  name: 客户编号
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: fax
                  name: 传真
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: tel
                  name: 座机
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: country
                  name: 国家地区
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: city
                  name: 城市
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: timezone
                  name: 时区
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: remark
                  name: 公司备注
                  base: 1
                  field_type: 2
                  ext_info: null
                  require: 0
                  default: 龙琴
                  disable_flag: 0
                  is_list: 0
                - id: image_list
                  name: 公司logo
                  base: 1
                  field_type: 6
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: next_follow_up_time
                  name: 下次日程时间
                  base: 1
                  field_type: 10
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: 5200812401
                  name: 测试日期
                  base: 0
                  field_type: 4
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: 5200433878
                  name: 兴趣爱好
                  base: 0
                  field_type: 7
                  ext_info:
                  - 游泳
                  - 登山
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: 5196023966
                  name: 最新报价时间
                  base: 0
                  field_type: 4
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '5118904304'
                  name: 报价时间
                  base: 0
                  field_type: 10
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '3082106516'
                  name: haodeya
                  base: 0
                  field_type: 5
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '3462856443'
                  name: 公司信息图片类型字段
                  base: 0
                  field_type: 6
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '3266094846'
                  name: 客户自定义多行文本
                  base: 0
                  field_type: 2
                  ext_info: null
                  require: 0
                  default: '22'
                  disable_flag: 0
                  is_list: 0
                - id: '3215316242'
                  name: 导出日期字段测试
                  base: 0
                  field_type: 4
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
                - id: '3043781064'
                  name: 测试公司-tv-多行文本
                  base: 0
                  field_type: 2
                  ext_info: null
                  require: 0
                  default: '123'
                  disable_flag: 1
                  is_list: 0
                - id: '3113323380'
                  name: Product group radio
                  base: 0
                  field_type: 3
                  ext_info:
                  - 单选1
                  - 单选2
                  - add one new option
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '1887817526'
                  name: ccccc
                  base: 0
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
                - id: '1118472446'
                  name: OS Field
                  base: 0
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: 3570150046
                  name: 自定义字段0626下午
                  base: 0
                  field_type: 3
                  ext_info:
                  - 自定义字段0626下午1
                  - 自定义字段0626下午2
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: 3568031711
                  name: 中文字段5
                  base: 0
                  field_type: 2
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '3043780965'
                  name: 下拉多选
                  base: 0
                  field_type: 7
                  ext_info:
                  - test
                  - 苹果
                  - 雪梨
                  - kevinAdd
                  - yang
                  - huangzhengbang
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '3082106510'
                  name: 测试公司-tv-文本
                  base: 0
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: 我是必填文本默认值
                  disable_flag: 0
                  is_list: 0
                - id: 3474261902
                  name: 供应商数量
                  base: 0
                  field_type: 5
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: 3472848096
                  name: 公司仓库数量
                  base: 0
                  field_type: 5
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '3307965519'
                  name: test客户管理
                  base: 0
                  field_type: 7
                  ext_info:
                  - '2'
                  - '3'
                  - '1'
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '3082106514'
                  name: 测试公司-日期-tv
                  base: 0
                  field_type: 4
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '3113338556'
                  name: 产品多行文本
                  base: 0
                  field_type: 2
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
                - id: '3137336748'
                  name: 新老客户类型
                  base: 0
                  field_type: 7
                  ext_info:
                  - 新客户
                  - 老客户
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
                - id: '1106335125'
                  name: 自定义字段-数值
                  base: 0
                  field_type: 5
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
                - id: '1118472445'
                  name: 字段名称 - os001
                  base: 0
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
                - id: '3117881352'
                  name: 询盘产品-测试工单
                  base: 0
                  field_type: 7
                  ext_info:
                  - 洗衣片
                  - 吸色片
                  - 留香珠
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
                - id: '3082106517'
                  name: 测试公司的下拉多选
                  base: 0
                  field_type: 7
                  ext_info:
                  - Go
                  - I...
                  - Uh...
                  - People
                  - He
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
                - id: '3025700946'
                  name: 客户老编号
                  base: 0
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: 我是默认值
                  disable_flag: 1
                  is_list: 0
                - id: '3082106518'
                  name: 测试公司-tv-日期时间
                  base: 0
                  field_type: 10
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
          headers: {}
          x-apifox-name: 成功
      security: []
      x-apifox-folder: 客户
      x-apifox-status: released
      operationId: get_v1_company_fields
      x-local-source-path: sources/pages/api-3478270.md
      x-source-id: api-3478270
      x-source-title: 客户数据字典
      x-source-module: 客户
  /v1/company/pushCompanyAndCustomers:
    post:
      summary: 客户（含联系人）新增/编辑
      deprecated: false
      description: '| 异常码 | 异常消息 |异常解决方案|

        | --- | --- | --- |

        | 404 | Not Found Resource | 检查传入company_id是否有误 |

        | 404 | No Privilege | 检查传入user_id是否是私海客户的跟进人 |

        '
      tags:
      - 客户
      - s7.1
      parameters:
      - name: Authorization
        in: header
        description: ''
        required: true
        example: REDACTED_JWT
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                company_id:
                  type: integer
                  title: 公司客户ID
                  description: '编辑时需要设置

                    值来自于/v1/company/list接口'
                user_id:
                  type: integer
                  title: 跟进人
                  description: '不填则默认为创建人

                    值来自于/v1/user/list接口'
                batch_user_ids:
                  type: array
                  items:
                    type: integer
                  title: 批量新增跟进人
                  description: 'eg: [11, 22]

                    值来自于/v1/user/list接口'
                remove_user_id:
                  type: array
                  items:
                    type: integer
                  title: 删除跟进人
                  description: 'eg: [33, 44]

                    值来自于/v1/user/list接口'
                is_public:
                  type: integer
                  title: 客户类型
                  description: 私海客户is_public=0;公海客户is_public=1;默认is_public=0
                serial_id:
                  type: string
                  title: 客户编号
                  description: 可选字段,不设置默认生成
                name:
                  type: string
                  title: 公司名称
                short_name:
                  type: string
                  title: 公司简称
                country:
                  type: string
                  title: 国家/地区
                  description: 非必填,ISO两位码
                province:
                  type: string
                  title: 省
                  description: 对接需要询问对接协助开发获取省枚举
                city:
                  type: string
                  title: 市
                  description: 对接需要询问对接协助开发获取市枚举
                tel_area_code:
                  type: string
                  title: 座机区号
                tel:
                  type: string
                  title: 座机号码
                fax:
                  type: string
                  title: 传真
                group_id:
                  type: integer
                  title: 客户分组
                  description: 可选字段,从分组v1/company/fields/selector?field=group_id选择
                pool_id:
                  type: integer
                  title: 客户公海分组
                  description: 必填,不确定可设置为0,代表未分组，从v1/company/fields/selector?field=pool_id选择
                trail_status:
                  type: integer
[...]
