{
  "openapi": "3.0.1",
  "info": {
    "title": "Xiaoman OpenAPI - 商机 (unofficial)",
    "version": "2026-05-09",
    "description": "Unofficial module spec generated from public Xiaoman Open API documentation: 商机."
  },
  "servers": [
    {
      "url": "https://api-sandbox.xiaoman.cn",
      "description": "official documented server"
    }
  ],
  "tags": [
    {
      "name": "商机",
      "x-module-slug": "opportunity"
    }
  ],
  "paths": {
    "/v1/opportunity/fields/selector": {
      "get": {
        "summary": "查询商机的销售流程 商机阶段 输单原因",
        "deprecated": false,
        "description": "# 商机有不同的销售流程，流程中有不同商机阶段\n    请选择合适的流程和阶段进行接入\n## 1、商机流程获取\n    传入field=sales_flow 获取到某流程ID，\n## 2、商机流程阶段获取\n    传入field=stage_list,flow_id=4850316434641(流程ID)获取具体某流程的阶段",
        "tags": [
          "商机",
          "s7.1"
        ],
        "parameters": [
          {
            "name": "field",
            "in": "query",
            "description": "销售流程:sales_flow 销售阶段:stage_list 输单原因fail_reason",
            "required": false,
            "example": "sales_flow",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "flow_id",
            "in": "query",
            "description": "销售流程ID ：查询销售阶段时候需要带上销售流程ID，数据来源于当前接口field=sales_flow",
            "required": false,
            "example": 2345,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "从/v1/oauth2/access_token获取到的access_token",
            "required": true,
            "example": "{{access_token}}",
            "schema": {
              "type": "string",
              "default": "{{access_token}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "now": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "standard_flag": {
                            "type": "integer"
                          },
                          "require_flag": {
                            "type": "integer"
                          },
                          "require_field": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "必填字段"
                          },
                          "flow_id": {
                            "type": "integer",
                            "description": "销售流程ID"
                          },
                          "client_id": {
                            "type": "integer",
                            "description": "client_id"
                          },
                          "name": {
                            "type": "string",
                            "description": "销售流程名称"
                          },
                          "name_info": {
                            "type": "object",
                            "properties": {
                              "info_label": {
                                "type": "string"
                              },
                              "info_value": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "info_label",
                              "info_value"
                            ],
                            "x-apifox-orders": [
                              "info_label",
                              "info_value"
                            ]
                          },
                          "rank": {
                            "type": "integer"
                          },
                          "create_user": {
                            "type": "integer",
                            "description": "创建人"
                          },
                          "disable_flag": {
                            "type": "integer"
                          },
                          "enable_flag": {
                            "type": "integer",
                            "description": "是否启用 0:否 1:启用"
                          },
                          "create_time": {
                            "type": "string",
                            "description": "创建时间"
                          },
                          "update_time": {
                            "type": "string",
                            "description": "修改时间"
                          },
                          "main_flag": {
                            "type": "integer",
                            "description": "是否是主要销售流程"
                          },
                          "default_flag": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "standard_flag",
                          "require_flag",
                          "require_field",
                          "flow_id",
                          "client_id",
                          "name",
                          "name_info",
                          "rank",
                          "create_user",
                          "disable_flag",
                          "enable_flag",
                          "create_time",
                          "update_time",
                          "main_flag",
                          "default_flag"
                        ],
                        "x-apifox-orders": [
                          "standard_flag",
                          "require_flag",
                          "require_field",
                          "flow_id",
                          "client_id",
                          "name",
                          "name_info",
                          "rank",
                          "create_user",
                          "disable_flag",
                          "enable_flag",
                          "create_time",
                          "update_time",
                          "main_flag",
                          "default_flag"
                        ]
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "now",
                    "data"
                  ],
                  "x-apifox-orders": [
                    "code",
                    "message",
                    "now",
                    "data"
                  ]
                },
                "examples": {
                  "1": {
                    "summary": "成功返回销售流程示例",
                    "value": {
                      "code": 200,
                      "message": "success",
                      "now": "2025-03-07 16:34:39",
                      "data": [
                        {
                          "standard_flag": 0,
                          "require_flag": 0,
                          "require_field": [
                            "company_id",
                            "flow_id",
                            "main_user",
                            "name",
                            "currency",
                            "exchange_rate",
                            "account_date",
                            "stage",
                            "3394070891"
                          ],
                          "flow_id": 1101060263,
                          "client_id": 14119,
                          "name": "2019第四季度",
                          "name_info": {
                            "info_label": "2019第四季度",
                            "info_value": "2019第四季度"
                          },
                          "rank": 1,
                          "create_user": 11858711,
                          "disable_flag": 0,
                          "enable_flag": 1,
                          "create_time": "2019-11-19 16:22:13",
                          "update_time": "2024-05-13 17:50:11",
                          "main_flag": 0,
                          "default_flag": 0
                        },
                        {
                          "standard_flag": 1,
                          "require_flag": 1,
                          "require_field": [
                            "4312930284",
                            "6753564"
                          ],
                          "flow_id": 3071499626,
                          "client_id": 14119,
                          "name": "外贸销售标准流程",
                          "name_info": {
                            "info_label": "外贸销售标准流程",
                            "info_value": "外贸销售标准流程"
                          },
                          "rank": 2,
                          "create_user": 11858711,
                          "disable_flag": 0,
                          "enable_flag": 1,
                          "create_time": "2022-04-20 17:40:31",
                          "update_time": "2024-12-04 17:48:26",
                          "main_flag": 1,
                          "default_flag": 0
                        },
                        {
                          "standard_flag": 0,
                          "require_flag": 1,
                          "require_field": [
                            "company_id",
                            "flow_id",
                            "main_user",
                            "name",
                            "currency",
                            "exchange_rate",
                            "account_date",
                            "stage",
                            "3376922282",
                            "type",
                            "2717396962",
                            "origin_list",
                            "3394641102",
                            "3394071106",
                            "4312930284",
                            "6753564"
                          ],
                          "flow_id": 3376272743,
                          "client_id": 14119,
                          "name": "test1",
                          "name_info": {
                            "info_label": "test1",
                            "info_value": "test1"
                          },
                          "rank": 3,
                          "create_user": 11858712,
                          "disable_flag": 0,
                          "enable_flag": 1,
                          "create_time": "2023-05-30 15:35:10",
                          "update_time": "2024-12-04 17:48:26",
                          "main_flag": 0,
                          "default_flag": 0
                        },
                        {
                          "standard_flag": 0,
                          "require_flag": 1,
                          "require_field": [
                            "3394641102",
                            "3376922282",
                            "type",
                            "2717396962",
                            "4312930284",
                            "6753564"
                          ],
                          "flow_id": 1101043671,
                          "client_id": 14119,
                          "name": "默认销售流程ppo",
                          "name_info": {
                            "info_label": "默认销售流程ppo",
                            "info_value": "默认销售流程ppo"
                          },
                          "rank": 4,
                          "create_user": 0,
                          "disable_flag": 0,
                          "enable_flag": 1,
                          "create_time": "2019-11-15 11:52:04",
                          "update_time": "2024-12-04 17:48:27",
                          "main_flag": 0,
                          "default_flag": 1
                        },
                        {
                          "standard_flag": 0,
                          "require_flag": 0,
                          "require_field": null,
                          "flow_id": 3393002828,
                          "client_id": 14119,
                          "name": "以定金到账计算业绩",
                          "name_info": {
                            "info_label": "以定金到账计算业绩",
                            "info_value": "以定金到账计算业绩"
                          },
                          "rank": 5,
                          "create_user": 11858712,
                          "disable_flag": 0,
                          "enable_flag": 1,
                          "create_time": "2023-06-20 18:01:23",
                          "update_time": "2023-10-25 14:41:50",
                          "main_flag": 0,
                          "default_flag": 0
                        },
                        {
                          "standard_flag": 0,
                          "require_flag": 0,
                          "require_field": null,
                          "flow_id": 3393007163,
                          "client_id": 14119,
                          "name": "以定金到账计算业绩1",
                          "name_info": {
                            "info_label": "以定金到账计算业绩1",
                            "info_value": "以定金到账计算业绩1"
                          },
                          "rank": 6,
                          "create_user": 11858712,
                          "disable_flag": 0,
                          "enable_flag": 1,
                          "create_time": "2023-06-20 18:15:30",
                          "update_time": "2023-10-25 14:41:50",
                          "main_flag": 0,
                          "default_flag": 0
                        },
                        {
                          "standard_flag": 0,
                          "require_flag": 0,
                          "require_field": null,
                          "flow_id": 3393008614,
                          "client_id": 14119,
                          "name": "以定金到账计算业绩3",
                          "name_info": {
                            "info_label": "以定金到账计算业绩3",
                            "info_value": "以定金到账计算业绩3"
                          },
                          "rank": 7,
                          "create_user": 11858712,
                          "disable_flag": 0,
                          "enable_flag": 1,
                          "create_time": "2023-06-20 18:18:45",
                          "update_time": "2024-11-25 14:44:42",
                          "main_flag": 0,
                          "default_flag": 0
                        },
                        {
                          "standard_flag": 0,
                          "require_flag": 1,
                          "require_field": [
                            "3376922282",
                            "type",
                            "2717396962",
                            "4312930284",
                            "6753564"
                          ],
                          "flow_id": 3474496034,
                          "client_id": 14119,
                          "name": "customer0130（sharon）",
                          "name_info": {
                            "info_label": "customer0130（sharon）",
                            "info_value": "customer0130（sharon）"
                          },
                          "rank": 8,
                          "create_user": 11858712,
                          "disable_flag": 0,
                          "enable_flag": 1,
                          "create_time": "2024-01-18 14:13:12",
                          "update_time": "2024-12-04 17:48:27",
                          "main_flag": 0,
                          "default_flag": 0
                        },
                        {
                          "standard_flag": 0,
                          "require_flag": 1,
                          "require_field": [
                            "company_id",
                            "flow_id",
                            "main_user",
                            "name",
                            "currency",
                            "exchange_rate",
                            "account_date",
                            "stage",
                            "2717396962",
                            "3376922282",
                            "amount",
                            "fail_type",
                            "fail_remark",
                            "type",
                            "origin_list",
                            "3394641102",
                            "3394071106",
                            "4312930284",
                            "6753564"
                          ],
                          "flow_id": 3420459094,
                          "client_id": 14119,
                          "name": "kevin必填校验",
                          "name_info": {
                            "info_label": "kevin必填校验",
                            "info_value": "kevin必填校验"
                          },
                          "rank": 9,
                          "create_user": 11858712,
                          "disable_flag": 0,
                          "enable_flag": 1,
                          "create_time": "2023-08-04 16:51:30",
                          "update_time": "2024-12-04 17:48:27",
                          "main_flag": 0,
                          "default_flag": 0
                        }
                      ]
                    }
                  },
                  "2": {
                    "summary": "成功返回销售阶段",
                    "value": "{\n    \"code\": 200,\n    \"message\": \"success\",\n    \"now\": \"2025-03-07 16:36:43\",\n    \"data\": [\n        {\n            \"name_info\": {\n                \"info_label\": \"开发(1)\",\n                \"info_value\": \"开发(1)\"\n            },\n            \"stage_name\": \"开发(1)\",//销售阶段名称\n            \"stage_id\": 1101060272,//销售阶段ID\n            \"flow_id\": 1101060263,//销售流程ID\n            \"type\": 1,//阶段类型 1:进行中 2:赢单 3:输单\n            \"name\": \"开发(1)\",//销售阶段名称\n            \"success_rate\": 5,//赢率\n            \"remark\": \"\",//备注\n            \"tip\": \"\",\n            \"rank\": 1,\n            \"enable_flag\": 1,\n            \"create_user\": \"0\",\n            \"review_flag\": 0,\n            \"create_time\": \"2019-11-19 16:22:13\",\n            \"update_time\": \"2023-08-07 10:15:59\",\n            \"require_field_setting\": [],\n            \"count\": 6\n        },\n        {\n            \"name_info\": {\n                \"info_label\": \"样品\",\n                \"info_value\": \"样品\"\n            },\n            \"stage_name\": \"样品\",\n            \"stage_id\": 1101060276,\n            \"flow_id\": 1101060263,\n            \"type\": 1,\n            \"name\": \"样品\",\n            \"success_rate\": 60,\n            \"remark\": \"\",\n            \"tip\": \"\",\n            \"rank\": 2,\n            \"enable_flag\": 1,\n            \"create_user\": \"0\",\n            \"review_flag\": 0,\n            \"create_time\": \"2019-11-19 16:22:13\",\n            \"update_time\": \"2024-01-04 15:10:20\",\n            \"require_field_setting\": [],\n            \"count\": 3\n        },\n        {\n            \"name_info\": {\n                \"info_label\": \"询盘\",\n                \"info_value\": \"询盘\"\n            },\n            \"stage_name\": \"询盘\",\n            \"stage_id\": 1101060274,\n            \"flow_id\": 1101060263,\n            \"type\": 1,\n            \"name\": \"询盘\",\n            \"success_rate\": 30,\n            \"remark\": \"\",\n            \"tip\": \"\",\n            \"rank\": 3,\n            \"enable_flag\": 1,\n            \"create_user\": \"0\",\n            \"review_flag\": 0,\n            \"create_time\": \"2019-11-19 16:22:13\",\n            \"update_time\": \"2024-01-04 15:10:20\",\n            \"require_field_setting\": [],\n            \"count\": 7\n        },\n        {\n            \"name_info\": {\n                \"info_label\": \"赢单\",\n                \"info_value\": \"赢单\"\n            },\n            \"stage_name\": \"赢单\",\n            \"stage_id\": 1101060278,\n            \"flow_id\": 1101060263,\n            \"type\": 2,\n            \"name\": \"赢单\",\n            \"success_rate\": 100,\n            \"remark\": \"\",\n            \"tip\": \"\",\n            \"rank\": 1,\n            \"enable_flag\": 1,\n            \"create_user\": \"0\",\n            \"review_flag\": 0,\n            \"create_time\": \"2019-11-19 16:22:13\",\n            \"update_time\": \"2024-01-04 15:10:20\",\n            \"require_field_setting\": [],\n            \"count\": 5\n        },\n        {\n            \"name_info\": {\n                \"info_label\": \"开发(2)\",\n                \"info_value\": \"开发(2)\"\n            },\n            \"stage_name\": \"开发(2)\",\n            \"stage_id\": 2777669343,\n            \"flow_id\": 1101060263,\n            \"type\": 2,\n            \"name\": \"开发(2)\",\n            \"success_rate\": 100,\n            \"remark\": \"\",\n            \"tip\": \"\",\n            \"rank\": 2,\n            \"enable_flag\": 1,\n            \"create_user\": \"11858712\",\n            \"review_flag\": 0,\n            \"create_time\": \"2022-03-17 14:52:43\",\n            \"update_time\": \"2023-08-07 10:15:59\",\n            \"require_field_setting\": [],\n            \"count\": null\n        },\n        {\n            \"name_info\": {\n                \"info_label\": \"售后\",\n                \"info_value\": \"售后\"\n            },\n            \"stage_name\": \"售后\",\n            \"stage_id\": 3160527568,\n            \"flow_id\": 1101060263,\n            \"type\": 2,\n            \"name\": \"售后\",\n            \"success_rate\": 100,\n            \"remark\": \"\",\n            \"tip\": \"\",\n            \"rank\": 3,\n            \"enable_flag\": 1,\n            \"create_user\": \"11858712\",\n            \"review_flag\": 0,\n            \"create_time\": \"2022-11-02 14:24:59\",\n            \"update_time\": \"2023-08-07 10:15:59\",\n            \"require_field_setting\": [],\n            \"count\": 1\n        },\n        {\n            \"name_info\": {\n                \"info_label\": \"售后1\",\n                \"info_value\": \"售后1\"\n            },\n            \"stage_name\": \"售后1\",\n            \"stage_id\": 3160527569,\n            \"flow_id\": 1101060263,\n            \"type\": 2,\n            \"name\": \"售后1\",\n            \"success_rate\": 100,\n            \"remark\": \"\",\n            \"tip\": \"\",\n            \"rank\": 4,\n            \"enable_flag\": 1,\n            \"create_user\": \"11858712\",\n            \"review_flag\": 0,\n            \"create_time\": \"2022-11-02 14:25:04\",\n            \"update_time\": \"2023-08-07 10:15:59\",\n            \"require_field_setting\": [],\n            \"count\": null\n        },\n        {\n            \"name_info\": {\n                \"info_label\": \"输单\",\n                \"info_value\": \"输单\"\n            },\n            \"stage_name\": \"输单\",\n            \"stage_id\": 1101060279,\n            \"flow_id\": 1101060263,\n            \"type\": 3,\n            \"name\": \"输单\",\n            \"success_rate\": 0,\n            \"remark\": \"\",\n            \"tip\": \"\",\n            \"rank\": 1,\n            \"enable_flag\": 1,\n            \"create_user\": \"0\",\n            \"review_flag\": 0,\n            \"create_time\": \"2019-11-19 16:22:13\",\n            \"update_time\": \"2024-01-04 15:10:20\",\n            \"require_field_setting\": [],\n            \"count\": 3\n        }\n    ]\n}"
                  },
                  "3": {
                    "summary": "成功返回输单原因",
                    "value": "{\n    \"code\": 200,\n    \"message\": \"success\",\n    \"now\": \"2025-03-07 16:37:16\",\n    \"data\": [\n        {\n            \"reason_id\": 1101043686,//输单原因ID\n            \"client_id\": 14119,\n            \"flow_id\": 0,\n            \"name\": \"产品质量\",//输单原因名称\n            \"name_info\": {\n                \"info_label\": \"产品质量\",\n                \"info_value\": \"产品质量\"\n            },\n            \"rank\": 1,\n            \"create_user\": 0,\n            \"enable_flag\": 1,\n            \"create_time\": \"2019-11-15 11:52:05\",\n            \"update_time\": \"2023-05-05 11:12:06\",\n            \"count\": 10\n        },\n        {\n            \"reason_id\": 1101043685,\n            \"client_id\": 14119,\n            \"flow_id\": 0,\n            \"name\": \"客户关系\",\n            \"name_info\": {\n                \"info_label\": \"客户关系\",\n                \"info_value\": \"客户关系\"\n            },\n            \"rank\": 2,\n            \"create_user\": 0,\n            \"enable_flag\": 1,\n            \"create_time\": \"2019-11-15 11:52:05\",\n            \"update_time\": \"2023-05-05 11:12:06\",\n            \"count\": 7\n        },\n        {\n            \"reason_id\": 1126283152,\n            \"client_id\": 14119,\n            \"flow_id\": 0,\n            \"name\": \"sandbox\",\n            \"name_info\": {\n                \"info_label\": \"sandbox\",\n                \"info_value\": \"sandbox\"\n            },\n            \"rank\": 3,\n            \"create_user\": 11858711,\n            \"enable_flag\": 1,\n            \"create_time\": \"2021-07-01 17:00:48\",\n            \"update_time\": \"2023-05-05 11:12:06\",\n            \"count\": 0\n        },\n        {\n            \"reason_id\": 3421479132,\n            \"client_id\": 14119,\n            \"flow_id\": 0,\n            \"name\": \"物流问题\",\n            \"name_info\": {\n                \"info_label\": \"物流问题\",\n                \"info_value\": \"物流问题\"\n            },\n            \"rank\": 4,\n            \"create_user\": 11858712,\n            \"enable_flag\": 1,\n            \"create_time\": \"2023-08-07 16:50:40\",\n            \"update_time\": \"2023-08-07 16:50:40\",\n            \"count\": 0\n        },\n        {\n            \"reason_id\": 3421479652,\n            \"client_id\": 14119,\n            \"flow_id\": 0,\n            \"name\": \"竞对询价\",\n            \"name_info\": {\n                \"info_label\": \"竞对询价\",\n                \"info_value\": \"竞对询价\"\n            },\n            \"rank\": 5,\n            \"create_user\": 11858712,\n            \"enable_flag\": 1,\n            \"create_time\": \"2023-08-07 16:51:08\",\n            \"update_time\": \"2023-08-07 16:51:08\",\n            \"count\": 4\n        }\n    ]\n}"
                  }
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          },
          "x-200:请求成功": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    }
                  },
                  "x-apifox-orders": [
                    "code",
                    "msg"
                  ]
                },
                "example": {
                  "msg": "success",
                  "code": 0
                }
              }
            },
            "headers": {},
            "x-apifox-name": "请求成功"
          }
        },
        "security": [],
        "x-apifox-folder": "商机",
        "x-apifox-status": "released",
        "operationId": "get_v1_opportunity_fields_selector",
        "x-local-source-path": "sources/pages/api-3485300.md",
        "x-source-id": "api-3485300",
        "x-source-title": "查询商机的销售流程 商机阶段 输单原因",
        "x-source-module": "商机"
      }
    },
    "/v1/opportunity/remove": {
      "post": {
        "summary": "商机删除接口",
        "deprecated": false,
        "description": "| 异常码 | 异常消息 |异常解决方案|\n| --- | --- | --- |\n| 404 | Not Found Resource | 检查opportunity_id传递是否不正确 |\n| 400 | Invalid query | 检查opportunity_id传递是否为空 |\n",
        "tags": [
          "商机",
          "s7.1"
        ],
        "parameters": [
          {
            "name": "opportunity_id",
            "in": "query",
            "description": "商机ID 值来自于/v1/opportunity/list 商机列表接口",
            "required": true,
            "example": 5203694883,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "从/v1/oauth2/access_token获取到的access_token",
            "required": true,
            "example": "{{access_token}}",
            "schema": {
              "type": "string",
              "default": "{{access_token}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "now": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "now",
                    "data"
                  ],
                  "x-apifox-orders": [
                    "code",
                    "message",
                    "now",
                    "data"
                  ]
                },
                "example": {
                  "code": 200,
                  "message": "success",
                  "now": "2025-03-07 17:06:22",
                  "data": "success"
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          },
          "x-200:请求成功": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    }
                  },
                  "x-apifox-orders": [
                    "code",
                    "msg"
                  ]
                },
                "example": {
                  "msg": "success",
                  "code": 0
                }
              }
            },
            "headers": {},
            "x-apifox-name": "请求成功"
          }
        },
        "security": [],
        "x-apifox-folder": "商机",
        "x-apifox-status": "released",
        "operationId": "post_v1_opportunity_remove",
        "x-local-source-path": "sources/pages/api-3485301.md",
        "x-source-id": "api-3485301",
        "x-source-title": "商机删除接口",
        "x-source-module": "商机"
      }
    },
    "/v1/opportunity/list": {
      "get": {
        "summary": "商机列表",
        "deprecated": false,
        "description": "",
        "tags": [
          "商机",
          "s7.1"
        ],
        "parameters": [
          {
            "name": "start_index",
            "in": "query",
            "description": "第几页，默认 = 1",
            "required": false,
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "每页记录数，默认 = 10",
            "required": false,
            "example": 10,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "更新时间查询范围：开始日期",
            "required": false,
            "example": "2024-01-01",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "更新时间查询范围：结束日期",
            "required": false,
            "example": "2024-01-31",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "",
            "required": true,
            "example": "REDACTED_JWT",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {}
              },
              "examples": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "description": "错误码",
                      "x-apifox-mock": 0
                    },
                    "message": {
                      "type": "string",
                      "description": "错误信息",
                      "x-apifox-mock": "success"
                    },
                    "now": {
                      "type": "string",
                      "description": "当前时间",
                      "x-apifox-mock": "2025-03-07 15:00:00"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "opportunity_id": {
                          "type": "number",
                          "description": "商机ID",
                          "x-apifox-mock": 12345
                        },
                        "serial_id": {
                          "type": "string",
                          "description": "商机编号",
                          "x-apifox-mock": "SJ0001"
                        },
                        "name": {
                          "type": "string",
                          "description": "商机名称",
                          "x-apifox-mock": "大型项目商机"
                        },
                        "main_user": {
                          "type": "number",
                          "description": "负责人UserID",
                          "x-apifox-mock": 201
                        },
                        "main_user_info": {
                          "type": "object",
                          "description": "负责人信息",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "负责人姓名",
                              "x-apifox-mock": "张三"
                            },
                            "department": {
                              "type": "string",
                              "description": "负责人所在部门",
                              "x-apifox-mock": "销售部"
                            },
                            "phone": {
                              "type": "string",
                              "description": "负责人联系电话",
                              "x-apifox-mock": "13800138000"
                            }
                          },
                          "required": [
                            "name",
                            "department",
                            "phone"
                          ],
                          "x-apifox-orders": [
                            "name",
                            "department",
                            "phone"
                          ]
                        },
                        "create_user": {
                          "type": "number",
                          "description": "创建人UserID",
                          "x-apifox-mock": 202
                        },
                        "create_user_info": {
                          "type": "object",
                          "description": "创建人信息",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "创建人姓名",
                              "x-apifox-mock": "李四"
                            },
                            "department": {
                              "type": "string",
                              "description": "创建人所在部门",
                              "x-apifox-mock": "市场部"
                            },
                            "join_date": {
                              "type": "string",
                              "description": "创建人入职日期",
                              "x-apifox-mock": "2023-01-01"
                            }
                          },
                          "required": [
                            "name",
                            "department",
                            "join_date"
                          ],
                          "x-apifox-orders": [
                            "name",
                            "department",
                            "join_date"
                          ]
                        },
                        "handler": {
                          "type": "object",
                          "description": "团队成员UserId",
                          "properties": {
                            "user_ids": {
                              "type": "array",
                              "description": "团队成员UserID列表",
                              "items": {
                                "type": "number"
                              },
                              "x-apifox-mock": [
                                203,
                                204,
                                205
                              ]
                            }
                          },
                          "required": [
                            "user_ids"
                          ],
                          "x-apifox-orders": [
                            "user_ids"
                          ]
                        },
                        "handler_info": {
                          "type": "object",
                          "description": "团队成员信息",
                          "properties": {
                            "member_list": {
                              "type": "array",
                              "description": "团队成员信息列表",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "user_id": {
                                    "type": "number",
                                    "description": "团队成员UserID",
                                    "x-apifox-mock": 203
                                  },
                                  "name": {
                                    "type": "string",
                                    "description": "团队成员姓名",
                                    "x-apifox-mock": "王五"
                                  },
                                  "role": {
                                    "type": "string",
                                    "description": "团队成员角色",
                                    "x-apifox-mock": "销售助理"
                                  }
                                },
                                "required": [
                                  "user_id",
                                  "name",
                                  "role"
                                ],
                                "x-apifox-orders": [
                                  "user_id",
                                  "name",
                                  "role"
                                ]
                              }
                            }
                          },
                          "required": [
                            "member_list"
                          ],
                          "x-apifox-orders": [
                            "member_list"
                          ]
                        },
                        "company_id": {
                          "type": "number",
                          "description": "客户ID",
                          "x-apifox-mock": 301
                        },
                        "company": {
                          "type": "object",
                          "description": "客户信息",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "客户公司名称",
                              "x-apifox-mock": "XX科技有限公司"
                            },
                            "industry": {
                              "type": "string",
                              "description": "客户所在行业",
                              "x-apifox-mock": "互联网"
                            },
                            "address": {
                              "type": "string",
                              "description": "客户公司地址",
                              "x-apifox-mock": "XX市XX区XX路XX号"
                            }
                          },
                          "required": [
                            "name",
                            "industry",
                            "address"
                          ],
                          "x-apifox-orders": [
                            "name",
                            "industry",
                            "address"
                          ]
                        },
                        "currency": {
                          "type": "string",
                          "description": "币种",
                          "x-apifox-mock": "CNY"
                        },
                        "origin": {
                          "type": "number",
                          "description": "商机来源ID",
                          "x-apifox-mock": 401
                        },
                        "origin_name": {
                          "type": "string",
                          "description": "商机来源",
                          "x-apifox-mock": "展会"
                        },
                        "amount": {
                          "type": "number",
                          "description": "销售金额",
                          "x-apifox-mock": 1000000
                        },
                        "amount_rmb": {
                          "type": "number",
                          "description": "销售金额（RMB）",
                          "x-apifox-mock": 1000000
                        },
                        "amount_usd": {
                          "type": "number",
                          "description": "销售金额（USD）",
                          "x-apifox-mock": 145000
                        },
                        "exchange_rate": {
                          "type": "number",
                          "description": "汇率",
                          "x-apifox-mock": 6.9
                        },
                        "account_date": {
                          "type": "string",
                          "description": "结束日期",
                          "x-apifox-mock": "2025-12-31"
                        },
                        "stage": {
                          "type": "number",
                          "description": "商机阶段ID",
                          "x-apifox-mock": 501
                        },
                        "stage_info": {
                          "type": "object",
                          "description": "商机阶段信息",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "商机阶段名称",
                              "x-apifox-mock": "意向洽谈"
                            },
                            "probability": {
                              "type": "number",
                              "description": "成交概率",
                              "x-apifox-mock": 30
                            }
                          },
                          "required": [
                            "name",
                            "probability"
                          ],
                          "x-apifox-orders": [
                            "name",
                            "probability"
                          ]
                        },
                        "type": {
                          "type": "number",
                          "description": "商机类型ID",
                          "x-apifox-mock": 601
                        },
                        "type_name": {
                          "type": "string",
                          "description": "商机类型",
                          "x-apifox-mock": "新业务拓展"
                        },
                        "fail_remark": {
                          "type": "string",
                          "description": "输单描述",
                          "x-apifox-mock": "竞争对手报价更低"
                        },
                        "stage_type": {
                          "type": "number",
                          "description": "销售阶段ID",
                          "x-apifox-mock": 701
                        },
                        "stage_type_name": {
                          "type": "string",
                          "description": "销售阶段",
                          "x-apifox-mock": "初期接触"
                        },
                        "fail_type": {
                          "type": "number",
                          "description": "输单原因ID",
                          "x-apifox-mock": 801
                        },
                        "fail_type_name": {
                          "type": "string",
                          "description": "输单原因",
                          "x-apifox-mock": "价格因素"
                        },
                        "remark": {
                          "type": "string",
                          "description": "备注",
                          "x-apifox-mock": "客户需求较为复杂"
                        },
                        "order_time": {
                          "type": "string",
                          "description": "最近联系时间",
                          "x-apifox-mock": "2025-03-05 10:30:00"
                        },
                        "create_time": {
                          "type": "string",
                          "description": "创建时间",
                          "x-apifox-mock": "2025-02-01 09:00:00"
                        },
                        "update_time": {
                          "type": "string",
                          "description": "最新时间",
                          "x-apifox-mock": "2025-03-07 14:00:00"
                        },
                        "external_field_data": {
                          "type": "object",
                          "description": "自定义字段列表",
                          "properties": {
                            "custom_field_1": {
                              "type": "string",
                              "description": "自定义字段1",
                              "x-apifox-mock": "自定义值1"
                            },
                            "custom_field_2": {
                              "type": "number",
                              "description": "自定义字段2",
                              "x-apifox-mock": 99
                            }
                          },
                          "required": [
                            "custom_field_1",
                            "custom_field_2"
                          ],
                          "x-apifox-orders": [
                            "custom_field_1",
                            "custom_field_2"
                          ]
                        },
                        "busines_type_id": {
                          "type": "number",
                          "description": "业务类型"
                        }
                      },
                      "required": [
                        "opportunity_id",
                        "serial_id",
                        "name",
                        "main_user",
                        "main_user_info",
                        "create_user",
                        "create_user_info",
                        "handler",
                        "handler_info",
                        "company_id",
                        "company",
                        "currency",
                        "origin",
                        "origin_name",
                        "amount",
                        "amount_rmb",
                        "amount_usd",
                        "exchange_rate",
                        "account_date",
                        "stage",
                        "stage_info",
                        "type",
                        "type_name",
                        "fail_remark",
                        "stage_type",
                        "stage_type_name",
                        "fail_type",
                        "fail_type_name",
                        "remark",
                        "busines_type_id"
                      ],
                      "x-apifox-orders": [
                        "opportunity_id",
                        "serial_id",
                        "name",
                        "main_user",
                        "main_user_info",
                        "create_user",
                        "create_user_info",
                        "handler",
                        "handler_info",
                        "company_id",
                        "company",
                        "currency",
                        "origin",
                        "origin_name",
                        "amount",
                        "amount_rmb",
                        "amount_usd",
                        "exchange_rate",
                        "account_date",
                        "stage",
                        "stage_info",
                        "type",
                        "type_name",
                        "fail_remark",
                        "stage_type",
                        "stage_type_name",
                        "fail_type",
                        "fail_type_name",
                        "remark",
                        "order_time",
                        "create_time",
                        "update_time",
                        "external_field_data",
                        "busines_type_id"
                      ]
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "now",
                    "data"
                  ],
                  "x-apifox-orders": [
                    "code",
                    "message",
                    "now",
                    "data"
                  ]
                },
                "example": {
                  "code": 200,
                  "message": "success",
                  "now": "2025-03-07 16:24:49",
                  "data": {
                    "list": [
                      {
                        "serial_id": "O185",
                        "opportunity_id": 1103937572,
                        "name": "咸鸭蛋",
                        "user_id": [
                          11858712,
                          11858711
                        ],
                        "company_id": 1103161650,
                        "main_user": 11858712,
                        "create_user": 11858712,
                        "handler": [
                          11858711
                        ],
                        "currency": "CNY",
                        "origin": 1101043664,
                        "origin_list": [
                          1101043664
                        ],
                        "origin_name": "熟人介绍",
                        "amount": "55566",
                        "amount_rmb": "55566",
                        "amount_usd": "7868.65",
                        "exchange_rate": "100",
                        "exchange_rate_usd": "14.1609",
                        "account_date": "2020-05-13",
                        "stage": 1101043675,
                        "type": 1,
                        "type_name": "老客户商机",
                        "fail_remark": "",
                        "stage_type": 1,
                        "stage_type_name": "进行中",
                        "fail_type": 0,
                        "remark": "yo",
                        "edit_time": "2024-01-16 15:23:53",
                        "trail_time": "2024-01-16 15:23:54",
                        "order_time": "2024-01-16 15:23:54",
                        "create_time": "2020-05-12 11:59:21",
                        "update_time": "2024-01-16 15:23:54",
                        "enable_flag": 1,
                        "trail_active_flag": 1,
                        "external_field_data": {
                          "6752212": "",
                          "1101060294": "",
                          "1101060295": "",
                          "1101060297": "",
                          "1101060298": "",
                          "1101060299": "",
                          "1101060304": "",
                          "1101171419": 55466,
                          "1101173252": 54566,
                          "1102341784": "",
                          "2717396962": "人民币银行卡转账",
                          "2717396970": "初次成交",
                          "3163689873": "55576.0000",
                          "3376916249": "文本",
                          "3376922282": 12,
                          "3376922283": "2024-01-11 15:23:49",
                          "3377206976": "当时的",
                          "3394053182": "等",
                          "3394053744": "23",
                          "3394070891": "32",
                          "3394071106": "32",
                          "3394089934": "",
                          "3394091426": "",
                          "3394641102": [],
                          "3555060936": "",
                          "3572117102": ""
                        },
                        "create_type": 1,
                        "product_list": null,
                        "product_total_count": "0.0000",
                        "product_other_amount": "0.0000",
                        "product_total_amount": "0.0000",
                        "product_edit_time": "",
                        "flow_id": 1101043671,
                        "approval_status": -1,
                        "main_lead_id": 0,
                        "next_follow_up_time": "",
                        "pin_user_list": [
                          {
                            "user_id": "11858712",
                            "nickname": "qiao",
                            "avatar": "https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg"
                          }
                        ],
                        "disable_flag": 0,
                        "tag": [],
                        "auto_summary_flag": 0,
                        "missingRequiredFieldFlag": true,
                        "missField": [
                          "4312930284",
                          "6753564"
                        ],
                        "amount_can_edit_flag": true,
                        "sync_amount_refer_type": 0,
                        "approval_flow_info": [],
                        "department_info": {
                          "id": "0",
                          "name": "我的企业"
                        },
                        "stage_stay_time_old": 35946054,
                        "stage_stay_time": 35946054,
                        "create_user_info": {
                          "user_id": "11858712",
                          "nickname": "qiao",
                          "avatar": "https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg"
                        },
                        "cash_collection_info": {
                          "amount": 55566,
                          "amount_rmb": 55566,
                          "amount_usd": 7868.65,
                          "collect_amount_rmb": 0,
                          "collect_amount_usd": 0,
                          "bank_charge_rmb": 0,
                          "bank_charge_usd": 0,
                          "real_amount_rmb": 0,
                          "real_amount_usd": 0,
                          "exchange_loss_amount_rmb": 0,
                          "exchange_loss_amount_usd": 0,
                          "status": 1,
                          "status_name": "待回款",
                          "collect_amount": 0,
                          "bank_charge": 0,
                          "currency": "CNY",
                          "real_amount": 0,
                          "exchange_loss_amount_list": [],
                          "not_collect_amount": 55566,
                          "not_collect_amount_rmb": 55566,
                          "not_collect_amount_usd": 7868.65,
                          "percentage": 0,
                          "percentage_rmb": 0,
                          "percentage_usd": 0
                        },
                        "main_user_info": {
                          "user_id": "11858712",
                          "nickname": "qiao",
                          "avatar": "https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg",
                          "department_info": [
                            {
                              "id": "8535",
                              "name": "风险投资部门",
                              "prefix": "0-",
                              "parent_id": "0",
                              "admin_type": "1"
                            }
                          ]
                        },
                        "handler_info": [
                          {
                            "user_id": "11858711",
                            "nickname": "xpro",
                            "avatar": "https://v4client.oss-cn-hangzhou.aliyuncs.com/11858711/f05891a46ca17ff2c0f56c9ad198bba207ac47610ae2f51a84ba09317c38a1c5.jpeg",
                            "role_id": "1"
                          }
                        ],
                        "company": {
                          "company_id": 1103161650,
                          "user_id": [],
                          "name": "Alweld Commercial Boats, Inc.",
                          "serial_id": "318",
                          "is_archive": 1,
                          "short_name": "",
                          "country": "",
                          "timezone": "",
                          "biz_type": "",
                          "origin": 1101043664,
                          "origin_list": [
                            1101043664
                          ],
                          "origin_name": "熟人介绍",
                          "product_group_ids": [],
                          "pool_user_map": [],
                          "pin_flag": 0,
                          "alibaba_info": [],
                          "deal_time": "",
                          "image_list": []
                        },
                        "last_trail": {
                          "trail_id": 3473568640,
                          "type": 1203,
                          "client_id": 14119,
                          "company_id": 1103161650,
                          "customer_id": [
                            1103937954,
                            1103937948
                          ],
                          "refer_id": 0,
                          "lead_id": 0,
                          "lead_customer_id": [
                            0
                          ],
                          "opportunity_id": 1103937572,
                          "create_user": 11858712,
                          "enable_flag": 1,
                          "delete_flag": 0,
                          "created_at": "2024-01-16 15:23:54",
                          "create_time": "2024-01-16 15:23:54",
                          "update_time": "2024-01-16 15:23:54",
                          "track_session_no": 0,
                          "inquiry_id": 0,
                          "comment_count": 0,
                          "transfer_invoice_id": 0,
                          "company_info": null,
                          "create_user_info": {
                            "user_id": "11858712",
                            "avatar": "https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg",
                            "name": "qiao",
                            "nickname": "qiao"
                          },
                          "customer_info": [
                            {
                              "customer_id": 1103937954,
                              "name": "",
                              "email": "elds@lsoweq.com",
                              "tel_list": [],
                              "contact": []
                            }
                          ],
                          "lead_customer_info": null,
                          "lead_info": null,
                          "_id": 3473568640,
                          "status": 0,
                          "comment_list": [],
                          "mail_map": [],
                          "plan_map": [],
                          "node_type": 1203,
                          "module": 12,
                          "data": {
                            "stage": "PI",
                            "amount": "55566.00",
                            "content": "商机销售阶段从【开发阶段】变更为【PI】",
                            "currency": "CNY",
                            "account_date": "2020-05-13"
                          },
                          "node_type_name": "商机销售阶段变更",
                          "opportunity_info": {
                            "opportunity_id": 1103937572,
                            "name": "咸鸭蛋",
                            "amount": "55566",
                            "currency": "CNY",
                            "serial_id": "O185",
                            "enable_flag": 1,
                            "stage": 1101043675,
                            "user_id": [
                              11858712,
                              11858711
                            ],
                            "account_date": "2020-05-13",
                            "approval_flow_info": [],
                            "stage_info": {
                              "success_rate": 80,
                              "tip": "",
                              "link_ids": [
                                3071499649,
                                3071499650,
                                3071499651,
                                3071499652,
                                3071499653,
                                3071499654,
                                3071499655
                              ],
                              "require_field_setting": [
                                "company_id",
                                "flow_id",
                                "main_user",
                                "name",
                                "currency",
                                "exchange_rate",
                                "account_date",
                                "stage",
                                "2717396962",
                                "3376922282",
                                "amount",
                                "type",
                                "4312930284",
                                "6753564"
                              ],
                              "stage_id": 1101043675,
                              "flow_id": 1101043671,
                              "type": 1,
                              "name": "PI3",
                              "name_info": {
                                "info_label": "PI3",
                                "info_value": "PI3"
                              },
                              "stage_name": "PI3",
                              "stage_name_info": {
                                "info_label": "PI3",
                                "info_value": "PI3"
                              },
                              "rank": 3,
                              "create_user": "0",
                              "enable_flag": 1,
                              "create_time": "2019-11-15 11:52:05",
                              "update_time": "2024-12-04 17:48:27"
                            },
                            "lock_flag": 0,
                            "fail_type": 0,
                            "fail_remark": "",
                            "fail_type_name": ""
                          }
                        },
                        "customer": [
                          {
                            "customer_id": 1103937954,
                            "name": "elds@lsoweq.com",
                            "email": "elds@lsoweq.com",
                            "is_archive": 1,
                            "post": "",
                            "tel_list": [],
                            "contact": [],
                            "suspected_invalid_email_flag": 0,
                            "forbidden_flag": 0,
                            "reach_status": 0,
                            "reach_count": 0,
                            "reach_status_time": "1970-01-01 00:00:00",
                            "reach_success_count": 0
                          },
                          {
                            "customer_id": 1103937948,
                            "name": "alw@sdwewe.com",
                            "email": "alw@sdwewe.com",
                            "is_archive": 1,
                            "post": "",
                            "tel_list": [],
                            "contact": [],
                            "suspected_invalid_email_flag": 0,
                            "forbidden_flag": 0,
                            "reach_status": 0,
                            "reach_count": 0,
                            "reach_status_time": "1970-01-01 00:00:00",
                            "reach_success_count": 0
                          }
                        ],
                        "lead_name": "",
                        "stage_info": {
                          "success_rate": 80,
                          "tip": "",
                          "link_ids": [
                            3071499649,
                            3071499650,
                            3071499651,
                            3071499652,
                            3071499653,
                            3071499654,
                            3071499655
                          ],
                          "require_field_setting": [
                            "company_id",
                            "flow_id",
                            "main_user",
                            "name",
                            "currency",
                            "exchange_rate",
                            "account_date",
                            "stage",
                            "2717396962",
                            "3376922282",
                            "amount",
                            "type",
                            "4312930284",
                            "6753564"
                          ],
                          "stage_id": 1101043675,
                          "flow_id": 1101043671,
                          "type": 1,
                          "name": "PI3",
                          "name_info": {
                            "info_label": "PI3",
                            "info_value": "PI3"
                          },
                          "stage_name": "PI3",
                          "stage_name_info": {
                            "info_label": "PI3",
                            "info_value": "PI3"
                          },
                          "rank": 3,
                          "create_user": "0",
                          "enable_flag": 1,
                          "create_time": "2019-11-15 11:52:05",
                          "update_time": "2024-12-04 17:48:27"
                        },
                        "fail_type_name": "",
                        "fail_stage_info": [],
                        "sale_flow_name": "默认销售流程ppo",
                        "is_pin": 0,
                        "lock_flag": 0
                      },
                      {
                        "serial_id": "O63",
                        "opportunity_id": 3444252868,
                        "name": "32",
                        "user_id": [
                          11858712
                        ],
                        "company_id": 3441634943,
                        "main_user": 11858712,
                        "create_user": 11858712,
                        "handler": [],
                        "currency": "USD",
                        "origin": 1,
                        "origin_list": [
                          1
                        ],
                        "origin_name": "小满发现",
                        "amount": "23",
                        "amount_rmb": "161",
                        "amount_usd": "23",
                        "exchange_rate": "700",
                        "exchange_rate_usd": "100",
                        "account_date": "2023-10-06",
                        "stage": 1101043675,
                        "type": 0,
                        "type_name": "",
                        "fail_remark": "",
                        "stage_type": 1,
                        "stage_type_name": "进行中",
                        "fail_type": 0,
                        "remark": "",
                        "edit_time": "",
                        "trail_time": "2024-01-16 14:54:35",
                        "order_time": "2024-01-16 14:54:35",
                        "create_time": "2023-09-06 10:28:01",
                        "update_time": "2024-01-16 14:54:35",
                        "enable_flag": 1,
                        "trail_active_flag": 1,
                        "external_field_data": {
                          "6752212": "",
                          "2717396962": "人民币银行卡转账",
                          "2717396970": "初次成交",
                          "3163689873": "171.0000",
                          "3376916249": "文本",
                          "3376922282": 32,
                          "3376922283": "2023-10-07 10:27:47",
                          "3377206976": "32",
                          "3394053182": "23",
                          "3394053744": "32",
                          "3394070891": "23",
                          "3394071106": "32",
                          "3394089934": "",
                          "3394091426": "",
                          "3394641102": [],
                          "3555060936": "",
                          "3572117102": ""
                        },
                        "create_type": 1,
                        "product_list": null,
                        "product_total_count": "0.0000",
                        "product_other_amount": "0.0000",
                        "product_total_amount": "0.0000",
                        "product_edit_time": "",
                        "flow_id": 1101043671,
                        "approval_status": -1,
                        "main_lead_id": 0,
                        "next_follow_up_time": "",
                        "pin_user_list": [],
                        "disable_flag": 0,
                        "tag": [],
                        "auto_summary_flag": 0,
                        "missingRequiredFieldFlag": true,
                        "missField": [
                          "type",
                          "4312930284",
                          "6753564"
                        ],
                        "amount_can_edit_flag": true,
                        "sync_amount_refer_type": 0,
                        "approval_flow_info": {
                          "apply_form_id": "3447128126",
                          "approval_flow_id": "3445242034",
                          "apply_user_id": "11858712",
                          "status": "4",
                          "refer_id": "3444252868",
                          "trigger_type": "101",
                          "type": "1"
                        },
                        "department_info": {
                          "id": "148",
                          "name": "外贸部跟单组",
                          "prefix": "0-8613-143-147-",
                          "parent_id": "147"
                        },
                        "stage_stay_time_old": 35947813,
                        "stage_stay_time": 35947813,
                        "create_user_info": {
                          "user_id": "11858712",
                          "nickname": "qiao",
                          "avatar": "https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg"
                        },
                        "cash_collection_info": {
                          "amount": 23,
                          "amount_rmb": 161,
                          "amount_usd": 23,
                          "collect_amount_rmb": 0,
                          "collect_amount_usd": 0,
                          "bank_charge_rmb": 0,
                          "bank_charge_usd": 0,
                          "real_amount_rmb": 0,
                          "real_amount_usd": 0,
                          "exchange_loss_amount_rmb": 0,
                          "exchange_loss_amount_usd": 0,
                          "status": 1,
                          "status_name": "待回款",
                          "collect_amount": 0,
                          "currency": "USD",
                          "bank_charge": 0,
                          "real_amount": 0,
                          "exchange_loss_amount_list": [],
                          "not_collect_amount": 23,
                          "not_collect_amount_rmb": 161,
                          "not_collect_amount_usd": 23,
                          "percentage": 0,
                          "percentage_rmb": 0,
                          "percentage_usd": 0
                        },
                        "main_user_info": {
                          "user_id": "11858712",
                          "nickname": "qiao",
                          "avatar": "https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg",
                          "department_info": [
                            {
                              "id": "8535",
                              "name": "风险投资部门",
                              "prefix": "0-",
                              "parent_id": "0",
                              "admin_type": "1"
                            }
                          ]
                        },
                        "handler_info": [],
                        "company": {
                          "company_id": 3441634943,
                          "user_id": [
                            11858713
                          ],
                          "name": "两个联系人的客户",
                          "serial_id": "2023668",
                          "is_archive": 1,
                          "short_name": "",
                          "country": "HK",
                          "timezone": "8",
                          "biz_type": "",
                          "origin": 1,
                          "origin_list": [
                            1
                          ],
                          "origin_name": "小满发现",
                          "product_group_ids": [],
                          "pool_user_map": [],
                          "pin_flag": 0,
                          "alibaba_info": [],
                          "deal_time": "2024-01-26 00:00:00",
                          "image_list": []
                        },
                        "last_trail": {
                          "trail_id": 3473544917,
                          "type": 1203,
                          "client_id": 14119,
                          "company_id": 3441634943,
                          "customer_id": [
                            3441634942
                          ],
                          "refer_id": 0,
                          "lead_id": 0,
                          "lead_customer_id": [
                            0
                          ],
                          "opportunity_id": 3444252868,
                          "create_user": 11858712,
                          "enable_flag": 1,
                          "delete_flag": 0,
                          "created_at": "2024-01-16 14:54:35",
                          "create_time": "2024-01-16 14:54:35",
                          "update_time": "2024-01-16 14:54:35",
                          "track_session_no": 0,
                          "inquiry_id": 0,
                          "comment_count": 0,
                          "transfer_invoice_id": 0,
                          "company_info": null,
                          "create_user_info": {
                            "user_id": "11858712",
                            "avatar": "https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg",
                            "name": "qiao",
                            "nickname": "qiao"
                          },
                          "customer_info": [
                            {
                              "customer_id": 3441634942,
                              "name": "1个联系人",
                              "email": "3232323@test.test",
                              "tel_list": [
                                [
                                  "355",
                                  "322939933"
                                ]
                              ],
                              "contact": []
                            }
                          ],
                          "lead_customer_info": null,
                          "lead_info": null,
                          "_id": 3473544917,
                          "status": 0,
                          "comment_list": [],
                          "mail_map": [],
                          "plan_map": [],
                          "node_type": 1203,
                          "module": 12,
                          "data": {
                            "stage": "PI",
                            "amount": "23.00",
                            "content": "商机销售阶段从【报价】变更为【PI】",
                            "currency": "USD",
                            "account_date": "2023-10-06"
                          },
                          "node_type_name": "商机销售阶段变更",
                          "opportunity_info": {
                            "opportunity_id": 3444252868,
                            "name": "32",
                            "amount": "23",
                            "currency": "USD",
                            "serial_id": "O63",
                            "enable_flag": 1,
                            "stage": 1101043675,
                            "user_id": [
                              11858712
                            ],
                            "account_date": "2023-10-06",
                            "approval_flow_info": [],
                            "stage_info": {
                              "success_rate": 80,
                              "tip": "",
                              "link_ids": [
                                3071499649,
                                3071499650,
                                3071499651,
                                3071499652,
                                3071499653,
                                3071499654,
                                3071499655
                              ],
                              "require_field_setting": [
                                "company_id",
                                "flow_id",
                                "main_user",
                                "name",
                                "currency",
                                "exchange_rate",
                                "account_date",
                                "stage",
                                "2717396962",
                                "3376922282",
                                "amount",
                                "type",
                                "4312930284",
                                "6753564"
                              ],
                              "stage_id": 1101043675,
                              "flow_id": 1101043671,
                              "type": 1,
                              "name": "PI3",
                              "name_info": {
                                "info_label": "PI3",
                                "info_value": "PI3"
                              },
                              "stage_name": "PI3",
                              "stage_name_info": {
                                "info_label": "PI3",
                                "info_value": "PI3"
                              },
                              "rank": 3,
                              "create_user": "0",
                              "enable_flag": 1,
                              "create_time": "2019-11-15 11:52:05",
                              "update_time": "2024-12-04 17:48:27"
                            },
                            "lock_flag": 0,
                            "fail_type": 0,
                            "fail_remark": "",
                            "fail_type_name": ""
                          }
                        },
                        "customer": [
                          {
                            "customer_id": 3441634942,
                            "name": "1个联系人",
                            "email": "3232323@test.test",
                            "is_archive": 1,
                            "post": "",
                            "tel_list": [
                              [
                                "355",
                                "322939933"
                              ]
                            ],
                            "contact": [],
                            "suspected_invalid_email_flag": 0,
                            "forbidden_flag": 0,
                            "reach_status": 0,
                            "reach_count": 0,
                            "reach_status_time": "1970-01-01 00:00:00",
                            "reach_success_count": 0
                          }
                        ],
                        "lead_name": "",
                        "stage_info": {
                          "success_rate": 80,
                          "tip": "",
                          "link_ids": [
                            3071499649,
                            3071499650,
                            3071499651,
                            3071499652,
                            3071499653,
                            3071499654,
                            3071499655
                          ],
                          "require_field_setting": [
                            "company_id",
                            "flow_id",
                            "main_user",
                            "name",
                            "currency",
                            "exchange_rate",
                            "account_date",
                            "stage",
                            "2717396962",
                            "3376922282",
                            "amount",
                            "type",
                            "4312930284",
                            "6753564"
                          ],
                          "stage_id": 1101043675,
                          "flow_id": 1101043671,
                          "type": 1,
                          "name": "PI3",
                          "name_info": {
                            "info_label": "PI3",
                            "info_value": "PI3"
                          },
                          "stage_name": "PI3",
                          "stage_name_info": {
                            "info_label": "PI3",
                            "info_value": "PI3"
                          },
                          "rank": 3,
                          "create_user": "0",
                          "enable_flag": 1,
                          "create_time": "2019-11-15 11:52:05",
                          "update_time": "2024-12-04 17:48:27"
                        },
                        "fail_type_name": "",
                        "fail_stage_info": [],
                        "sale_flow_name": "默认销售流程ppo",
                        "is_pin": 0,
                        "lock_flag": "0"
                      },
                      {
                        "serial_id": "O376",
                        "opportunity_id": 3082160972,
                        "name": "布拉格广场",
                        "user_id": [
                          11858712
                        ],
                        "company_id": 3114979349,
                        "main_user": 11858712,
                        "create_user": 11858712,
                        "handler": [],
                        "currency": "USD",
                        "origin": 10,
                        "origin_list": [
                          10
                        ],
                        "origin_name": "社交平台",
                        "amount": "3002",
                        "amount_rmb": "15010",
                        "amount_usd": "3002",
                        "exchange_rate": "500",
                        "exchange_rate_usd": "100",
                        "account_date": "2024-01-18",
                        "stage": 1101043677,
                        "type": 1,
                        "type_name": "老客户商机",
                        "fail_remark": "",
                        "stage_type": 2,
                        "stage_type_name": "赢单",
                        "fail_type": 0,
                        "remark": "",
                        "edit_time": "2024-01-17 17:27:41",
                        "trail_time": "2024-01-18 11:32:20",
                        "order_time": "2024-01-18 11:32:20",
                        "create_time": "2022-04-29 10:45:12",
                        "update_time": "2024-01-18 11:32:20",
                        "enable_flag": 1,
                        "trail_active_flag": 0,
                        "external_field_data": {
                          "2717396962": "T/T 美元账户",
                          "2717396970": "复购客户",
                          "3163689873": "15020.0000",
                          "3376916249": "文本",
                          "3394089934": ""
                        },
                        "create_type": 1,
                        "product_list": null,
                        "product_total_count": "0.0000",
                        "product_other_amount": "0.0000",
                        "product_total_amount": "0.0000",
                        "product_edit_time": "2024-01-17 17:28:02",
                        "flow_id": 1101043671,
                        "approval_status": -1,
                        "main_lead_id": 0,
                        "next_follow_up_time": "",
                        "pin_user_list": [],
                        "disable_flag": 0,
                        "tag": [],
                        "auto_summary_flag": 0,
                        "missingRequiredFieldFlag": true,
                        "missField": [
                          "4312930284",
                          "6753564"
                        ],
                        "amount_can_edit_flag": true,
                        "sync_amount_refer_type": 0,
                        "approval_flow_info": {
                          "apply_form_id": "3474311928",
                          "approval_flow_id": "3474129333",
                          "apply_user_id": "11858712",
                          "status": "1",
                          "refer_id": "3082160972",
                          "trigger_type": "101",
                          "type": "1"
                        },
                        "department_info": {
                          "id": "8535",
                          "name": "风险投资部门",
                          "prefix": "0-",
                          "parent_id": "0"
                        },
                        "stage_stay_time_old": 35787147,
                        "stage_stay_time": 35787148,
                        "create_user_info": {
                          "user_id": "11858712",
                          "nickname": "qiao",
                          "avatar": "https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg"
                        },
                        "cash_collection_info": {
                          "amount": 3002,
                          "amount_rmb": 15010,
                          "amount_usd": 3002,
                          "collect_amount_rmb": 34130.5,
                          "collect_amount_usd": 5000,
                          "bank_charge_rmb": 0,
                          "bank_charge_usd": 0,
                          "real_amount_rmb": 0,
                          "real_amount_usd": 0,
                          "exchange_loss_amount_rmb": 0,
                          "exchange_loss_amount_usd": 0,
                          "status": 3,
                          "status_name": "已结清",
                          "collect_amount": 5000,
                          "currency": "USD",
                          "bank_charge": 0,
                          "real_amount": 0,
                          "exchange_loss_amount_list": [],
                          "not_collect_amount": -1998,
                          "not_collect_amount_rmb": -19120.5,
                          "not_collect_amount_usd": -1998,
                          "percentage": 166.56,
                          "percentage_rmb": 227.39,
                          "percentage_usd": 166.56
                        },
                        "main_user_info": {
                          "user_id": "11858712",
                          "nickname": "qiao",
                          "avatar": "https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg",
                          "department_info": [
                            {
                              "id": "8535",
                              "name": "风险投资部门",
                              "prefix": "0-",
                              "parent_id": "0",
                              "admin_type": "1"
                            }
                          ]
                        },
                        "handler_info": [],
                        "company": {
                          "company_id": 3114979349,
                          "user_id": [],
                          "name": "323",
                          "serial_id": "216",
                          "is_archive": 0,
                          "short_name": "323",
                          "country": "AO",
                          "timezone": "1",
                          "biz_type": "其他",
                          "origin": 1161833776,
                          "origin_list": [
                            1161833776
                          ],
                          "origin_name": "15年5月份日本展",
                          "product_group_ids": [],
                          "pool_user_map": [],
                          "pin_flag": 1,
                          "alibaba_info": [],
                          "deal_time": "2022-11-24 00:00:00",
                          "image_list": []
                        },
                        "last_trail": {
                          "trail_id": 3474455356,
                          "type": 1203,
                          "client_id": 14119,
                          "company_id": 3114979349,
                          "customer_id": [
                            3082052068
                          ],
                          "refer_id": 0,
                          "lead_id": 0,
                          "lead_customer_id": [
                            0
                          ],
                          "opportunity_id": 3082160972,
                          "create_user": 11858712,
                          "enable_flag": 1,
                          "delete_flag": 0,
                          "created_at": "2024-01-18 11:32:20",
                          "create_time": "2024-01-18 11:32:20",
                          "update_time": "2024-01-18 11:32:20",
                          "track_session_no": 0,
                          "inquiry_id": 0,
                          "comment_count": 0,
                          "transfer_invoice_id": 0,
                          "company_info": null,
                          "create_user_info": {
                            "user_id": "11858712",
                            "avatar": "https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg",
                            "name": "qiao",
                            "nickname": "qiao"
                          },
                          "customer_info": [
                            {
                              "customer_id": 3082052068,
                              "name": "",
                              "email": "",
                              "tel_list": [],
                              "contact": []
                            }
                          ],
                          "lead_customer_info": null,
                          "lead_info": null,
                          "_id": 3474455356,
                          "status": 0,
                          "comment_list": [],
                          "mail_map": [],
                          "plan_map": [],
                          "node_type": 1203,
                          "module": 12,
                          "data": {
                            "stage": "赢单",
                            "amount": "3002.00",
                            "content": "商机销售阶段从【谈判】变更为【赢单】",
                            "currency": "USD",
                            "account_date": "2024-01-18"
                          },
                          "node_type_name": "商机销售阶段变更",
                          "opportunity_info": {
                            "opportunity_id": 3082160972,
                            "name": "布拉格广场",
                            "amount": "3002",
                            "currency": "USD",
                            "serial_id": "O376",
                            "enable_flag": 1,
                            "stage": 1101043677,
                            "user_id": [
                              11858712
                            ],
                            "account_date": "2024-01-18",
                            "approval_flow_info": [],
                            "stage_info": {
                              "success_rate": 100,
                              "tip": "恭喜赢单，再接再厉！",
                              "link_ids": [
                                3071499656,
                                3071499657,
                                3071499658,
                                3071499659
                              ],
                              "require_field_setting": [
                                "company_id",
                                "flow_id",
                                "main_user",
                                "name",
                                "currency",
                                "exchange_rate",
                                "account_date",
                                "stage",
                                "2717396962",
                                "3376922282",
                                "amount",
                                "type",
                                "4312930284",
                                "6753564"
                              ],
                              "stage_id": 1101043677,
                              "flow_id": 1101043671,
                              "type": 2,
                              "name": "赢单",
                              "name_info": {
                                "info_label": "赢单",
                                "info_value": "赢单"
                              },
                              "stage_name": "赢单",
                              "stage_name_info": {
                                "info_label": "赢单",
                                "info_value": "赢单"
                              },
                              "rank": 2,
                              "create_user": "11858711",
                              "enable_flag": 1,
                              "create_time": "2019-11-15 11:52:05",
                              "update_time": "2024-12-04 17:48:28"
                            },
                            "lock_flag": 0,
                            "fail_type": 0,
                            "fail_remark": "",
                            "fail_type_name": ""
                          }
                        },
                        "customer": [
[...]
