openapi: 3.0.1
info:
  title: Xiaoman OpenAPI - 采购退货单 (unofficial)
  version: '2026-05-09'
  description: 'Unofficial module spec generated from public Xiaoman Open API documentation: 采购退货单.'
servers:
- url: https://api-sandbox.xiaoman.cn
  description: official documented server
tags:
- name: 采购退货单
  x-module-slug: purchase-return
paths:
  /v1/invoices/purchaseReturn/list:
    get:
      summary: 采购退货单-列表
      deprecated: false
      description: ''
      tags:
      - 采购退货单
      - s7.1
      parameters:
      - name: start_time
        in: query
        description: 开始时间
        required: false
        example: ''
        schema:
          type: string
      - name: end_time
        in: query
        description: 结束时间
        required: false
        example: ''
        schema:
          type: string
      - name: start_index
        in: query
        description: 页码
        required: false
        example: 1
        schema:
          type: number
      - name: count
        in: query
        description: 每页条数
        required: false
        example: 10
        schema:
          type: number
      - name: removed
        in: query
        description: 默认0，1表示查询已删除的数据列表
        required: false
        example: 0
        schema:
          type: number
      - name: status
        in: query
        description: 对应的状态值1是
        required: false
        example: ''
        schema:
          type: string
      - name: time_type
        in: query
        description: 时间查询参数，默认为1，1是更新时间排序，2是创建时间排序
        required: false
        example: '2'
        schema:
          type: string
      - name: serial_id
        in: query
        description: 采购退货单号
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  now:
                    type: string
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            '3580648905':
                              type: string
                              description: 纯数字字段是自定义字段
                            warehouse_return_invoice_id:
                              type: integer
                              description: 退货单ID
                            type:
                              type: integer
                              description: 退货单类型
                            serial_id:
                              type: string
                              description: 采购退货单号
                            warehouse_invoice_time:
                              type: string
                              description: 退货日期
                            status:
                              type: integer
                              description: 退货状态
                            handler:
                              type: array
                              items:
                                type: integer
                              description: 当前处理人
                            create_time:
                              type: string
                              description: 创建时间
                            create_user:
                              type: integer
                              description: 创建人
                            update_time:
                              type: string
                              description: 更新时间
                            update_user:
                              type: integer
                              description: 更新人
                            external_field_data:
                              type: object
                              properties:
                                '3113188749':
                                  type: string
                                '3113203061':
                                  type: string
                                '3159957911':
                                  type: string
                                '3159957913':
                                  type: array
                                  items:
                                    type: string
                                '3159957916':
                                  type: string
                                '3159957918':
                                  type: string
                                  nullable: true
                                '3159957920':
                                  type: array
                                  items:
                                    type: string
                                '3159957925':
                                  type: array
                                  items:
                                    type: string
                                '3468718108':
                                  type: string
                                '3580648905':
                                  type: string
                              required:
                              - '3113188749'
                              - '3113203061'
                              - '3159957911'
                              - '3159957913'
                              - '3159957916'
                              - '3159957918'
                              - '3159957920'
                              - '3159957925'
                              - '3468718108'
                              x-apifox-orders:
                              - '3113188749'
                              - '3113203061'
                              - '3159957911'
                              - '3159957913'
                              - '3159957916'
                              - '3159957918'
                              - '3159957920'
                              - '3159957925'
                              - '3468718108'
                              - '3580648905'
                              description: 自定义字段
                            cause_id:
                              type: integer
                              description: 退货原因id
                            remark:
                              type: string
                              description: 备注
                            discount:
                              type: integer
                              description: 整单折扣额
                            discount_rate:
                              type: integer
                              description: 整单折扣率
                            product_total_amount:
                              type: integer
                              description: 产品总金额
                            refer_id:
                              type: integer
                              description: 关联对象id
                            refer_type:
                              type: integer
                              description: 关联对象类型
                            invoice_warehouse_id:
                              type: integer
                              description: 仓库id
                            currency:
                              type: string
                              description: 币种
                            exchange_rate:
                              type: integer
                              description: 汇率
                            exchange_rate_usd:
                              type: string
                              description: 汇率USD
                            product_total_amount_rmb:
                              type: string
                              description: 产品总金额(兑CNY)
                            product_total_amount_usd:
                              type: string
                              description: 产品总金额(兑USD)
                            create_user_info:
                              type: object
                              properties:
                                user_id:
                                  type: string
                                  description: 创建人ID
                                email:
                                  type: string
                                  description: 创建人邮箱
                                nickname:
                                  type: string
                                  description: 创建人昵称
                                avatar:
                                  type: string
                                  description: 创建人头像
                              required:
                              - user_id
                              - email
                              - nickname
                              - avatar
                              x-apifox-orders:
                              - user_id
                              - email
                              - nickname
                              - avatar
                              description: 创建人信息
                            update_info:
                              type: object
                              properties:
                                user_id:
                                  type: string
                                  description: 更新人ID
                                email:
                                  type: string
                                  description: 更新人邮箱
                                nickname:
                                  type: string
                                  description: 更新人昵称
                                ames_email:
                                  type: string
                              required:
                              - user_id
                              - email
                              - nickname
                              - ames_email
                              x-apifox-orders:
                              - user_id
                              - email
                              - nickname
                              - ames_email
                              description: 更新人信息
                            handler_info:
                              type: array
                              items:
                                type: string
                                description: 处理人ID
                              description: 处理人信息
                            invoice_warehouse_info:
                              type: object
                              properties:
                                warehouse_id:
                                  type: integer
                                name:
                                  type: string
                                status:
                                  type: integer
                                enable_flag:
                                  type: integer
                                warehouse_no:
                                  type: string
                              required:
                              - warehouse_id
                              - name
                              - status
                              - enable_flag
                              - warehouse_no
                              x-apifox-orders:
                              - warehouse_id
                              - name
                              - status
                              - enable_flag
                              - warehouse_no
                            cause_info:
                              type: array
                              items:
                                type: string
                              description: 退货原因信息
                            relation_object_info:
                              type: object
                              items:
                                type: string
                              properties:
                                supplier_info:
                                  type: object
                                  properties:
                                    supplier_id:
                                      type: integer
                                      description: 供应商ID
                                    name:
                                      type: string
                                      description: 供应商名称
                                    supplier_no:
                                      type: string
                                      description: 供应商编号
                                  required:
                                  - supplier_id
                                  - name
                                  - supplier_no
                                  x-apifox-orders:
                                  - supplier_id
                                  - name
                                  - supplier_no
                                  description: 供应商信息
                                supplier_id:
                                  type: integer
                                  description: 供应商ID
                              required:
                              - supplier_info
                              - supplier_id
                              x-apifox-orders:
                              - supplier_info
                              - supplier_id
                              description: 关联对象信息
                            supplier_info:
                              type: object
                              properties:
                                supplier_id:
                                  type: integer
                                  description: 供应商ID
                                name:
                                  type: string
                                  description: 供应商名称
                                supplier_no:
                                  type: string
                                  description: 供应商编号
                              required:
                              - supplier_id
                              - name
                              - supplier_no
                              x-apifox-orders:
                              - supplier_id
                              - name
                              - supplier_no
                              description: 供应商信息
                            supplier_id:
                              type: integer
                              description: 供应商ID
                          required:
                          - '3580648905'
                          - warehouse_return_invoice_id
                          - type
                          - serial_id
                          - warehouse_invoice_time
                          - status
                          - handler
                          - create_time
                          - create_user
                          - update_time
                          - update_user
                          - external_field_data
                          - cause_id
                          - remark
                          - discount
                          - discount_rate
                          - product_total_amount
                          - refer_id
                          - refer_type
                          - invoice_warehouse_id
                          - currency
                          - exchange_rate
                          - exchange_rate_usd
                          - product_total_amount_rmb
                          - product_total_amount_usd
                          - create_user_info
                          - update_info
                          - handler_info
                          - invoice_warehouse_info
                          - cause_info
                          - relation_object_info
                          - supplier_info
                          - supplier_id
                          x-apifox-orders:
                          - warehouse_return_invoice_id
                          - type
                          - serial_id
                          - warehouse_invoice_time
                          - status
                          - handler
                          - create_time
                          - create_user
                          - update_time
                          - update_user
                          - external_field_data
                          - cause_id
                          - remark
                          - discount
                          - discount_rate
                          - product_total_amount
                          - refer_id
                          - refer_type
                          - invoice_warehouse_id
                          - currency
                          - exchange_rate
                          - exchange_rate_usd
                          - product_total_amount_rmb
                          - product_total_amount_usd
                          - '3580648905'
                          - create_user_info
                          - update_info
                          - handler_info
                          - invoice_warehouse_info
                          - cause_info
                          - relation_object_info
                          - supplier_info
                          - supplier_id
                      count:
                        type: integer
                    required:
                    - list
                    - count
                    x-apifox-orders:
                    - list
                    - count
                required:
                - code
                - message
                - now
                - data
                x-apifox-orders:
                - code
                - message
                - now
                - data
              example:
                code: 200
                message: success
                now: '2025-03-14 15:18:31'
                data:
                  list:
                  - '3113188749': ''
                    '3113203061': ''
                    '3159957911': 蓝色
                    '3159957913': []
                    '3159957916': ''
                    '3159957918': null
                    '3159957920': []
                    '3159957925': []
                    '3468718108': ''
                    '3580648905': ''
                    warehouse_return_invoice_id: 5208577575
                    type: 33
                    serial_id: CGTH2503110009
                    warehouse_invoice_time: '2025-03-11 00:00:00'
                    status: 1
                    handler:
                    - 11858712
                    create_time: '2025-03-11 15:09:42'
                    create_user: 11858712
                    update_time: '2025-03-11 15:09:42'
                    update_user: 11858712
                    external_field_data:
                      '3113188749': ''
                      '3113203061': ''
                      '3159957911': 蓝色
                      '3159957913': []
                      '3159957916': ''
                      '3159957918': null
                      '3159957920': []
                      '3159957925': []
                      '3468718108': ''
                      '3580648905': ''
                    cause_id: 0
                    remark: ''
                    discount: 0
                    discount_rate: 0
                    product_total_amount: 46
                    refer_id: 0
                    refer_type: 23
                    invoice_warehouse_id: 1131355530
                    currency: USD
                    exchange_rate: 725
                    exchange_rate_usd: '100.00000'
                    product_total_amount_rmb: '333.5000'
                    product_total_amount_usd: '46.0000'
                    create_user_info:
                      user_id: '11858712'
                      email: qiao@xiaomancrm.com
                      nickname: qiao
                      avatar: https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg
                      ames_email: ''
                    update_info:
                      user_id: '11858712'
                      email: qiao@xiaomancrm.com
                      nickname: qiao
                      avatar: https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg
                      ames_email: ''
                    handler_info: []
                    invoice_warehouse_info:
                      warehouse_id: 1131355530
                      name: 默认仓库edit
                      status: 1
                      enable_flag: 1
                      warehouse_no: WH001
                    cause_info: []
                    relation_object_info: []
                  - '3113188749': ''
                    '3113203061': ''
                    '3159957911': 蓝色
                    '3159957913': []
                    '3159957916': ''
                    '3159957918': null
                    '3159957920': []
                    '3159957925': []
                    '3468718108': ''
                    '3580648905': ''
                    warehouse_return_invoice_id: 5208576959
                    type: 33
                    serial_id: CGTH2503110008
                    warehouse_invoice_time: '2025-03-11 00:00:00'
                    status: 2
                    handler:
                    - 11858712
                    create_time: '2025-03-11 15:02:12'
                    create_user: 11858712
                    update_time: '2025-03-11 15:02:23'
                    update_user: 11858712
                    external_field_data:
                      '3113188749': ''
                      '3113203061': ''
                      '3159957911': 蓝色
                      '3159957913': []
                      '3159957916': ''
                      '3159957918': null
                      '3159957920': []
                      '3159957925': []
                      '3468718108': ''
                      '3580648905': ''
                    cause_id: 0
                    remark: ''
                    discount: 0
                    discount_rate: 0
                    product_total_amount: 100
                    refer_id: 0
                    refer_type: 23
                    invoice_warehouse_id: 1131355530
                    currency: CNY
                    exchange_rate: 100
                    exchange_rate_usd: '14.28570'
                    product_total_amount_rmb: '100.0000'
                    product_total_amount_usd: '14.2900'
                    create_user_info:
                      user_id: '11858712'
                      email: qiao@xiaomancrm.com
                      nickname: qiao
                      avatar: https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg
                      ames_email: ''
                    update_info:
                      user_id: '11858712'
                      email: qiao@xiaomancrm.com
                      nickname: qiao
                      avatar: https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg
                      ames_email: ''
                    handler_info: []
                    invoice_warehouse_info:
                      warehouse_id: 1131355530
                      name: 默认仓库edit
                      status: 1
                      enable_flag: 1
                      warehouse_no: WH001
                    cause_info: []
                    relation_object_info: []
                  - '3113188749': ''
                    '3113203061': ''
                    '3159957911': 蓝色
                    '3159957913': []
                    '3159957916': ''
                    '3159957918': null
                    '3159957920': []
                    '3159957925': []
                    '3468718108': ''
                    '3580648905': ''
                    warehouse_return_invoice_id: 5203975257
                    type: 33
                    serial_id: CGTH2503100006
                    warehouse_invoice_time: '2025-03-10 00:00:00'
                    status: 1
                    handler:
                    - 11858712
                    create_time: '2025-03-10 17:48:50'
                    create_user: 11858712
                    update_time: '2025-03-10 17:48:50'
                    update_user: 11858712
                    external_field_data:
                      '3113188749': ''
                      '3113203061': ''
                      '3159957911': 蓝色
                      '3159957913': []
                      '3159957916': ''
                      '3159957918': null
                      '3159957920': []
                      '3159957925': []
                      '3468718108': ''
                      '3580648905': ''
                    cause_id: 0
                    remark: ''
                    discount: 0
                    discount_rate: 0
                    product_total_amount: 1
                    refer_id: 0
                    refer_type: 23
                    invoice_warehouse_id: 1131355530
                    currency: CNY
                    exchange_rate: 100
                    exchange_rate_usd: '14.28570'
                    product_total_amount_rmb: '1.0000'
                    product_total_amount_usd: '0.1400'
                    create_user_info:
                      user_id: '11858712'
                      email: qiao@xiaomancrm.com
                      nickname: qiao
                      avatar: https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg
                      ames_email: ''
                    update_info:
                      user_id: '11858712'
                      email: qiao@xiaomancrm.com
                      nickname: qiao
                      avatar: https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg
                      ames_email: ''
                    handler_info: []
                    invoice_warehouse_info:
                      warehouse_id: 1131355530
                      name: 默认仓库edit
                      status: 1
                      enable_flag: 1
                      warehouse_no: WH001
                    cause_info: []
                    relation_object_info: []
                  - '3113188749': ''
                    '3113203061': ''
                    '3159957911': 蓝色
                    '3159957913': []
                    '3159957916': '2025-01-16'
                    '3159957918': null
                    '3159957920': []
                    '3159957925': []
                    '3468718108': ''
                    '3580648905': ''
                    warehouse_return_invoice_id: 5159558226
                    type: 33
                    serial_id: CGTH2501090003
                    warehouse_invoice_time: '2025-01-24 00:00:00'
                    status: 1
                    handler:
                    - 11858712
                    create_time: '2025-01-09 18:11:25'
                    create_user: 11858712
                    update_time: '2025-01-09 18:11:25'
                    update_user: 11858712
                    external_field_data:
                      '3113188749': ''
                      '3113203061': ''
                      '3159957911': 蓝色
                      '3159957913': []
                      '3159957916': '2025-01-16'
                      '3159957918': null
                      '3159957920': []
                      '3159957925': []
                      '3468718108': ''
                      '3580648905': ''
                    cause_id: 0
                    remark: ''
                    discount: 0
                    discount_rate: 0
                    product_total_amount: 2
                    refer_id: 5137516616
                    refer_type: 23
                    invoice_warehouse_id: 1131355530
                    currency: NOK
                    exchange_rate: 64.3
                    exchange_rate_usd: '8.78580'
                    product_total_amount_rmb: '1.2900'
                    product_total_amount_usd: '0.1800'
                    create_user_info:
                      user_id: '11858712'
                      email: qiao@xiaomancrm.com
                      nickname: qiao
                      avatar: https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg
                      ames_email: ''
                    update_info:
                      user_id: '11858712'
                      email: qiao@xiaomancrm.com
                      nickname: qiao
                      avatar: https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg
                      ames_email: ''
                    handler_info: []
                    invoice_warehouse_info:
                      warehouse_id: 1131355530
                      name: 默认仓库edit
                      status: 1
                      enable_flag: 1
                      warehouse_no: WH001
                    cause_info: []
                    relation_object_info:
                      supplier_info:
                        supplier_id: 5137516616
                        name: 配件供应商
                        supplier_no: SU0003
                      supplier_id: 5137516616
                    supplier_info:
                      supplier_id: 5137516616
                      name: 配件供应商
                      supplier_no: SU0003
                    supplier_id: 5137516616
                  - '3113188749': ''
                    '3113203061': ''
                    '3159957911': 蓝色
                    '3159957913': []
                    '3159957916': ''
                    '3159957918': null
                    '3159957920': []
                    '3159957925': []
                    '3468718108': ''
                    '3580648905': ''
                    warehouse_return_invoice_id: 3515073275
                    type: 33
                    serial_id: CGTH2405060082
                    warehouse_invoice_time: '2020-01-31 00:00:00'
                    status: 1
                    handler:
                    - 11858712
                    create_time: '2024-05-06 18:16:09'
                    create_user: 11858712
                    update_time: '2025-01-03 11:04:10'
                    update_user: 11858712
                    external_field_data:
                      '3113188749': ''
                      '3113203061': ''
                      '3159957911': 蓝色
                      '3159957913': []
                      '3159957916': ''
                      '3159957918': null
                      '3159957920': []
                      '3159957925': []
                      '3468718108': ''
                      '3580648905': ''
                    cause_id: 0
                    remark: ''
                    discount: 0
                    discount_rate: 0
                    product_total_amount: 1
                    refer_id: 3514222847
                    refer_type: 23
                    invoice_warehouse_id: 1131355530
                    currency: DKK
                    exchange_rate: 103.69
                    exchange_rate_usd: '14.40760'
                    product_total_amount_rmb: '1.0400'
                    product_total_amount_usd: '0.1400'
                    create_user_info:
                      user_id: '11858712'
                      email: qiao@xiaomancrm.com
                      nickname: qiao
                      avatar: https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg
                      ames_email: ''
                    update_info:
                      user_id: '11858712'
                      email: qiao@xiaomancrm.com
                      nickname: qiao
                      avatar: https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg
                      ames_email: ''
                    handler_info: []
                    invoice_warehouse_info:
                      warehouse_id: 1131355530
                      name: 默认仓库edit
                      status: 1
                      enable_flag: 1
                      warehouse_no: WH001
                    cause_info: []
                    relation_object_info:
                      supplier_info:
                        supplier_id: 3514222847
                        name: 自动化供应商1713781338040
                        supplier_no: SU0620
                      supplier_id: 3514222847
                    supplier_info:
                      supplier_id: 3514222847
                      name: 自动化供应商1713781338040
                      supplier_no: SU0620
                    supplier_id: 3514222847
                  - '3113188749': ''
                    '3113203061': ''
                    '3159957911': 蓝色
                    '3159957913': []
                    '3159957916': ''
                    '3159957918': null
                    '3159957920': []
                    '3159957925': []
                    '3468718108': ''
                    '3580648905': ''
                    warehouse_return_invoice_id: 5130763519
                    type: 33
                    serial_id: CGTH2412200002
                    warehouse_invoice_time: '2024-12-20 00:00:00'
                    status: 2
                    handler:
                    - 11858712
                    create_time: '2024-12-20 13:49:17'
                    create_user: 11858712
                    update_time: '2024-12-20 13:49:23'
                    update_user: 11858712
                    external_field_data:
                      '3113188749': ''
                      '3113203061': ''
                      '3159957911': 蓝色
                      '3159957913': []
                      '3159957916': ''
                      '3159957918': null
                      '3159957920': []
                      '3159957925': []
                      '3468718108': ''
                      '3580648905': ''
                    cause_id: 0
                    remark: ''
                    discount: 0
                    discount_rate: 0
                    product_total_amount: 376
                    refer_id: 3448556444
                    refer_type: 23
                    invoice_warehouse_id: 1131355530
                    currency: CNY
                    exchange_rate: 100
                    exchange_rate_usd: '14.28570'
                    product_total_amount_rmb: '376.0000'
                    product_total_amount_usd: '53.7100'
                    create_user_info:
                      user_id: '11858712'
                      email: qiao@xiaomancrm.com
                      nickname: qiao
                      avatar: https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg
                      ames_email: ''
                    update_info:
                      user_id: '11858712'
                      email: qiao@xiaomancrm.com
                      nickname: qiao
                      avatar: https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg
                      ames_email: ''
                    handler_info: []
                    invoice_warehouse_info:
                      warehouse_id: 1131355530
                      name: 默认仓库edit
                      status: 1
                      enable_flag: 1
                      warehouse_no: WH001
                    cause_info: []
                    relation_object_info:
                      supplier_info:
                        supplier_id: 3448556444
                        name: 薯片供应商
                        supplier_no: SU0114
                      supplier_id: 3448556444
                    supplier_info:
                      supplier_id: 3448556444
                      name: 薯片供应商
                      supplier_no: SU0114
                    supplier_id: 3448556444
                  - '3113188749': ''
                    '3113203061': ''
                    '3159957911': 蓝色
                    '3159957913': []
                    '3159957916': ''
                    '3159957918': null
                    '3159957920': []
                    '3159957925': []
                    '3468718108': ''
                    '3580648905': ''
                    warehouse_return_invoice_id: 5119612568
                    type: 33
                    serial_id: CGTH2412170001
                    warehouse_invoice_time: '2024-12-17 00:00:00'
                    status: 2
                    handler:
                    - 11858712
                    create_time: '2024-12-17 13:46:24'
                    create_user: 11858712
                    update_time: '2024-12-17 13:46:47'
                    update_user: 11858712
                    external_field_data:
                      '3113188749': ''
                      '3113203061': ''
                      '3159957911': 蓝色
                      '3159957913': []
                      '3159957916': ''
                      '3159957918': null
                      '3159957920': []
                      '3159957925': []
                      '3468718108': ''
                      '3580648905': ''
                    cause_id: 0
                    remark: ''
                    discount: 0
                    discount_rate: 0
                    product_total_amount: 33
                    refer_id: 5118499125
                    refer_type: 23
                    invoice_warehouse_id: 1131355530
                    currency: NOK
                    exchange_rate: 65.09
                    exchange_rate_usd: '8.94990'
                    product_total_amount_rmb: '21.4800'
                    product_total_amount_usd: '2.9500'
                    create_user_info:
                      user_id: '11858712'
                      email: qiao@xiaomancrm.com
                      nickname: qiao
                      avatar: https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg
                      ames_email: ''
                    update_info:
                      user_id: '11858712'
                      email: qiao@xiaomancrm.com
                      nickname: qiao
                      avatar: https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg
                      ames_email: ''
                    handler_info: []
                    invoice_warehouse_info:
                      warehouse_id: 1131355530
                      name: 默认仓库edit
                      status: 1
                      enable_flag: 1
                      warehouse_no: WH001
                    cause_info: []
                    relation_object_info:
                      supplier_info:
                        supplier_id: 5118499125
                        name: 机器人的供应商
                        supplier_no: SU0001
                      supplier_id: 5118499125
                    supplier_info:
                      supplier_id: 5118499125
                      name: 机器人的供应商
                      supplier_no: SU0001
                    supplier_id: 5118499125
                  - '3113188749': ''
                    '3113203061': ''
                    '3159957911': 蓝色
                    '3159957913': []
                    '3159957916': ''
                    '3159957918': ''
                    '3159957920': []
                    '3159957925': []
                    '3468718108': ''
                    warehouse_return_invoice_id: 3566994512
                    type: 33
                    serial_id: CGTH2406210086
                    warehouse_invoice_time: '2024-06-21 00:00:00'
                    status: 2
                    handler:
                    - 11858712
                    create_time: '2024-06-21 16:02:02'
                    create_user: 11858712
                    update_time: '2024-06-28 11:43:56'
                    update_user: 11858713
                    external_field_data:
                      '3113188749': ''
                      '3113203061': ''
                      '3159957911': 蓝色
                      '3159957913': []
                      '3159957916': ''
                      '3159957918': ''
                      '3159957920': []
                      '3159957925': []
                      '3468718108': ''
                    cause_id: 0
                    remark: ''
                    discount: 0
                    discount_rate: 0
                    product_total_amount: 60000
                    refer_id: 3564589756
                    refer_type: 23
                    invoice_warehouse_id: 1131355530
                    currency: CNY
                    exchange_rate: 100
                    exchange_rate_usd: '13.79140'
                    product_total_amount_rmb: '60000.0000'
                    product_total_amount_usd: '8274.8400'
                    create_user_info:
                      user_id: '11858712'
                      email: qiao@xiaomancrm.com
                      nickname: qiao
                      avatar: https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg
                      ames_email: ''
                    update_info:
                      user_id: '11858713'
                      email: qiao2@xiaomancrm.com
                      nickname: 大乔
                      avatar: https://v4client.oss-cn-hangzhou.aliyuncs.com/product-file/img/11858713/a7ae39416ece4b2261b3b0ece9258aa227cbda4445d162a21953217cda4c8258.jpeg
                      ames_email: ''
                    handler_info: []
                    invoice_warehouse_info:
                      warehouse_id: 1131355530
                      name: 默认仓库edit
                      status: 1
                      enable_flag: 1
                      warehouse_no: WH001
                    cause_info: []
                    relation_object_info:
                      supplier_info:
                        supplier_id: 3564589756
                        name: 自动化供应商1718158398050
                        supplier_no: SU0791
                      supplier_id: 3564589756
                    supplier_info:
                      supplier_id: 3564589756
                      name: 自动化供应商1718158398050
                      supplier_no: SU0791
                    supplier_id: 3564589756
                  - '3113188749': ''
                    '3113203061': ''
                    '3159957911': 蓝色
                    '3159957913': []
                    '3159957916': ''
                    '3159957918': ''
                    '3159957920': []
                    '3159957925': []
                    '3468718108': ''
                    warehouse_return_invoice_id: 3562329914
                    type: 33
                    serial_id: CGTH2405300085
                    warehouse_invoice_time: '2024-05-30 00:00:00'
                    status: 1
                    handler:
                    - 11858712
                    create_time: '2024-05-30 15:16:32'
                    create_user: 11858712
                    update_time: '2024-05-30 15:16:32'
                    update_user: 11858712
                    external_field_data:
                      '3113188749': ''
                      '3113203061': ''
                      '3159957911': 蓝色
                      '3159957913': []
                      '3159957916': ''
                      '3159957918': ''
                      '3159957920': []
                      '3159957925': []
                      '3468718108': ''
                    cause_id: 0
                    remark: ''
                    discount: 0
                    discount_rate: 0
                    product_total_amount: 9540492
                    refer_id: 3560491626
                    refer_type: 23
                    invoice_warehouse_id: 1131355530
                    currency: CNY
                    exchange_rate: 100
                    exchange_rate_usd: '13.81520'
                    product_total_amount_rmb: '9540492.0000'
                    product_total_amount_usd: '1318038.0500'
                    create_user_info:
                      user_id: '11858712'
                      email: qiao@xiaomancrm.com
                      nickname: qiao
                      avatar: https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg
                      ames_email: ''
                    update_info:
                      user_id: '11858712'
                      email: qiao@xiaomancrm.com
                      nickname: qiao
                      avatar: https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg
                      ames_email: ''
                    handler_info: []
                    invoice_warehouse_info:
                      warehouse_id: 1131355530
                      name: 默认仓库edit
                      status: 1
                      enable_flag: 1
                      warehouse_no: WH001
                    cause_info: []
                    relation_object_info:
                      supplier_info:
                        supplier_id: 3560491626
                        name: '444'
                        supplier_no: SU0757
                      supplier_id: 3560491626
                    supplier_info:
                      supplier_id: 3560491626
                      name: '444'
                      supplier_no: SU0757
                    supplier_id: 3560491626
                  - '3113188749': ''
                    '3113203061': ''
                    '3159957911': 蓝色
                    '3159957913': []
                    '3159957916': ''
                    '3159957918': ''
                    '3159957920': []
                    '3159957925': []
                    '3468718108': ''
                    warehouse_return_invoice_id: 3560074669
                    type: 33
                    serial_id: CGTH2405230084
                    warehouse_invoice_time: '2024-05-23 00:00:00'
                    status: 2
                    handler:
                    - 11858712
                    create_time: '2024-05-23 10:41:14'
                    create_user: 11858712
                    update_time: '2024-05-23 10:43:17'
                    update_user: 11858712
                    external_field_data:
                      '3113188749': ''
                      '3113203061': ''
                      '3159957911': 蓝色
                      '3159957913': []
                      '3159957916': ''
                      '3159957918': ''
                      '3159957920': []
                      '3159957925': []
                      '3468718108': ''
                    cause_id: 0
                    remark: ''
                    discount: 0
                    discount_rate: 0
                    product_total_amount: 340
                    refer_id: 3522261951
                    refer_type: 23
                    invoice_warehouse_id: 1131355530
                    currency: CNY
                    exchange_rate: 100
                    exchange_rate_usd: '13.82760'
                    product_total_amount_rmb: '340.0000'
                    product_total_amount_usd: '47.0100'
                    create_user_info:
                      user_id: '11858712'
                      email: qiao@xiaomancrm.com
                      nickname: qiao
                      avatar: https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg
                      ames_email: ''
                    update_info:
                      user_id: '11858712'
                      email: qiao@xiaomancrm.com
                      nickname: qiao
                      avatar: https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/11858712/80167ab6225a9784013a3f1ce07049081bbe77dd280e66879305401a24d3a103.jpeg
                      ames_email: ''
                    handler_info: []
                    invoice_warehouse_info:
                      warehouse_id: 1131355530
                      name: 默认仓库edit
                      status: 1
                      enable_flag: 1
                      warehouse_no: WH001
                    cause_info: []
                    relation_object_info:
                      supplier_info:
                        supplier_id: 3522261951
                        name: 河北欧荣起重机械制造有限公司
                        supplier_no: SU0622
                      supplier_id: 3522261951
                    supplier_info:
                      supplier_id: 3522261951
                      name: 河北欧荣起重机械制造有限公司
                      supplier_no: SU0622
                    supplier_id: 3522261951
                  count: 109
          headers: {}
          x-apifox-name: 成功
      security: []
      x-apifox-folder: 采购退货单
      x-apifox-status: released
      operationId: get_v1_invoices_purchasereturn_list
      x-local-source-path: sources/pages/api-3484264.md
      x-source-id: api-3484264
      x-source-title: 采购退货单-列表
      x-source-module: 采购退货单
  /v1/invoices/purchaseReturn/info:
    get:
      summary: 采购退货单-详情
      deprecated: false
      description: ''
      tags:
      - 采购退货单
      - s7.1
      parameters:
      - name: warehouse_return_invoice_id
        in: query
        description: 采购退货单id 值来自/v1/invoices/purchaseReturn/list
        required: false
        example: '5208577575'
        schema:
          type: string
      - name: serial_id
        in: query
        description: 采购退货单编号 值来自/v1/invoices/purchaseReturn/list
        required: false
        example: CGTH2405060082
        schema:
          type: string
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  now:
                    type: string
                  data:
                    type: object
                    properties:
                      warehouse_return_invoice_id:
                        type: integer
                        title: 采购退货id
                      client_id:
                        type: integer
                        title: client_id
                      type:
                        type: integer
                        title: 枚举值 33，用于标识采购退货
                      serial_id:
                        type: string
                        title: ' 采购退货单号'
                      warehouse_invoice_time:
                        type: string
                        title: 退货日期
                      status:
                        type: integer
                        title: 状态 枚举 1草稿  2已退货
                      handler:
                        type: array
                        items:
                          type: integer
                        title: 处理人
                      attachment:
                        type: array
                        items:
                          type: object
                          properties:
                            file_id:
                              type: string
                              title: 附件文件ID
                            file_name:
                              type: string
                              title: 附件文件名称
                            file_size:
                              type: string
                              title: 附件文件大小
                            file_url:
                              type: string
                              title: 附件文件URL
                            preview_url:
                              type: string
                            bucket:
                              type: string
                            file_key:
                              type: string
                            mime_type:
                              type: string
                            create_time:
                              type: string
                            create_user:
                              type: object
                              properties:
                                user_id:
                                  type: string
                                email:
                                  type: string
                                nickname:
                                  type: string
                                avatar:
                                  type: string
                                ames_email:
                                  type: string
                              required:
                              - user_id
                              - email
                              - nickname
                              - avatar
                              - ames_email
                              x-apifox-orders:
                              - user_id
                              - email
                              - nickname
                              - avatar
                              - ames_email
                          required:
                          - file_id
                          - file_name
                          - file_size
                          - file_url
                          - preview_url
                          - bucket
                          - file_key
                          - mime_type
                          - create_time
                          - create_user
                          x-apifox-orders:
                          - file_id
                          - file_name
                          - file_size
                          - file_url
                          - preview_url
                          - bucket
                          - file_key
                          - mime_type
                          - create_time
                          - create_user
                        title: 附件文件列表
                      create_time:
                        type: string
                        title: 创建时间
                      create_user:
                        type: integer
                        title: 创建人
                      update_time:
                        type: string
                        title: 修改时间
                      update_user:
                        type: integer
                        title: 修改人
                      external_field_data:
                        type: object
                        properties:
                          '3113188749':
                            type: string
                          '3113203061':
                            type: string
                          '3159957911':
                            type: string
                          '3159957913':
                            type: array
                            items:
                              type: string
                          '3159957916':
                            type: string
                          '3159957918':
                            type: 'null'
                          '3159957920':
                            type: array
                            items:
                              type: string
                          '3159957925':
                            type: array
                            items:
                              type: string
                          '3468718108':
                            type: string
                          '3580648905':
                            type: string
                        required:
                        - '3113188749'
                        - '3113203061'
                        - '3159957911'
                        - '3159957913'
                        - '3159957916'
                        - '3159957918'
                        - '3159957920'
                        - '3159957925'
                        - '3468718108'
                        - '3580648905'
                        x-apifox-orders:
                        - '3113188749'
                        - '3113203061'
                        - '3159957911'
                        - '3159957913'
                        - '3159957916'
                        - '3159957918'
                        - '3159957920'
                        - '3159957925'
                        - '3468718108'
                        - '3580648905'
                        title: 自定义字段
                      delete_flag:
                        type: integer
                        title: 是否已删除，0是未删除，2是删除
                      cause_id:
                        type: integer
                        title: 期初入库id，可以忽略
                      remark:
                        type: string
                        title: 备注
                      discount:
                        type: integer
                        title: 整单折扣额
                      discount_rate:
                        type: integer
                        title: 整单折扣率，范围[0,100]
                      product_total_amount:
                        type: integer
                        title: 产品总金额
                      product_total_count:
                        type: integer
                        title: 产品总数量
                      refer_id:
                        type: integer
                        title: 关联id
                        description: 供应商id
                      refer_type:
                        type: integer
                        title: 关联类型
                        description: 供应商(23)
                      invoice_warehouse_id:
                        type: integer
                        title: 仓库id
                      currency:
                        type: string
                        title: 币种
                      exchange_rate:
                        type: number
                        title: 汇率(兑cny)
                      exchange_rate_usd:
                        type: string
                        title: 汇率(兑usd)
                      product_total_amount_rmb:
                        type: string
                        title: 产品总金额(rmb)
                      product_total_amount_usd:
                        type: string
                        title: 产品总金额(usd)
                      product_total_count_no_parts:
                        type: string
                        title: 产品总数量(不包含配件)
                      parts_total_count:
                        type: string
                        title: 配件总数量
                      create_user_info:
                        type: object
                        properties:
                          user_id:
                            type: string
                            title: 创建人ID
                          email:
                            type: string
                            title: 创建人邮箱
                          nickname:
                            type: string
                            title: 创建人昵称
                          avatar:
                            type: string
                            title: 创建人头像
                        required:
                        - user_id
                        - email
                        - nickname
                        - avatar
                        x-apifox-orders:
                        - user_id
                        - email
                        - nickname
                        - avatar
                        title: 创建人信息
                      update_info:
                        type: object
                        properties:
                          user_id:
                            type: string
                            title: 修改人ID
                          email:
                            type: string
                            title: 修改人邮箱
                          nickname:
                            type: string
                            title: 修改人昵称
                          avatar:
                            type: string
                            title: 修改人头像
                        required:
                        - user_id
                        - email
                        - nickname
                        - avatar
                        x-apifox-orders:
                        - user_id
                        - email
                        - nickname
                        - avatar
                        title: 修改人
                      handler_info:
                        type: array
                        items:
                          type: object
                          properties:
                            user_id:
                              type: string
                              title: 处理人ID
                            email:
                              type: string
                              title: 处理人邮箱
                            nickname:
                              type: string
                              title: 处理人昵称
                            avatar:
                              type: string
                              title: 处理人头像
                          x-apifox-orders:
                          - user_id
                          - email
                          - nickname
                          - avatar
                        title: 处理人
                      invoice_warehouse_info:
                        type: object
                        properties:
                          warehouse_id:
                            type: integer
                            title: 仓库ID
                          name:
                            type: string
                            title: 仓库名称
                          status:
                            type: integer
                            title: 仓库状态：1-启用，2-停用
                          enable_flag:
                            type: integer
                            title: 是否已经删除，0删除，1可用
                          warehouse_no:
                            type: string
                            title: 仓库编号
                        required:
                        - warehouse_id
                        - name
                        - status
                        - enable_flag
                        - warehouse_no
                        x-apifox-orders:
                        - warehouse_id
                        - name
                        - status
                        - enable_flag
                        - warehouse_no
                        title: 仓库信息
                      cause_info:
                        type: array
                        items:
                          type: string
                        title: 退货原因信息
                      record_list:
                        type: array
                        items:
                          type: object
                          properties:
                            '3468697736':
                              type: integer
                              title: 自定义字段
                            warehouse_return_record_id:
                              type: integer
                              title: 采购退货单明细id
                            warehouse_return_invoice_id:
                              type: integer
                              title: 采购退货单id
                            client_id:
                              type: integer
                              title: 企业id
                            type:
                              type: integer
                              title: 枚举值 33，用于标识采购退货
                            sku_id:
                              type: integer
                              title: 产品sku_id
                            product_id:
                              type: integer
                              title: 产品id
                            return_count:
                              type: integer
                              title: 退货数量
                            return_price:
                              type: integer
                              title: 退货单价
                            warehouse_invoice_time:
                              type: string
                              title: 退货时间
                            status:
                              type: integer
                              title: 退货单状态
                            handler:
                              type: array
                              items:
                                type: string
                              title: 退货单处理人
                            create_time:
                              type: string
                              title: 创建时间
                            create_user:
                              type: integer
                              title: 创建人
                            update_time:
                              type: string
                              title: 更新时间
                            update_user:
                              type: integer
                              title: 更新人
                            external_field_data:
                              type: object
                              properties:
                                '3118099725':
                                  type: string
                                '3118099731':
                                  type: string
                                '3159957929':
                                  type: string
                                '3159957933':
                                  type: string
                                '3159957935':
                                  type: 'null'
                                '3159957937':
                                  type: array
                                  items:
                                    type: string
                                '3159980713':
                                  type: string
                                '3468697736':
                                  type: integer
                              required:
                              - '3118099725'
                              - '3118099731'
                              - '3159957929'
                              - '3159957933'
                              - '3159957935'
                              - '3159957937'
                              - '3159980713'
                              - '3468697736'
                              x-apifox-orders:
                              - '3118099725'
                              - '3118099731'
                              - '3159957929'
                              - '3159957933'
                              - '3159957935'
                              - '3159957937'
                              - '3159980713'
                              - '3468697736'
                              title: 自定义字段
                            delete_flag:
                              type: integer
                              title: 是否已删除，0是未删除，2是删除
                            warehouse_id:
                              type: integer
                              title: 仓库id
                            product_amount:
                              type: integer
                              title: 产品金额
                            moment_enable_count:
                              type: integer
                              title: 即时可用库存，存储的是保存时刻的库存
                            refer_id:
                              type: integer
                              title: 关联单据id，如采购订单id
                            refer_type:
                              type: integer
                              title: 关联单据类型，采购订单类型(28)
                            sub_refer_id:
                              type: integer
                              title: 关联单据明细id，如采购订单明细id
                            is_master_product:
                              type: integer
                              title: 是否主产品
                            master_id:
                              type: integer
                              title: 归属主产品id（明细的id）
                            product_image:
                              type: array
                              items:
                                type: object
                                properties:
                                  file_id:
                                    type: string
                                  file_name:
                                    type: string
                                  file_size:
                                    type: string
                                  mime_type:
                                    type: string
                                  file_key:
                                    type: string
                                  file_path:
                                    type: string
                                  file_preview_url:
                                    type: string
                                  create_user:
                                    type: string
                                  create_time:
                                    type: string
                                x-apifox-orders:
                                - file_id
                                - file_name
                                - file_size
                                - mime_type
                                - file_key
                                - file_path
                                - file_preview_url
                                - create_user
                                - create_time
                              title: 产品图片
                            product_name:
                              type: string
                              title: 产品名称
                            product_cn_name:
                              type: string
                              title: 中文产品名称
                            product_model:
                              type: string
                              title: 产品型号
                            product_unit:
                              type: string
                              title: 产品单位
                            create_user_info:
                              type: object
                              properties:
                                user_id:
                                  type: string
                                email:
                                  type: string
                                nickname:
                                  type: string
                                avatar:
                                  type: string
                                ames_email:
                                  type: string
                              required:
                              - user_id
                              - email
                              - nickname
                              - avatar
                              - ames_email
                              x-apifox-orders:
                              - user_id
                              - email
                              - nickname
                              - avatar
                              - ames_email
                              title: 创建人信息
                            update_info:
                              type: object
                              properties:
                                user_id:
                                  type: string
                                email:
                                  type: string
                                nickname:
                                  type: string
                                avatar:
                                  type: string
                                ames_email:
                                  type: string
                              required:
                              - user_id
                              - email
                              - nickname
                              - avatar
                              - ames_email
                              x-apifox-orders:
                              - user_id
                              - email
                              - nickname
                              - avatar
                              - ames_email
                              title: 更新人信息
                            warehouse_info:
                              type: object
                              properties:
                                warehouse_id:
                                  type: integer
                                  title: 仓库ID
                                name:
                                  type: string
                                  title: 仓库名称
                                status:
                                  type: integer
                                  title: 仓库状态
                                enable_flag:
                                  type: integer
                                  title: 仓库是否可用
                                warehouse_no:
                                  type: string
                                  title: 仓库编号
                              required:
                              - warehouse_id
                              - name
                              - status
                              - enable_flag
                              - warehouse_no
                              x-apifox-orders:
                              - warehouse_id
                              - name
                              - status
                              - enable_flag
                              - warehouse_no
                              title: 仓库信息
                            sku_enable_flag:
                              type: integer
                              title: sku产品是否被删除
                            sku_disable_flag:
                              type: integer
                              title: sku产品是否停售
                            product_no:
                              type: string
                              title: 产品编号
                            sku_attributes:
                              type: array
                              items:
                                type: string
                              title: SKU规格
                            sku_code:
                              type: string
                              title: sku编号
                            product_type:
                              type: integer
                              title: 产品类型
                            product_disable_flag:
                              type: integer
                              title: spu产品是否停售
                          x-apifox-orders:
                          - '3468697736'
                          - warehouse_return_record_id
                          - warehouse_return_invoice_id
                          - client_id
                          - type
                          - sku_id
                          - product_id
                          - return_count
                          - return_price
                          - warehouse_invoice_time
                          - status
                          - handler
                          - create_time
                          - create_user
                          - update_time
                          - update_user
                          - external_field_data
                          - delete_flag
                          - warehouse_id
                          - product_amount
                          - moment_enable_count
                          - refer_id
                          - refer_type
                          - sub_refer_id
                          - is_master_product
                          - master_id
                          - product_image
                          - product_name
                          - product_cn_name
                          - product_model
                          - product_unit
                          - create_user_info
                          - update_info
                          - warehouse_info
                          - sku_enable_flag
                          - sku_disable_flag
                          - product_no
                          - sku_attributes
                          - sku_code
                          - product_type
                          - product_disable_flag
                        title: 明细列表
                      relation_object_info:
                        type: object
                        properties:
                          supplier_info:
                            type: object
                            properties:
                              supplier_id:
                                type: integer
                                title: 供应商ID
                              name:
                                type: string
                                title: 供应商名称
                              supplier_no:
                                type: string
                                title: 供应商名称
                            required:
                            - supplier_id
                            - name
                            - supplier_no
                            x-apifox-orders:
                            - supplier_id
                            - name
                            - supplier_no
                            title: 供应商信息
                          supplier_id:
                            type: integer
                            title: 供应商ID
                        required:
                        - supplier_info
                        - supplier_id
                        x-apifox-orders:
                        - supplier_info
                        - supplier_id
                        title: 关联对象信息
                      supplier_info:
                        type: object
                        properties:
                          supplier_id:
                            type: integer
                            title: 供应商ID
                          name:
                            type: string
                            title: 供应商名称
                          supplier_no:
                            type: string
                            title: 供应商编号
                        required:
                        - supplier_id
                        - name
                        - supplier_no
                        x-apifox-orders:
                        - supplier_id
                        - name
                        - supplier_no
                        title: 供应商信息
                      supplier_id:
                        type: integer
                        title: 供应商ID
                    required:
                    - warehouse_return_invoice_id
                    - client_id
                    - type
                    - serial_id
                    - warehouse_invoice_time
                    - status
                    - handler
                    - attachment
                    - create_time
                    - create_user
                    - update_time
                    - update_user
                    - external_field_data
                    - delete_flag
                    - cause_id
                    - remark
                    - discount
                    - discount_rate
                    - product_total_amount
                    - product_total_count
                    - refer_id
                    - refer_type
                    - invoice_warehouse_id
                    - currency
                    - exchange_rate
                    - exchange_rate_usd
                    - product_total_amount_rmb
                    - product_total_amount_usd
                    - product_total_count_no_parts
                    - parts_total_count
                    - create_user_info
                    - update_info
                    - handler_info
                    - invoice_warehouse_info
                    - cause_info
                    - record_list
                    - relation_object_info
                    - supplier_info
                    - supplier_id
                    x-apifox-orders:
                    - warehouse_return_invoice_id
                    - client_id
                    - type
                    - serial_id
                    - warehouse_invoice_time
                    - status
                    - handler
                    - attachment
                    - create_time
                    - create_user
                    - update_time
                    - update_user
                    - external_field_data
                    - delete_flag
                    - cause_id
                    - remark
                    - discount
                    - discount_rate
                    - product_total_amount
                    - product_total_count
                    - refer_id
                    - refer_type
                    - invoice_warehouse_id
                    - currency
                    - exchange_rate
                    - exchange_rate_usd
                    - product_total_amount_rmb
                    - product_total_amount_usd
                    - product_total_count_no_parts
                    - parts_total_count
                    - create_user_info
                    - update_info
                    - handler_info
                    - invoice_warehouse_info
                    - cause_info
                    - record_list
                    - relation_object_info
                    - supplier_info
                    - supplier_id
                required:
                - code
                - message
                - now
                - data
                x-apifox-orders:
                - code
                - message
                - now
                - data
          headers: {}
          x-apifox-name: 成功
      security: []
      x-apifox-folder: 采购退货单
      x-apifox-status: released
      operationId: get_v1_invoices_purchasereturn_info
      x-local-source-path: sources/pages/api-3484265.md
      x-source-id: api-3484265
      x-source-title: 采购退货单-详情
      x-source-module: 采购退货单
  /v1/invoices/purchaseReturn/fields:
    get:
      summary: 采购退货单字段
      deprecated: false
      description: '# 字段类型有哪些

        | field_type |  |

        | --- | --- |

        | 1 | 单行文本 |

        | 2 | 多行文本 |

        | 3 | 单选，在该字段选项枚举值在返回值中的ext_info里面，可用于单据新建、编辑该字段传值 |

        | 4 | 日期，YYYY-MM-DD |

        | 5 | 数字 |

        | 6 | 图片 |

        | 7 | 多选，在该字段选项枚举值在返回值中的ext_info里面，可用于单据新建、编辑该字段传值 |

        | 8 | 附件 |

        | 9 | 关联字段 |

        | 10 | 日期时间，YYYY-MM-DD HH:mm:ss |

        | 11 | 公式 |

        | 12 | 汇总 |

        | 13 | 布尔 |

        | 17 | 状态 |

        | 18 | 阶段 |

        | 21 | 时间范围 |

        | 22 | 富文本 |

        | 23 | 引用 |


        若发现没有的字段类型可以咨询对接群，或者提客户工单。

        '
      tags:
      - 采购退货单
      - s7.1
      parameters:
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/%E6%95%B0%E6%8D%AE%E5%AD%97%E5%85%B8%E5%93%8D%E5%BA%94'
              example:
                code: 200
                message: success
                now: '2025-03-14 15:43:12'
                data:
                - id: product_model
                  name: 产品型号
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 1
                - id: handler
                  name: 处理人
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 1
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: product_amount
                  name: 产品金额
                  base: 1
                  field_type: 5
                  ext_info: null
                  require: 1
                  default: ''
                  disable_flag: 0
                  is_list: 1
                - id: product_total_amount
                  name: 产品总金额
                  base: 1
                  field_type: 5
                  ext_info: null
                  require: 1
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: return_count
                  name: 退货数量
                  base: 1
                  field_type: 5
                  ext_info: null
                  require: 1
                  default: ''
                  disable_flag: 0
                  is_list: 1
                - id: discount
                  name: 整单折扣额
                  base: 1
                  field_type: 5
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: return_price
                  name: 退货单价
                  base: 1
                  field_type: 5
                  ext_info: null
                  require: 1
                  default: ''
                  disable_flag: 0
                  is_list: 1
                - id: discount_rate
                  name: 整单折扣率
                  base: 1
                  field_type: 5
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
                - id: moment_enable_count
                  name: 可用库存
                  base: 1
                  field_type: 5
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 1
                - id: inbound_count
                  name: 入库数量
                  base: 1
                  field_type: 5
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 1
                - id: invoice_warehouse_id
                  name: 仓库
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: inbound_serial_id
                  name: 关联采购入库单号
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 1
                - id: remark
                  name: 退货备注
                  base: 1
                  field_type: 2
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: product_unit
                  name: 单位
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 1
                - id: warehouse_invoice_time
                  name: 退货日期
                  base: 1
                  field_type: 4
                  ext_info: null
                  require: 1
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: status
                  name: 退货状态
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 1
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: sku_attributes
                  name: 规格
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 1
                - id: supplier_id
                  name: 供应商
                  base: 1
                  field_type: 5
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
                - id: supplier_no
                  name: 供应商编号
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: sku_code
                  name: 产品编号
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 1
                  default: ''
                  disable_flag: 0
                  is_list: 1
                - id: serial_id
                  name: 采购退货单号
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: product_cn_name
                  name: 中文产品名称
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 1
                - id: product_name
                  name: 产品名称
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 1
                - id: product_image
                  name: 产品图片
                  base: 1
                  field_type: 6
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 1
                - id: product_disable_flag
                  name: 产品是否停售
                  base: 1
                  field_type: 5
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 1
                - id: warehouse_id
                  name: 出入库明细-仓库
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 1
                - id: sku_id
                  name: sku
                  base: 1
                  field_type: 5
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 1
                - id: product_id
                  name: 产品id
                  base: 1
                  field_type: 5
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 1
                - id: inbound_invoice_id
                  name: 关联采购入库单ID
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 1
                - id: update_user
                  name: 修改人
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: update_time
                  name: 修改时间
                  base: 1
                  field_type: 10
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: create_user
                  name: 创建人
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: create_time
                  name: 创建时间
                  base: 1
                  field_type: 10
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: attachment
                  name: 附件
                  base: 1
                  field_type: 8
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: product_total_amount_usd
                  name: 产品总金额(USD)
                  base: 1
                  field_type: 5
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: product_total_amount_rmb
                  name: 产品总金额(CNY)
                  base: 1
                  field_type: 5
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: exchange_rate_usd
                  name: 汇率(兑USD)
                  base: 1
                  field_type: 5
                  ext_info: null
                  require: 1
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: exchange_rate
                  name: 汇率(兑CNY)
                  base: 1
                  field_type: 5
                  ext_info: null
                  require: 1
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: currency
                  name: 币种
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 1
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: 3580648905
                  name: '455'
                  base: 0
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '3159980713'
                  name: 多行文本
                  base: 0
                  field_type: 2
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 1
                - id: '3159957925'
                  name: 图片-自定义
                  base: 0
                  field_type: 6
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '3159957937'
                  name: 明细-图片
                  base: 0
                  field_type: 6
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 1
                - id: '3159957920'
                  name: 附件-自定义
                  base: 0
                  field_type: 8
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '3159957935'
                  name: 明细-数值
                  base: 0
                  field_type: 5
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 1
                - id: '3159957918'
                  name: 数值
                  base: 0
                  field_type: 5
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '3159957933'
                  name: 明细-日期
                  base: 0
                  field_type: 4
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 1
                - id: '3159957916'
                  name: 日期
                  base: 0
                  field_type: 4
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '3159957929'
                  name: 明细-下拉多选
                  base: 0
                  field_type: 7
                  ext_info:
                  - M123
                  - S2938
                  - K283
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 1
                - id: '3159957913'
                  name: 下拉多选
                  base: 0
                  field_type: 7
                  ext_info:
                  - 皮卡
                  - 轮船
                  - 火车
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: 3468697736
                  name: 0104的退货明细
                  base: 0
                  field_type: 5
                  ext_info: null
                  require: 1
                  default: ''
                  disable_flag: 0
                  is_list: 1
[...]
