openapi: 3.0.1
info:
  title: Xiaoman OpenAPI - 报价单 (unofficial)
  version: '2026-05-09'
  description: 'Unofficial module spec generated from public Xiaoman Open API documentation: 报价单.'
servers:
- url: https://api-sandbox.xiaoman.cn
  description: official documented server
tags:
- name: 报价单
  x-module-slug: quotation
paths:
  /v1/invoices/quotation/list:
    get:
      summary: 报价单列表
      deprecated: false
      description: ''
      tags:
      - 报价单
      parameters:
      - name: start_time
        in: query
        description: 时间查询范围：开始日期
        required: false
        schema:
          type: string
      - name: "end_time\t"
        in: query
        description: 时间查询范围：结束日期
        required: false
        schema:
          type: string
      - name: start_index
        in: query
        description: 第几页，默认 = 1
        required: false
        schema:
          type: number
      - name: count
        in: query
        description: 每页记录数，默认 = 10
        required: false
        schema:
          type: number
      - name: removed
        in: query
        description: 默认0，1表示查询已删除的数据列表
        required: false
        schema:
          type: number
      - name: approval
        in: query
        description: 默认0，1表示查询审批通过的数据列表
        required: false
        schema:
          type: number
      - name: status
        in: query
        description: '默认值: 0，设置对应的状态值可以查询相关状态的数据列表，支持以半角逗号分割的多个状态值'
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  now:
                    type: string
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            quotation_id:
                              type: integer
                              title: 报价单ID
                            quotation_no:
                              type: string
                              title: 报价单编号
                            lock_flag:
                              type: string
                              title: 是否上锁
                            can_unlock:
                              type: integer
                              title: 是否可以解锁
                              description: 0:不允许,1:允许
                            approval_status:
                              type: integer
                              title: 审批状态
                              description: 0:草稿,1:同意,2:拒绝,3:审批中,4:申请人撤销,5:系统撤回,6:跳过,7:转移
                            name:
                              type: string
                              title: 报价单名称
                            currency:
                              type: string
                              title: 币种
                            exchange_rate:
                              type: string
                              title: 汇率
                            amount:
                              type: string
                              title: 金额
                            amount_rmb:
                              type: string
                              title: 金额rmb
                            company_id:
                              type: integer
                              title: 客户ID
                              description: 客户唯一id
                            customer_id:
                              type: integer
                              title: 联系人ID
                              description: 客户联系人唯一id
                            opportunity_id:
                              type: integer
                              title: 商机ID
                              description: 商机唯一id
                            quotation_date:
                              type: string
                              title: 报价日期
                            addition_cost_amount:
                              type: integer
                              title: 附加费用总金额
                            product_total_amount:
                              type: integer
                              title: 产品总金额
                            price_contract:
                              type: string
                              title: 价格条款
                              nullable: true
                            receive_remittance_way:
                              type: string
                              title: 收汇方式
                            price_contract_remark:
                              type: string
                              title: 价格条款说明
                              nullable: true
                            receive_remittance_remark:
                              type: string
                              title: 收汇方式说明
                              nullable: true
                            insurance_remark:
                              type: string
                              title: 保险说明
                              nullable: true
                            company_name:
                              type: string
                              title: 公司名称
                            company_phone:
                              type: string
                              title: 公司电话
                            company_fax:
                              type: string
                              title: 公司传真
                            company_address:
                              type: string
                              title: 客户地址
                              nullable: true
                            customer_name:
                              type: string
                              title: 联系人名称
                            customer_phone:
                              type: string
                              title: 联系人电话
                            customer_address:
                              type: string
                              title: 联系人地址
                              nullable: true
                            transport_mode:
                              type: string
                              title: 运输方式
                            shipment_deadline:
                              type: string
                              title: 装运期限
                            shipment_port:
                              type: string
                              title: 装运港口
                            target_port:
                              type: string
                              title: 目的港口
                            shipment_deadline_remark:
                              type: string
                              title: 交货期
                              nullable: true
                            create_time:
                              type: string
                              title: 创建时间
                            update_time:
                              type: string
                              title: 更新时间
                            enable_flag:
                              type: integer
                              title: 是否删除
                            _id:
                              type: integer
                            approval_flow_info:
                              type: array
                              items:
                                type: string
                              title: 审批信息
                            create_user_info:
                              type: object
                              properties:
                                user_id:
                                  type: string
                                nickname:
                                  type: string
                              required:
                              - user_id
                              - nickname
                              x-apifox-orders:
                              - user_id
                              - nickname
                              title: 创建人信息
                            company:
                              type: object
                              properties:
                                company_id:
                                  type: integer
                                name:
                                  type: string
                                is_archive:
                                  type: integer
                              required:
                              - company_id
                              - name
                              - is_archive
                              x-apifox-orders:
                              - company_id
                              - name
                              - is_archive
                              title: 客户信息
                            status_info:
                              type: object
                              properties:
                                is_purchase:
                                  type: integer
                                is_beginning:
                                  type: integer
                                is_ending:
                                  type: integer
                                into_performance:
                                  type: integer
                                need_review:
                                  type: integer
                                change_ending:
                                  type: integer
                                change_review:
                                  type: integer
                                can_delete:
                                  type: integer
                                next_status:
                                  type: array
                                  items:
                                    type: string
                                client_id:
                                  type: string
                                id:
                                  type: string
                                name:
                                  type: string
                                remark:
                                  type: string
                                rank:
                                  type: string
                                create_time:
                                  type: string
                                update_time:
                                  type: string
                              required:
                              - is_purchase
                              - is_beginning
                              - is_ending
                              - into_performance
                              - need_review
                              - change_ending
                              - change_review
                              - can_delete
                              - next_status
                              - client_id
                              - id
                              - name
                              - remark
                              - rank
                              - create_time
                              - update_time
                              x-apifox-orders:
                              - is_purchase
                              - is_beginning
                              - is_ending
                              - into_performance
                              - need_review
                              - change_ending
                              - change_review
                              - can_delete
                              - next_status
                              - client_id
                              - id
                              - name
                              - remark
                              - rank
                              - create_time
                              - update_time
                          required:
                          - quotation_id
                          - quotation_no
                          - lock_flag
                          - can_unlock
                          - approval_status
                          - name
                          - currency
                          - exchange_rate
                          - amount
                          - amount_rmb
                          - company_id
                          - customer_id
                          - opportunity_id
                          - quotation_date
                          - addition_cost_amount
                          - product_total_amount
                          - price_contract
                          - receive_remittance_way
                          - price_contract_remark
                          - receive_remittance_remark
                          - insurance_remark
                          - company_name
                          - company_phone
                          - company_fax
                          - company_address
                          - customer_name
                          - customer_phone
                          - customer_address
                          - transport_mode
                          - shipment_deadline
                          - shipment_port
                          - target_port
                          - shipment_deadline_remark
                          - create_time
                          - update_time
                          - enable_flag
                          - _id
                          - approval_flow_info
                          - create_user_info
                          - company
                          - status_info
                          x-apifox-orders:
                          - quotation_id
                          - quotation_no
                          - lock_flag
                          - can_unlock
                          - approval_status
                          - name
                          - currency
                          - exchange_rate
                          - amount
                          - amount_rmb
                          - company_id
                          - customer_id
                          - opportunity_id
                          - quotation_date
                          - addition_cost_amount
                          - product_total_amount
                          - price_contract
                          - receive_remittance_way
                          - price_contract_remark
                          - receive_remittance_remark
                          - insurance_remark
                          - company_name
                          - company_phone
                          - company_fax
                          - company_address
                          - customer_name
                          - customer_phone
                          - customer_address
                          - transport_mode
                          - shipment_deadline
                          - shipment_port
                          - target_port
                          - shipment_deadline_remark
                          - create_time
                          - update_time
                          - enable_flag
                          - _id
                          - approval_flow_info
                          - create_user_info
                          - company
                          - status_info
                      totalItem:
                        type: integer
                        title: 总数
                    required:
                    - list
                    - totalItem
                    x-apifox-orders:
                    - list
                    - totalItem
                required:
                - code
                - message
                - now
                - data
                x-apifox-orders:
                - code
                - message
                - now
                - data
              example:
                code: 200
                message: success
                now: '2024-07-31 09:30:56'
                data:
                  list:
                  - quotation_id: 3601718864
                    quotation_no: 20240730qiao1133
                    lock_flag: '1'
                    can_unlock: 0
                    approval_status: 1
                    name: 默认值计算逻辑
                    currency: CNY
                    exchange_rate: '100.0000000000'
                    amount: '977.0000000000'
                    amount_rmb: '977.0000000000'
                    company_id: 1161895151
                    customer_id: 1161895150
                    opportunity_id: 0
                    quotation_date: '2024-07-30 00:00:00'
                    addition_cost_amount: 10
                    product_total_amount: 967
                    price_contract: FOB
                    receive_remittance_way: Wechat
                    price_contract_remark: '---edit'
                    receive_remittance_remark: shouhui fanghis---edit
                    insurance_remark: baoxian shuom---edit
                    company_name: 株式会社　シグマ---edit
                    company_phone: 2134950239293---edit
                    company_fax: 0952-22-8434---edit
                    company_address: 〒840-0857 佐賀市鍋島町大字八戸3005---edit
                    customer_name: 徳丸　茂樹---edit
                    customer_phone: ' 0952-26-7661---edit'
                    customer_address: '---edit'
                    transport_mode: 海运
                    shipment_deadline: '2024-08-08'
                    shipment_port: shekou
                    target_port: 省着玩
                    shipment_deadline_remark: 5天之内到期
                    create_time: '2024-07-30 18:12:44'
                    update_time: '2024-07-30 22:46:14'
                    enable_flag: 1
                    _id: 3601718864
                    approval_flow_info: []
                    create_user_info:
                      user_id: '11858712'
                      nickname: qiao
                    company:
                      company_id: 1161895151
                      name: 株式会社　シグマ
                      is_archive: 1
                    status_info:
                      is_purchase: 0
                      is_beginning: 1
                      is_ending: 0
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 0
                      can_delete: 0
                      next_status:
                      - '1101043704'
                      - '1101043705'
                      - '1101043706'
                      - '1101043707'
                      - '3375434976'
                      - '3266554186'
                      - '3581929295'
                      client_id: '14119'
                      id: '1101043703'
                      name: 草稿
                      remark: ''
                      rank: '0'
                      create_time: '2019-11-15 11:52:05'
                      update_time: '2024-07-18 17:11:01'
                  - quotation_id: 3601722484
                    quotation_no: 20240730xpro1143
                    lock_flag: '0'
                    can_unlock: 0
                    approval_status: -1
                    name: erp创建的报价单
                    currency: USD
                    exchange_rate: '700.0000000000'
                    amount: '1.7800000000'
                    amount_rmb: '12.4600000000'
                    company_id: 3601647172
                    customer_id: 0
                    opportunity_id: 0
                    quotation_date: '2024-05-11 00:00:00'
                    addition_cost_amount: 0
                    product_total_amount: 1.78
                    price_contract: null
                    receive_remittance_way: ''
                    price_contract_remark: null
                    receive_remittance_remark: null
                    insurance_remark: null
                    company_name: ''
                    company_phone: ''
                    company_fax: ''
                    company_address: null
                    customer_name: ''
                    customer_phone: ''
                    customer_address: null
                    transport_mode: ''
                    shipment_deadline: ''
                    shipment_port: ''
                    target_port: ''
                    shipment_deadline_remark: null
                    create_time: '2024-07-30 18:38:22'
                    update_time: '2024-07-30 18:38:22'
                    enable_flag: 1
                    _id: 3601722484
                    approval_flow_info: []
                    create_user_info:
                      user_id: '11858711'
                      nickname: xpro
                    company:
                      company_id: 3601647172
                      name: 周黑鸭公司-45
                      is_archive: 1
                    status_info:
                      is_purchase: 0
                      is_beginning: 1
                      is_ending: 0
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 0
                      can_delete: 0
                      next_status:
                      - '1101043704'
                      - '1101043705'
                      - '1101043706'
                      - '1101043707'
                      - '3375434976'
                      - '3266554186'
                      - '3581929295'
                      client_id: '14119'
                      id: '1101043703'
                      name: 草稿
                      remark: ''
                      rank: '0'
                      create_time: '2019-11-15 11:52:05'
                      update_time: '2024-07-18 17:11:01'
                  - quotation_id: 3601722471
                    quotation_no: 20240730xpro1142
                    lock_flag: '0'
                    can_unlock: 0
                    approval_status: -1
                    name: erp创建的报价单
                    currency: USD
                    exchange_rate: '700.0000000000'
                    amount: '46.7800000000'
                    amount_rmb: '327.4600000000'
                    company_id: 3601647172
                    customer_id: 0
                    opportunity_id: 0
                    quotation_date: '2024-05-11 00:00:00'
                    addition_cost_amount: 45
                    product_total_amount: 1.78
                    price_contract: null
                    receive_remittance_way: ''
                    price_contract_remark: null
                    receive_remittance_remark: null
                    insurance_remark: null
                    company_name: ''
                    company_phone: ''
                    company_fax: ''
                    company_address: null
                    customer_name: ''
                    customer_phone: ''
                    customer_address: null
                    transport_mode: ''
                    shipment_deadline: ''
                    shipment_port: ''
                    target_port: ''
                    shipment_deadline_remark: null
                    create_time: '2024-07-30 18:38:08'
                    update_time: '2024-07-30 18:38:08'
                    enable_flag: 1
                    _id: 3601722471
                    approval_flow_info: []
                    create_user_info:
                      user_id: '11858711'
                      nickname: xpro
                    company:
                      company_id: 3601647172
                      name: 周黑鸭公司-45
                      is_archive: 1
                    status_info:
                      is_purchase: 0
                      is_beginning: 1
                      is_ending: 0
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 0
                      can_delete: 0
                      next_status:
                      - '1101043704'
                      - '1101043705'
                      - '1101043706'
                      - '1101043707'
                      - '3375434976'
                      - '3266554186'
                      - '3581929295'
                      client_id: '14119'
                      id: '1101043703'
                      name: 草稿
                      remark: ''
                      rank: '0'
                      create_time: '2019-11-15 11:52:05'
                      update_time: '2024-07-18 17:11:01'
                  - quotation_id: 3601722452
                    quotation_no: 20240730xpro1141
                    lock_flag: '0'
                    can_unlock: 0
                    approval_status: -1
                    name: erp创建的报价单
                    currency: USD
                    exchange_rate: '700.0000000000'
                    amount: '1.7800000000'
                    amount_rmb: '12.4600000000'
                    company_id: 3601647172
                    customer_id: 0
                    opportunity_id: 0
                    quotation_date: '2024-05-11 00:00:00'
                    addition_cost_amount: 0
                    product_total_amount: 1.78
                    price_contract: null
                    receive_remittance_way: ''
                    price_contract_remark: null
                    receive_remittance_remark: null
                    insurance_remark: null
                    company_name: ''
                    company_phone: ''
                    company_fax: ''
                    company_address: null
                    customer_name: ''
                    customer_phone: ''
                    customer_address: null
                    transport_mode: ''
                    shipment_deadline: ''
                    shipment_port: ''
                    target_port: ''
                    shipment_deadline_remark: null
                    create_time: '2024-07-30 18:37:37'
                    update_time: '2024-07-30 18:37:37'
                    enable_flag: 1
                    _id: 3601722452
                    approval_flow_info: []
                    create_user_info:
                      user_id: '11858711'
                      nickname: xpro
                    company:
                      company_id: 3601647172
                      name: 周黑鸭公司-45
                      is_archive: 1
                    status_info:
                      is_purchase: 0
                      is_beginning: 1
                      is_ending: 0
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 0
                      can_delete: 0
                      next_status:
                      - '1101043704'
                      - '1101043705'
                      - '1101043706'
                      - '1101043707'
                      - '3375434976'
                      - '3266554186'
                      - '3581929295'
                      client_id: '14119'
                      id: '1101043703'
                      name: 草稿
                      remark: ''
                      rank: '0'
                      create_time: '2019-11-15 11:52:05'
                      update_time: '2024-07-18 17:11:01'
                  - quotation_id: 3601722440
                    quotation_no: 20240730xpro1140
                    lock_flag: '0'
                    can_unlock: 0
                    approval_status: -1
                    name: erp创建的报价单
                    currency: USD
                    exchange_rate: '700.0000000000'
                    amount: '46.7800000000'
                    amount_rmb: '327.4600000000'
                    company_id: 3601647172
                    customer_id: 0
                    opportunity_id: 0
                    quotation_date: '2024-05-11 00:00:00'
                    addition_cost_amount: 45
                    product_total_amount: 1.78
                    price_contract: null
                    receive_remittance_way: ''
                    price_contract_remark: null
                    receive_remittance_remark: null
                    insurance_remark: null
                    company_name: ''
                    company_phone: ''
                    company_fax: ''
                    company_address: null
                    customer_name: ''
                    customer_phone: ''
                    customer_address: null
                    transport_mode: ''
                    shipment_deadline: ''
                    shipment_port: ''
                    target_port: ''
                    shipment_deadline_remark: null
                    create_time: '2024-07-30 18:37:00'
                    update_time: '2024-07-30 18:37:00'
                    enable_flag: 1
                    _id: 3601722440
                    approval_flow_info: []
                    create_user_info:
                      user_id: '11858711'
                      nickname: xpro
                    company:
                      company_id: 3601647172
                      name: 周黑鸭公司-45
                      is_archive: 1
                    status_info:
                      is_purchase: 0
                      is_beginning: 1
                      is_ending: 0
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 0
                      can_delete: 0
                      next_status:
                      - '1101043704'
                      - '1101043705'
                      - '1101043706'
                      - '1101043707'
                      - '3375434976'
                      - '3266554186'
                      - '3581929295'
                      client_id: '14119'
                      id: '1101043703'
                      name: 草稿
                      remark: ''
                      rank: '0'
                      create_time: '2019-11-15 11:52:05'
                      update_time: '2024-07-18 17:11:01'
                  - quotation_id: 3601721092
                    quotation_no: 20240730xpro1139
                    lock_flag: '0'
                    can_unlock: 0
                    approval_status: -1
                    name: erp创建的报价单
                    currency: USD
                    exchange_rate: '700.0000000000'
                    amount: '46.7800000000'
                    amount_rmb: '327.4600000000'
                    company_id: 3601647172
                    customer_id: 0
                    opportunity_id: 0
                    quotation_date: '2024-05-11 00:00:00'
                    addition_cost_amount: 45
                    product_total_amount: 1.78
                    price_contract: null
                    receive_remittance_way: ''
                    price_contract_remark: null
                    receive_remittance_remark: null
                    insurance_remark: null
                    company_name: ''
                    company_phone: ''
                    company_fax: ''
                    company_address: null
                    customer_name: ''
                    customer_phone: ''
                    customer_address: null
                    transport_mode: ''
                    shipment_deadline: ''
                    shipment_port: ''
                    target_port: ''
                    shipment_deadline_remark: null
                    create_time: '2024-07-30 18:28:31'
                    update_time: '2024-07-30 18:28:31'
                    enable_flag: 1
                    _id: 3601721092
                    approval_flow_info: []
                    create_user_info:
                      user_id: '11858711'
                      nickname: xpro
                    company:
                      company_id: 3601647172
                      name: 周黑鸭公司-45
                      is_archive: 1
                    status_info:
                      is_purchase: 0
                      is_beginning: 1
                      is_ending: 0
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 0
                      can_delete: 0
                      next_status:
                      - '1101043704'
                      - '1101043705'
                      - '1101043706'
                      - '1101043707'
                      - '3375434976'
                      - '3266554186'
                      - '3581929295'
                      client_id: '14119'
                      id: '1101043703'
                      name: 草稿
                      remark: ''
                      rank: '0'
                      create_time: '2019-11-15 11:52:05'
                      update_time: '2024-07-18 17:11:01'
                  - quotation_id: 3601721080
                    quotation_no: 20240730xpro1138
                    lock_flag: '0'
                    can_unlock: 0
                    approval_status: -1
                    name: erp创建的报价单
                    currency: USD
                    exchange_rate: '700.0000000000'
                    amount: '46.7800000000'
                    amount_rmb: '327.4600000000'
                    company_id: 3601647172
                    customer_id: 0
                    opportunity_id: 0
                    quotation_date: '2024-05-11 00:00:00'
                    addition_cost_amount: 45
                    product_total_amount: 1.78
                    price_contract: null
                    receive_remittance_way: ''
                    price_contract_remark: null
                    receive_remittance_remark: null
                    insurance_remark: null
                    company_name: ''
                    company_phone: ''
                    company_fax: ''
                    company_address: null
                    customer_name: ''
                    customer_phone: ''
                    customer_address: null
                    transport_mode: ''
                    shipment_deadline: ''
                    shipment_port: ''
                    target_port: ''
                    shipment_deadline_remark: null
                    create_time: '2024-07-30 18:28:08'
                    update_time: '2024-07-30 18:28:08'
                    enable_flag: 1
                    _id: 3601721080
                    approval_flow_info: []
                    create_user_info:
                      user_id: '11858711'
                      nickname: xpro
                    company:
                      company_id: 3601647172
                      name: 周黑鸭公司-45
                      is_archive: 1
                    status_info:
                      is_purchase: 0
                      is_beginning: 1
                      is_ending: 0
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 0
                      can_delete: 0
                      next_status:
                      - '1101043704'
                      - '1101043705'
                      - '1101043706'
                      - '1101043707'
                      - '3375434976'
                      - '3266554186'
                      - '3581929295'
                      client_id: '14119'
                      id: '1101043703'
                      name: 草稿
                      remark: ''
                      rank: '0'
                      create_time: '2019-11-15 11:52:05'
                      update_time: '2024-07-18 17:11:01'
                  - quotation_id: 3601720925
                    quotation_no: 20240730xpro1137
                    lock_flag: '0'
                    can_unlock: 0
                    approval_status: -1
                    name: erp创建的报价单
                    currency: USD
                    exchange_rate: '700.0000000000'
                    amount: '46.7800000000'
                    amount_rmb: '327.4600000000'
                    company_id: 3601647172
                    customer_id: 0
                    opportunity_id: 0
                    quotation_date: '2024-05-11 00:00:00'
                    addition_cost_amount: 45
                    product_total_amount: 1.78
                    price_contract: null
                    receive_remittance_way: ''
                    price_contract_remark: null
                    receive_remittance_remark: null
                    insurance_remark: null
                    company_name: ''
                    company_phone: ''
                    company_fax: ''
                    company_address: null
                    customer_name: ''
                    customer_phone: ''
                    customer_address: null
                    transport_mode: ''
                    shipment_deadline: ''
                    shipment_port: ''
                    target_port: ''
                    shipment_deadline_remark: null
                    create_time: '2024-07-30 18:25:47'
                    update_time: '2024-07-30 18:25:47'
                    enable_flag: 1
                    _id: 3601720925
                    approval_flow_info: []
                    create_user_info:
                      user_id: '11858711'
                      nickname: xpro
                    company:
                      company_id: 3601647172
                      name: 周黑鸭公司-45
                      is_archive: 1
                    status_info:
                      is_purchase: 0
                      is_beginning: 1
                      is_ending: 0
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 0
                      can_delete: 0
                      next_status:
                      - '1101043704'
                      - '1101043705'
                      - '1101043706'
                      - '1101043707'
                      - '3375434976'
                      - '3266554186'
                      - '3581929295'
                      client_id: '14119'
                      id: '1101043703'
                      name: 草稿
                      remark: ''
                      rank: '0'
                      create_time: '2019-11-15 11:52:05'
                      update_time: '2024-07-18 17:11:01'
                  - quotation_id: 3601720497
                    quotation_no: 20240730xpro1136
                    lock_flag: '0'
                    can_unlock: 0
                    approval_status: -1
                    name: erp创建的报价单
                    currency: USD
                    exchange_rate: '700.0000000000'
                    amount: '46.7800000000'
                    amount_rmb: '327.4600000000'
                    company_id: 3601647172
                    customer_id: 0
                    opportunity_id: 0
                    quotation_date: '2024-05-11 00:00:00'
                    addition_cost_amount: 45
                    product_total_amount: 1.78
                    price_contract: null
                    receive_remittance_way: ''
                    price_contract_remark: null
                    receive_remittance_remark: null
                    insurance_remark: null
                    company_name: ''
                    company_phone: ''
                    company_fax: ''
                    company_address: null
                    customer_name: ''
                    customer_phone: ''
                    customer_address: null
                    transport_mode: ''
                    shipment_deadline: ''
                    shipment_port: ''
                    target_port: ''
                    shipment_deadline_remark: null
                    create_time: '2024-07-30 18:24:08'
                    update_time: '2024-07-30 18:24:08'
                    enable_flag: 1
                    _id: 3601720497
                    approval_flow_info: []
                    create_user_info:
                      user_id: '11858711'
                      nickname: xpro
                    company:
                      company_id: 3601647172
                      name: 周黑鸭公司-45
                      is_archive: 1
                    status_info:
                      is_purchase: 0
                      is_beginning: 1
                      is_ending: 0
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 0
                      can_delete: 0
                      next_status:
                      - '1101043704'
                      - '1101043705'
                      - '1101043706'
                      - '1101043707'
                      - '3375434976'
                      - '3266554186'
                      - '3581929295'
                      client_id: '14119'
                      id: '1101043703'
                      name: 草稿
                      remark: ''
                      rank: '0'
                      create_time: '2019-11-15 11:52:05'
                      update_time: '2024-07-18 17:11:01'
                  - quotation_id: 3601720256
                    quotation_no: 20240730qiao1135
                    lock_flag: '0'
                    can_unlock: 0
                    approval_status: -1
                    name: 基础信息默认值计算
                    currency: CNY
                    exchange_rate: '100.0000000000'
                    amount: '0.0000000000'
                    amount_rmb: '0.0000000000'
                    company_id: 1161895151
                    customer_id: 1161895150
                    opportunity_id: 0
                    quotation_date: '2024-07-30 00:00:00'
                    addition_cost_amount: 0
                    product_total_amount: 0
                    price_contract: ''
                    receive_remittance_way: ''
                    price_contract_remark: ''
                    receive_remittance_remark: ''
                    insurance_remark: ''
                    company_name: 株式会社　シグマ
                    company_phone: '2134950239293'
                    company_fax: 0952-22-8434
                    company_address: 〒840-0857 佐賀市鍋島町大字八戸3005
                    customer_name: 徳丸　茂樹
                    customer_phone: ' 0952-26-7661'
                    customer_address: ''
                    transport_mode: ''
                    shipment_deadline: ''
                    shipment_port: ''
                    target_port: ''
                    shipment_deadline_remark: ''
                    create_time: '2024-07-30 18:23:13'
                    update_time: '2024-07-30 18:23:13'
                    enable_flag: 1
                    _id: 3601720256
                    approval_flow_info: []
                    create_user_info:
                      user_id: '11858712'
                      nickname: qiao
                    company:
                      company_id: 1161895151
                      name: 株式会社　シグマ
                      is_archive: 1
                    status_info:
                      is_purchase: 0
                      is_beginning: 1
                      is_ending: 0
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 0
                      can_delete: 0
                      next_status:
                      - '1101043704'
                      - '1101043705'
                      - '1101043706'
                      - '1101043707'
                      - '3375434976'
                      - '3266554186'
                      - '3581929295'
                      client_id: '14119'
                      id: '1101043703'
                      name: 草稿
                      remark: ''
                      rank: '0'
                      create_time: '2019-11-15 11:52:05'
                      update_time: '2024-07-18 17:11:01'
                  totalItem: 977
          headers: {}
          x-apifox-name: 成功
        x-200:请求成功:
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                x-apifox-orders:
                - code
                - msg
              example:
                msg: success
                code: 0
          headers: {}
          x-apifox-name: 请求成功
      security: []
      x-apifox-folder: 报价单
      x-apifox-status: released
      operationId: get_v1_invoices_quotation_list
      x-local-source-path: sources/pages/api-3480192.md
      x-source-id: api-3480192
      x-source-title: 报价单列表
      x-source-module: 报价单
  /v1/invoices/quotation/fields/selector:
    get:
      summary: 报价单状态、币种查询
      deprecated: false
      description: ''
      tags:
      - 报价单
      parameters:
      - name: field
        in: query
        description: 查询字段值，field=status,报价单状态；field=currency,报价单币种
        required: false
        example: status
        schema:
          type: string
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  now:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        is_purchase:
                          type: integer
                        is_beginning:
                          type: integer
                        is_ending:
                          type: integer
                        into_performance:
                          type: integer
                        need_review:
                          type: integer
                        change_ending:
                          type: integer
                        change_review:
                          type: integer
                        can_delete:
                          type: integer
                        next_status:
                          type: array
                          items:
                            type: string
                          description: 当前状态可流转的状态
                        client_id:
                          type: string
                          title: client_id
                        id:
                          type: string
                          title: 报价状态唯一id
                        name:
                          type: string
                          title: 报价状态名称
                        name_info:
                          type: object
                          properties:
                            info_label:
                              type: string
                            info_value:
                              type: string
                          required:
                          - info_label
                          - info_value
                          x-apifox-orders:
                          - info_label
                          - info_value
                        remark:
                          type: string
                        rank:
                          type: string
                        create_time:
                          type: string
                        update_time:
                          type: string
                      required:
                      - is_purchase
                      - is_beginning
                      - is_ending
                      - into_performance
                      - need_review
                      - change_ending
                      - change_review
                      - can_delete
                      - next_status
                      - client_id
                      - id
                      - name
                      - name_info
                      - remark
                      - rank
                      - create_time
                      - update_time
                      x-apifox-orders:
                      - is_purchase
                      - is_beginning
                      - is_ending
                      - into_performance
                      - need_review
                      - change_ending
                      - change_review
                      - can_delete
                      - next_status
                      - client_id
                      - id
                      - name
                      - name_info
                      - remark
                      - rank
                      - create_time
                      - update_time
                required:
                - code
                - message
                - now
                - data
                x-apifox-orders:
                - code
                - message
                - now
                - data
              examples:
                '1':
                  summary: 成功示例
                  value:
                    code: 200
                    message: success
                    now: '2025-04-17 15:55:35'
                    data:
                    - is_purchase: 0
                      is_beginning: 1
                      is_ending: 0
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 0
                      can_delete: 0
                      next_status:
                      - '1101043704'
                      - '1101043705'
                      - '1101043706'
                      - '1101043707'
                      - '3375434976'
                      - '3266554186'
                      - '3581929295'
                      client_id: '14119'
                      id: '1101043703'
                      name: 草稿
                      name_info:
                        info_label: 草稿
                        info_value: 草稿
                      remark: ''
                      rank: '0'
                      create_time: '2019-11-15 11:52:05'
                      update_time: '2024-12-07 15:44:20'
                    - is_purchase: 0
                      is_beginning: 0
                      is_ending: 1
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 1
                      can_delete: 1
                      next_status:
                      - '3603906719'
                      client_id: '14119'
                      id: '3603906755'
                      name: '425251'
                      name_info:
                        info_label: '425251'
                        info_value: '425251'
                      remark: ''
                      rank: '1'
                      create_time: '2024-08-05 09:32:10'
                      update_time: '2024-12-07 15:44:20'
                    - is_purchase: 0
                      is_beginning: 0
                      is_ending: 0
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 1
                      can_delete: 1
                      next_status: []
                      client_id: '14119'
                      id: '3603906768'
                      name: '5432513'
                      name_info:
                        info_label: '5432513'
                        info_value: '5432513'
                      remark: ''
                      rank: '2'
                      create_time: '2024-08-05 09:32:18'
                      update_time: '2024-12-07 15:44:20'
                    - is_purchase: 0
                      is_beginning: 0
                      is_ending: 0
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 1
                      can_delete: 1
                      next_status:
                      - '1101043703'
                      - '1101043705'
                      - '1101043706'
                      - '1101043707'
                      - '3375434976'
                      - '3266554186'
                      - '3581929295'
                      - '3603906742'
                      - '3603906763'
                      client_id: '14119'
                      id: '1101043704'
                      name: Quotedhahahahha
                      name_info:
                        info_label: Quotedhahahahha
                        info_value: Quotedhahahahha
                      remark: '2'
                      rank: '3'
                      create_time: '2019-11-15 11:52:05'
                      update_time: '2024-12-07 15:44:20'
                    - is_purchase: 0
                      is_beginning: 0
                      is_ending: 0
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 1
                      can_delete: 1
                      next_status:
                      - '1101043704'
                      - '3266554186'
                      - '1101043707'
                      - '1101043705'
                      - '1101043706'
                      - '3581929295'
                      - '3603906735'
                      - '3603906768'
                      - '3603906755'
                      client_id: '14119'
                      id: '3375434976'
                      name: Transformed Orderhahahahha
                      name_info:
                        info_label: Transformed Orderhahahahha
                        info_value: Transformed Orderhahahahha
                      remark: 说明22r@
                      rank: '4'
                      create_time: '2023-05-25 11:23:07'
                      update_time: '2024-12-07 15:44:20'
                    - is_purchase: 0
                      is_beginning: 0
                      is_ending: 1
                      into_performance: 0
                      need_review: 1
                      change_ending: 1
                      change_review: 1
                      can_delete: 1
                      next_status:
                      - '1101043703'
                      - '1101043704'
                      - '1101043705'
                      - '1101043706'
                      - '3375434976'
                      - '3266554186'
                      - '3581929295'
                      client_id: '14119'
                      id: '1101043707'
                      name: Approvedhahahahha
                      name_info:
                        info_label: Approvedhahahahha
                        info_value: Approvedhahahahha
                      remark: ''
                      rank: '5'
                      create_time: '2019-11-15 11:52:05'
                      update_time: '2024-12-07 15:44:20'
                    - is_purchase: 0
                      is_beginning: 0
                      is_ending: 1
                      into_performance: 0
                      need_review: 1
                      change_ending: 1
                      change_review: 1
                      can_delete: 1
                      next_status:
                      - '1101043703'
                      - '1101043704'
                      - '1101043706'
                      - '1101043707'
                      - '3375434976'
                      - '3266554186'
                      - '3581929295'
                      - '3603906742'
                      - '3603906735'
                      client_id: '14119'
                      id: '1101043705'
                      name: Orderedhahahahha
                      name_info:
                        info_label: Orderedhahahahha
                        info_value: Orderedhahahahha
                      remark: ''
                      rank: '6'
                      create_time: '2019-11-15 11:52:05'
                      update_time: '2024-12-07 15:44:20'
                    - is_purchase: 0
                      is_beginning: 0
                      is_ending: 1
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 1
                      can_delete: 1
                      next_status:
                      - '1101043703'
                      - '1101043704'
                      - '1101043705'
                      - '1101043707'
                      - '3375434976'
                      - '3266554186'
                      - '3581929295'
                      client_id: '14119'
                      id: '1101043706'
                      name: Voidedhahahahha
                      name_info:
                        info_label: Voidedhahahahha
                        info_value: Voidedhahahahha
                      remark: ''
                      rank: '7'
                      create_time: '2019-11-15 11:52:05'
                      update_time: '2024-12-07 15:44:20'
                    - is_purchase: 0
                      is_beginning: 0
                      is_ending: 0
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 1
                      can_delete: 1
                      next_status:
                      - '3375434976'
                      - '1101043705'
                      - '1101043707'
                      - '1101043706'
                      - '3581929295'
                      client_id: '14119'
                      id: '3266554186'
                      name: Completedhahahahha
                      name_info:
                        info_label: Completedhahahahha
                        info_value: Completedhahahahha
                      remark: 状态111
                      rank: '8'
                      create_time: '2023-03-30 17:12:05'
                      update_time: '2024-12-07 15:44:20'
                    - is_purchase: 0
                      is_beginning: 0
                      is_ending: 1
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 1
                      can_delete: 1
                      next_status:
                      - '1101043703'
                      - '1101043704'
                      - '1101043707'
                      - '1101043706'
                      - '1101043705'
                      - '3266554186'
                      - '3375434976'
                      client_id: '14119'
                      id: '3581929295'
                      name: Aftermarkethahahahha
                      name_info:
                        info_label: Aftermarkethahahahha
                        info_value: Aftermarkethahahahha
                      remark: ''
                      rank: '9'
                      create_time: '2024-07-10 16:26:40'
                      update_time: '2024-12-07 15:44:21'
                '2':
                  summary: 请求状态成功示例
                  value:
                    code: 200
                    message: success
                    now: '2025-04-17 16:01:15'
                    data:
                    - is_purchase: 0
                      is_beginning: 1
                      is_ending: 0
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 0
                      can_delete: 0
                      next_status:
                      - '1101043704'
                      - '1101043705'
                      - '1101043706'
                      - '1101043707'
                      - '3375434976'
                      - '3266554186'
                      - '3581929295'
                      client_id: '14119'
                      id: '1101043703'
                      name: 草稿
                      name_info:
                        info_label: 草稿
                        info_value: 草稿
                      remark: ''
                      rank: '0'
                      create_time: '2019-11-15 11:52:05'
                      update_time: '2024-12-07 15:44:20'
                    - is_purchase: 0
                      is_beginning: 0
                      is_ending: 1
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 1
                      can_delete: 1
                      next_status:
                      - '3603906719'
                      client_id: '14119'
                      id: '3603906755'
                      name: '425251'
                      name_info:
                        info_label: '425251'
                        info_value: '425251'
                      remark: ''
                      rank: '1'
                      create_time: '2024-08-05 09:32:10'
                      update_time: '2024-12-07 15:44:20'
                    - is_purchase: 0
                      is_beginning: 0
                      is_ending: 0
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 1
                      can_delete: 1
                      next_status: []
                      client_id: '14119'
                      id: '3603906768'
                      name: '5432513'
                      name_info:
                        info_label: '5432513'
                        info_value: '5432513'
                      remark: ''
                      rank: '2'
                      create_time: '2024-08-05 09:32:18'
                      update_time: '2024-12-07 15:44:20'
                    - is_purchase: 0
                      is_beginning: 0
                      is_ending: 0
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 1
                      can_delete: 1
                      next_status:
                      - '1101043703'
                      - '1101043705'
                      - '1101043706'
                      - '1101043707'
                      - '3375434976'
                      - '3266554186'
                      - '3581929295'
                      - '3603906742'
                      - '3603906763'
                      client_id: '14119'
                      id: '1101043704'
                      name: Quotedhahahahha
                      name_info:
                        info_label: Quotedhahahahha
                        info_value: Quotedhahahahha
                      remark: '2'
                      rank: '3'
                      create_time: '2019-11-15 11:52:05'
                      update_time: '2024-12-07 15:44:20'
                    - is_purchase: 0
                      is_beginning: 0
                      is_ending: 0
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 1
                      can_delete: 1
                      next_status:
                      - '1101043704'
                      - '3266554186'
                      - '1101043707'
                      - '1101043705'
                      - '1101043706'
                      - '3581929295'
                      - '3603906735'
                      - '3603906768'
                      - '3603906755'
                      client_id: '14119'
                      id: '3375434976'
                      name: Transformed Orderhahahahha
                      name_info:
                        info_label: Transformed Orderhahahahha
                        info_value: Transformed Orderhahahahha
                      remark: 说明22r@
                      rank: '4'
                      create_time: '2023-05-25 11:23:07'
                      update_time: '2024-12-07 15:44:20'
                    - is_purchase: 0
                      is_beginning: 0
                      is_ending: 1
                      into_performance: 0
                      need_review: 1
                      change_ending: 1
                      change_review: 1
                      can_delete: 1
                      next_status:
                      - '1101043703'
                      - '1101043704'
                      - '1101043705'
                      - '1101043706'
                      - '3375434976'
                      - '3266554186'
                      - '3581929295'
                      client_id: '14119'
                      id: '1101043707'
                      name: Approvedhahahahha
                      name_info:
                        info_label: Approvedhahahahha
                        info_value: Approvedhahahahha
                      remark: ''
                      rank: '5'
                      create_time: '2019-11-15 11:52:05'
                      update_time: '2024-12-07 15:44:20'
                    - is_purchase: 0
                      is_beginning: 0
                      is_ending: 1
                      into_performance: 0
                      need_review: 1
                      change_ending: 1
                      change_review: 1
                      can_delete: 1
                      next_status:
                      - '1101043703'
                      - '1101043704'
                      - '1101043706'
                      - '1101043707'
                      - '3375434976'
                      - '3266554186'
                      - '3581929295'
                      - '3603906742'
                      - '3603906735'
                      client_id: '14119'
                      id: '1101043705'
                      name: Orderedhahahahha
                      name_info:
                        info_label: Orderedhahahahha
                        info_value: Orderedhahahahha
                      remark: ''
                      rank: '6'
                      create_time: '2019-11-15 11:52:05'
                      update_time: '2024-12-07 15:44:20'
                    - is_purchase: 0
                      is_beginning: 0
                      is_ending: 1
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 1
                      can_delete: 1
                      next_status:
                      - '1101043703'
                      - '1101043704'
                      - '1101043705'
                      - '1101043707'
                      - '3375434976'
                      - '3266554186'
                      - '3581929295'
                      client_id: '14119'
                      id: '1101043706'
                      name: Voidedhahahahha
                      name_info:
                        info_label: Voidedhahahahha
                        info_value: Voidedhahahahha
                      remark: ''
                      rank: '7'
                      create_time: '2019-11-15 11:52:05'
                      update_time: '2024-12-07 15:44:20'
                    - is_purchase: 0
                      is_beginning: 0
                      is_ending: 0
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 1
                      can_delete: 1
                      next_status:
                      - '3375434976'
                      - '1101043705'
                      - '1101043707'
                      - '1101043706'
                      - '3581929295'
                      client_id: '14119'
                      id: '3266554186'
                      name: Completedhahahahha
                      name_info:
                        info_label: Completedhahahahha
                        info_value: Completedhahahahha
                      remark: 状态111
                      rank: '8'
                      create_time: '2023-03-30 17:12:05'
                      update_time: '2024-12-07 15:44:20'
                    - is_purchase: 0
                      is_beginning: 0
                      is_ending: 1
                      into_performance: 0
                      need_review: 0
                      change_ending: 1
                      change_review: 1
                      can_delete: 1
                      next_status:
                      - '1101043703'
                      - '1101043704'
                      - '1101043707'
                      - '1101043706'
                      - '1101043705'
                      - '3266554186'
                      - '3375434976'
                      client_id: '14119'
                      id: '3581929295'
                      name: Aftermarkethahahahha
                      name_info:
                        info_label: Aftermarkethahahahha
                        info_value: Aftermarkethahahahha
                      remark: ''
                      rank: '9'
                      create_time: '2024-07-10 16:26:40'
                      update_time: '2024-12-07 15:44:21'
          headers: {}
          x-apifox-name: 成功
        x-200:请求成功:
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                x-apifox-orders:
                - code
                - msg
              example:
                msg: success
                code: 0
          headers: {}
          x-apifox-name: 请求成功
        x-200:查询报价单状态成功:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  now:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        is_purchase:
                          type: integer
                        is_beginning:
                          type: integer
                        is_ending:
                          type: integer
                        into_performance:
                          type: integer
                        need_review:
                          type: integer
                        change_ending:
                          type: integer
                        change_review:
                          type: integer
                        can_delete:
                          type: integer
                        next_status:
                          type: array
                          items:
                            type: string
                          title: 报价单当前状态下一状态
                        client_id:
                          type: string
                          title: client_id
                        id:
                          type: string
                          title: 报价单状态id
                        name:
                          type: string
                          title: 报价单名称
                        name_info:
                          type: object
                          properties:
                            info_label:
                              type: string
                            info_value:
                              type: string
                          required:
                          - info_label
                          - info_value
                          x-apifox-orders:
                          - info_label
                          - info_value
                        remark:
                          type: string
                        rank:
                          type: string
                        create_time:
                          type: string
                          title: 创建时间
                        update_time:
                          type: string
                          title: 更新时间
                      required:
                      - is_purchase
                      - is_beginning
                      - is_ending
                      - into_performance
                      - need_review
                      - change_ending
                      - change_review
                      - can_delete
                      - next_status
                      - client_id
                      - id
                      - name
                      - name_info
                      - remark
                      - rank
                      - create_time
                      - update_time
                      x-apifox-orders:
                      - is_purchase
                      - is_beginning
                      - is_ending
                      - into_performance
                      - need_review
                      - change_ending
                      - change_review
                      - can_delete
                      - next_status
                      - client_id
                      - id
                      - name
                      - name_info
                      - remark
                      - rank
                      - create_time
                      - update_time
                required:
                - code
                - message
                - now
                - data
                x-apifox-orders:
                - code
                - message
                - now
                - data
              example:
                code: 200
                message: success
                now: '2025-04-17 16:04:22'
                data:
                - is_purchase: 0
                  is_beginning: 1
                  is_ending: 0
                  into_performance: 0
                  need_review: 0
                  change_ending: 1
                  change_review: 0
                  can_delete: 0
                  next_status:
                  - '1101043704'
                  - '1101043705'
                  - '1101043706'
                  - '1101043707'
                  - '3375434976'
                  - '3266554186'
                  - '3581929295'
                  client_id: '14119'
                  id: '1101043703'
                  name: 草稿
                  name_info:
                    info_label: 草稿
                    info_value: 草稿
                  remark: ''
                  rank: '0'
                  create_time: '2019-11-15 11:52:05'
                  update_time: '2024-12-07 15:44:20'
                - is_purchase: 0
                  is_beginning: 0
                  is_ending: 1
                  into_performance: 0
                  need_review: 0
                  change_ending: 1
                  change_review: 1
                  can_delete: 1
                  next_status:
                  - '3603906719'
                  client_id: '14119'
                  id: '3603906755'
                  name: '425251'
                  name_info:
                    info_label: '425251'
                    info_value: '425251'
                  remark: ''
                  rank: '1'
                  create_time: '2024-08-05 09:32:10'
                  update_time: '2024-12-07 15:44:20'
                - is_purchase: 0
                  is_beginning: 0
                  is_ending: 0
                  into_performance: 0
                  need_review: 0
                  change_ending: 1
                  change_review: 1
                  can_delete: 1
                  next_status: []
                  client_id: '14119'
                  id: '3603906768'
                  name: '5432513'
                  name_info:
                    info_label: '5432513'
                    info_value: '5432513'
                  remark: ''
                  rank: '2'
                  create_time: '2024-08-05 09:32:18'
                  update_time: '2024-12-07 15:44:20'
                - is_purchase: 0
                  is_beginning: 0
                  is_ending: 0
                  into_performance: 0
                  need_review: 0
                  change_ending: 1
                  change_review: 1
                  can_delete: 1
                  next_status:
                  - '1101043703'
                  - '1101043705'
                  - '1101043706'
                  - '1101043707'
                  - '3375434976'
                  - '3266554186'
                  - '3581929295'
                  - '3603906742'
                  - '3603906763'
                  client_id: '14119'
                  id: '1101043704'
                  name: Quotedhahahahha
                  name_info:
                    info_label: Quotedhahahahha
                    info_value: Quotedhahahahha
                  remark: '2'
                  rank: '3'
                  create_time: '2019-11-15 11:52:05'
                  update_time: '2024-12-07 15:44:20'
                - is_purchase: 0
                  is_beginning: 0
                  is_ending: 0
                  into_performance: 0
                  need_review: 0
                  change_ending: 1
                  change_review: 1
                  can_delete: 1
                  next_status:
                  - '1101043704'
                  - '3266554186'
                  - '1101043707'
                  - '1101043705'
                  - '1101043706'
                  - '3581929295'
                  - '3603906735'
                  - '3603906768'
                  - '3603906755'
                  client_id: '14119'
                  id: '3375434976'
                  name: Transformed Orderhahahahha
                  name_info:
                    info_label: Transformed Orderhahahahha
                    info_value: Transformed Orderhahahahha
                  remark: 说明22r@
                  rank: '4'
                  create_time: '2023-05-25 11:23:07'
                  update_time: '2024-12-07 15:44:20'
                - is_purchase: 0
                  is_beginning: 0
                  is_ending: 1
                  into_performance: 0
                  need_review: 1
                  change_ending: 1
                  change_review: 1
                  can_delete: 1
                  next_status:
                  - '1101043703'
                  - '1101043704'
                  - '1101043705'
                  - '1101043706'
                  - '3375434976'
                  - '3266554186'
                  - '3581929295'
                  client_id: '14119'
                  id: '1101043707'
                  name: Approvedhahahahha
                  name_info:
                    info_label: Approvedhahahahha
                    info_value: Approvedhahahahha
                  remark: ''
                  rank: '5'
                  create_time: '2019-11-15 11:52:05'
                  update_time: '2024-12-07 15:44:20'
                - is_purchase: 0
                  is_beginning: 0
                  is_ending: 1
                  into_performance: 0
                  need_review: 1
                  change_ending: 1
                  change_review: 1
                  can_delete: 1
                  next_status:
                  - '1101043703'
                  - '1101043704'
                  - '1101043706'
                  - '1101043707'
                  - '3375434976'
                  - '3266554186'
                  - '3581929295'
                  - '3603906742'
                  - '3603906735'
                  client_id: '14119'
                  id: '1101043705'
                  name: Orderedhahahahha
                  name_info:
                    info_label: Orderedhahahahha
                    info_value: Orderedhahahahha
                  remark: ''
                  rank: '6'
                  create_time: '2019-11-15 11:52:05'
                  update_time: '2024-12-07 15:44:20'
                - is_purchase: 0
                  is_beginning: 0
                  is_ending: 1
                  into_performance: 0
                  need_review: 0
                  change_ending: 1
                  change_review: 1
                  can_delete: 1
                  next_status:
                  - '1101043703'
                  - '1101043704'
                  - '1101043705'
                  - '1101043707'
                  - '3375434976'
                  - '3266554186'
                  - '3581929295'
                  client_id: '14119'
                  id: '1101043706'
                  name: Voidedhahahahha
                  name_info:
                    info_label: Voidedhahahahha
                    info_value: Voidedhahahahha
                  remark: ''
                  rank: '7'
                  create_time: '2019-11-15 11:52:05'
                  update_time: '2024-12-07 15:44:20'
                - is_purchase: 0
                  is_beginning: 0
                  is_ending: 0
                  into_performance: 0
                  need_review: 0
                  change_ending: 1
                  change_review: 1
                  can_delete: 1
                  next_status:
                  - '3375434976'
                  - '1101043705'
                  - '1101043707'
                  - '1101043706'
                  - '3581929295'
                  client_id: '14119'
                  id: '3266554186'
                  name: Completedhahahahha
                  name_info:
                    info_label: Completedhahahahha
                    info_value: Completedhahahahha
                  remark: 状态111
                  rank: '8'
                  create_time: '2023-03-30 17:12:05'
                  update_time: '2024-12-07 15:44:20'
                - is_purchase: 0
                  is_beginning: 0
                  is_ending: 1
                  into_performance: 0
                  need_review: 0
                  change_ending: 1
                  change_review: 1
                  can_delete: 1
                  next_status:
                  - '1101043703'
                  - '1101043704'
                  - '1101043707'
                  - '1101043706'
                  - '1101043705'
                  - '3266554186'
                  - '3375434976'
                  client_id: '14119'
                  id: '3581929295'
                  name: Aftermarkethahahahha
                  name_info:
                    info_label: Aftermarkethahahahha
                    info_value: Aftermarkethahahahha
                  remark: ''
                  rank: '9'
                  create_time: '2024-07-10 16:26:40'
                  update_time: '2024-12-07 15:44:21'
          headers: {}
          x-apifox-name: 查询报价单状态成功
        x-200:查询报价单币种成功:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  now:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          title: 币种名称
                        cn_name:
                          type: string
                          title: 币种中文名称
                        update_time:
                          type: string
                          title: 更新时间
                        bank_conversion_pri:
                          type: string
                          title: 银行折算价/中间价
                        f_buy_pri:
                          type: string
                          title: 现汇买入价
                        f_sell_pri:
                          type: string
                          title: 现汇卖出价
                        m_buy_pri:
                          type: string
                          title: 现钞买入价
                        m_sell_pri:
                          type: string
                          title: 现钞卖出价
                        type:
                          type: string
                          title: 当前主币种
                        custom_rate:
                          type: integer
                          title: 自定义汇率
                        disabled_real_time:
                          type: integer
                          title: 是否支持更新实时汇率的币种
                        base:
                          type: integer
                          title: 是否自定义
                          description: 1:系统，0:自定义
                      required:
                      - name
                      - cn_name
                      - update_time
                      - bank_conversion_pri
                      - f_buy_pri
                      - f_sell_pri
                      - m_buy_pri
                      - m_sell_pri
                      - type
                      - custom_rate
                      - disabled_real_time
                      - base
                      x-apifox-orders:
                      - name
                      - cn_name
                      - update_time
                      - bank_conversion_pri
                      - f_buy_pri
                      - f_sell_pri
                      - m_buy_pri
                      - m_sell_pri
                      - type
                      - custom_rate
                      - disabled_real_time
                      - base
                required:
                - code
                - message
                - now
                - data
                x-apifox-orders:
                - code
                - message
                - now
                - data
              example:
                code: 200
                message: success
                now: '2025-04-17 16:06:08'
                data:
                - name: AED
                  cn_name: 阿联酋迪拉姆
                  update_time: '2025-04-11 20:00:07'
                  bank_conversion_pri: '27.08580'
                  f_buy_pri: '27.08580'
                  f_sell_pri: '27.08580'
                  m_buy_pri: '27.08580'
                  m_sell_pri: '27.08580'
                  type: USD
                  custom_rate: -1
                  disabled_real_time: 0
                  base: 1
                - name: ALL
                  cn_name: 阿尔巴尼亚列克
                  update_time: '2024-03-01 13:52:36'
                  bank_conversion_pri: '0.00000'
                  f_buy_pri: '0.00000'
                  f_sell_pri: '0.00000'
                  m_buy_pri: '0.00000'
                  m_sell_pri: '0.00000'
                  type: USD
                  custom_rate: '13.11113'
                  disabled_real_time: 1
                  base: 0
                - name: AMD
                  cn_name: 亚美尼亚德拉姆
                  update_time: '2023-04-20 16:45:26'
                  bank_conversion_pri: '0.00000'
                  f_buy_pri: '0.00000'
                  f_sell_pri: '0.00000'
                  m_buy_pri: '0.00000'
                  m_sell_pri: '0.00000'
                  type: USD
                  custom_rate: '0.90000'
                  disabled_real_time: 1
                  base: 0
                - name: ANG
                  cn_name: 荷属安的列斯盾
                  update_time: '2023-04-12 10:16:52'
                  bank_conversion_pri: '0.00000'
                  f_buy_pri: '0.00000'
                  f_sell_pri: '0.00000'
                  m_buy_pri: '0.00000'
                  m_sell_pri: '0.00000'
                  type: USD
                  custom_rate: '1.00000'
                  disabled_real_time: 1
                  base: 0
                - name: AUD
                  cn_name: 澳大利亚元
                  update_time: '2025-04-11 20:00:04'
                  bank_conversion_pri: '62.30220'
                  f_buy_pri: '62.30220'
                  f_sell_pri: '62.30220'
                  m_buy_pri: '62.30220'
                  m_sell_pri: '62.30220'
                  type: USD
                  custom_rate: -1
                  disabled_real_time: 0
                  base: 1
                - name: AZN
                  cn_name: 阿塞拜疆马纳特
                  update_time: '2023-04-03 15:49:11'
                  bank_conversion_pri: '0.00000'
                  f_buy_pri: '0.00000'
                  f_sell_pri: '0.00000'
                  m_buy_pri: '0.00000'
                  m_sell_pri: '0.00000'
                  type: USD
                  custom_rate: '9.01000'
                  disabled_real_time: 1
                  base: 0
                - name: BAM
                  cn_name: 波黑可兑换马克
                  update_time: '2023-03-23 17:11:24'
                  bank_conversion_pri: '0.00000'
                  f_buy_pri: '0.00000'
                  f_sell_pri: '0.00000'
                  m_buy_pri: '0.00000'
                  m_sell_pri: '0.00000'
                  type: USD
                  custom_rate: '20.00000'
                  disabled_real_time: 1
                  base: 0
                - name: BBD
                  cn_name: 巴巴多斯元
                  update_time: '2023-04-03 13:56:33'
                  bank_conversion_pri: '0.00000'
                  f_buy_pri: '0.00000'
                  f_sell_pri: '0.00000'
                  m_buy_pri: '0.00000'
                  m_sell_pri: '0.00000'
                  type: USD
                  custom_rate: '22.03000'
                  disabled_real_time: 1
                  base: 0
                - name: BDT
                  cn_name: 孟加拉塔卡
                  update_time: '2023-04-03 13:55:16'
                  bank_conversion_pri: '0.00000'
                  f_buy_pri: '0.00000'
                  f_sell_pri: '0.00000'
                  m_buy_pri: '0.00000'
                  m_sell_pri: '0.00000'
                  type: USD
                  custom_rate: '2.00000'
                  disabled_real_time: 1
                  base: 0
                - name: BRL
                  cn_name: 巴西雷亚尔
                  update_time: '2023-03-21 15:01:01'
                  bank_conversion_pri: '0.00000'
                  f_buy_pri: '0.00000'
                  f_sell_pri: '0.00000'
                  m_buy_pri: '0.00000'
                  m_sell_pri: '0.00000'
                  type: USD
                  custom_rate: '17.88941'
                  disabled_real_time: 1
                  base: 1
                - name: CAD
                  cn_name: 加拿大元
                  update_time: '2025-04-11 20:00:04'
                  bank_conversion_pri: '71.82990'
                  f_buy_pri: '71.82990'
                  f_sell_pri: '71.82990'
                  m_buy_pri: '71.82990'
                  m_sell_pri: '71.82990'
                  type: USD
                  custom_rate: -1
                  disabled_real_time: 0
                  base: 1
                - name: CHF
                  cn_name: 瑞士法郎
                  update_time: '2025-04-11 20:00:05'
                  bank_conversion_pri: '122.37410'
                  f_buy_pri: '122.37410'
                  f_sell_pri: '122.37410'
                  m_buy_pri: '122.37410'
                  m_sell_pri: '122.37410'
                  type: USD
                  custom_rate: -1
                  disabled_real_time: 0
                  base: 1
                - name: CNY
                  cn_name: 人民币
                  update_time: '2024-06-24 14:14:13'
                  bank_conversion_pri: '13.72480'
                  f_buy_pri: '13.72480'
                  f_sell_pri: '13.72480'
                  m_buy_pri: '13.72480'
                  m_sell_pri: '13.72480'
                  type: USD
                  custom_rate: '14.28570'
                  disabled_real_time: 0
                  base: 1
                - name: DKK
                  cn_name: 丹麦克朗
                  update_time: '2025-04-11 20:00:05'
                  bank_conversion_pri: '15.15900'
                  f_buy_pri: '15.15900'
                  f_sell_pri: '15.15900'
                  m_buy_pri: '15.15900'
                  m_sell_pri: '15.15900'
                  type: USD
                  custom_rate: -1
                  disabled_real_time: 0
                  base: 1
                - name: EUR
                  cn_name: 欧元
                  update_time: '2025-04-11 20:00:04'
                  bank_conversion_pri: '113.25810'
                  f_buy_pri: '113.25810'
                  f_sell_pri: '113.25810'
                  m_buy_pri: '113.25810'
                  m_sell_pri: '113.25810'
                  type: USD
                  custom_rate: -1
                  disabled_real_time: 0
                  base: 1
                - name: GBP
                  cn_name: 英镑
                  update_time: '2025-04-11 20:00:04'
                  bank_conversion_pri: '130.66110'
                  f_buy_pri: '130.66110'
                  f_sell_pri: '130.66110'
                  m_buy_pri: '130.66110'
                  m_sell_pri: '130.66110'
                  type: USD
                  custom_rate: -1
                  disabled_real_time: 0
                  base: 1
                - name: HKD
                  cn_name: 港币
                  update_time: '2022-04-13 11:18:58'
                  bank_conversion_pri: '12.89300'
                  f_buy_pri: '12.89300'
                  f_sell_pri: '12.89300'
                  m_buy_pri: '12.89300'
                  m_sell_pri: '12.89300'
                  type: USD
                  custom_rate: '14.00000'
                  disabled_real_time: 0
                  base: 1
                - name: IDR
                  cn_name: 印尼盾
                  update_time: '2021-04-07 16:59:13'
                  bank_conversion_pri: '0.00000'
                  f_buy_pri: '0.00000'
                  f_sell_pri: '0.00000'
                  m_buy_pri: '0.00000'
                  m_sell_pri: '0.00000'
                  type: USD
                  custom_rate: '0.00681'
                  disabled_real_time: 1
                  base: 1
                - name: INR
                  cn_name: 印度卢比
                  update_time: '2023-03-21 14:59:24'
                  bank_conversion_pri: '0.00000'
                  f_buy_pri: '0.00000'
                  f_sell_pri: '0.00000'
                  m_buy_pri: '0.00000'
                  m_sell_pri: '0.00000'
                  type: USD
                  custom_rate: '61.00000'
                  disabled_real_time: 1
                  base: 0
                - name: JPY
                  cn_name: 日元
                  update_time: '2025-04-11 20:00:04'
                  bank_conversion_pri: '0.69930'
                  f_buy_pri: '0.69930'
                  f_sell_pri: '0.69930'
                  m_buy_pri: '0.69930'
                  m_sell_pri: '0.69930'
                  type: USD
                  custom_rate: -1
                  disabled_real_time: 0
                  base: 1
                - name: KRW
                  cn_name: 韩国元
                  update_time: '2025-04-11 20:00:07'
                  bank_conversion_pri: '0.06950'
                  f_buy_pri: '0.06950'
                  f_sell_pri: '0.06950'
                  m_buy_pri: '0.06950'
                  m_sell_pri: '0.06950'
                  type: USD
                  custom_rate: -1
                  disabled_real_time: 0
                  base: 1
                - name: MOP
                  cn_name: 澳门元
                  update_time: '2023-04-03 15:48:40'
                  bank_conversion_pri: '12.51700'
                  f_buy_pri: '12.51700'
                  f_sell_pri: '12.51700'
                  m_buy_pri: '12.51700'
                  m_sell_pri: '12.51700'
                  type: USD
                  custom_rate: '332.00000'
                  disabled_real_time: 0
                  base: 1
                - name: MXN
                  cn_name: 墨西哥元
                  update_time: '2022-06-09 11:57:34'
                  bank_conversion_pri: '0.00000'
                  f_buy_pri: '0.00000'
                  f_sell_pri: '0.00000'
                  m_buy_pri: '0.00000'
                  m_sell_pri: '0.00000'
                  type: USD
                  custom_rate: '5.08000'
                  disabled_real_time: 1
                  base: 1
                - name: MYR
                  cn_name: 马来西亚令吉
                  update_time: '2025-04-11 20:00:06'
                  bank_conversion_pri: '22.57590'
                  f_buy_pri: '22.57590'
                  f_sell_pri: '22.57590'
                  m_buy_pri: '22.57590'
                  m_sell_pri: '22.57590'
                  type: USD
                  custom_rate: -1
                  disabled_real_time: 0
                  base: 1
                - name: NOK
                  cn_name: 挪威克朗
                  update_time: '2025-04-11 20:00:05'
                  bank_conversion_pri: '9.34520'
                  f_buy_pri: '9.34520'
                  f_sell_pri: '9.34520'
                  m_buy_pri: '9.34520'
                  m_sell_pri: '9.34520'
                  type: USD
                  custom_rate: -1
                  disabled_real_time: 0
                  base: 1
                - name: NTD
                  cn_name: 新台币
                  update_time: '2025-04-11 20:00:06'
                  bank_conversion_pri: '2.97000'
                  f_buy_pri: '2.97000'
                  f_sell_pri: '2.97000'
                  m_buy_pri: '2.97000'
                  m_sell_pri: '2.97000'
                  type: USD
                  custom_rate: -1
                  disabled_real_time: 0
                  base: 1
                - name: NZD
                  cn_name: 新西兰元
                  update_time: '2025-04-11 20:00:07'
                  bank_conversion_pri: '58.01050'
                  f_buy_pri: '58.01050'
[...]
