openapi: 3.0.1
info:
  title: Xiaoman OpenAPI - 库存 (unofficial)
  version: '2026-05-09'
  description: 'Unofficial module spec generated from public Xiaoman Open API documentation: 库存.'
servers:
- url: https://api-sandbox.xiaoman.cn
  description: official documented server
tags:
- name: 库存
  x-module-slug: warehouse
paths:
  /v1/product/push-inventory:
    post:
      summary: 库存写入
      deprecated: false
      description: 该接口支持同步外部的库存数据到小满，但通过该方式写入的库存只能用于查看，不能用于小满的出库。
      tags:
      - 库存
      parameters:
      - name: Authorization
        in: header
        description: ''
        required: true
        example: REDACTED_JWT
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  sku_id:
                    type: integer
                    title: 产品SKU ID
                  real_count:
                    type: integer
                    title: 实际库存数量
                    description: 非必填。默认为可用库存
                  enable_count:
                    type: integer
                    title: 可用库存数量
                  inventory_type:
                    type: integer
                    description: 修改类型 Enum:1,2支持全量修改-1和增量修改-2，全量修改即按照修改数量修改库存；增量修改则按照输入的修改数量，增加或减少对应的数量。非必填默认全量修改
                    title: 修改类型
                  warehouse_id:
                    type: integer
                    title: 仓库ID
                    description: 不传入则用默认仓库承接
                x-apifox-orders:
                - sku_id
                - real_count
                - enable_count
                - inventory_type
                - warehouse_id
                required:
                - sku_id
                - enable_count
            example:
            - sku_id: 6802581821476
              real_count: 0
              enable_count: 0
              inventory_type: 1
              warehouse_id: 6167107555718
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  now:
                    type: string
                  data:
                    type: string
                required:
                - code
                - message
                - now
                - data
                x-apifox-orders:
                - code
                - message
                - now
                - data
              example:
                code: 200
                message: success
                now: '2025-03-06 14:49:42'
                data: success
          headers: {}
          x-apifox-name: 成功
      security: []
      x-apifox-folder: 库存
      x-apifox-status: released
      operationId: post_v1_product_push_inventory
      x-local-source-path: sources/pages/api-3478297.md
      x-source-id: api-3478297
      x-source-title: 库存写入
      x-source-module: 库存
  /v1/warehouse/list:
    get:
      summary: 仓库查询
      deprecated: false
      description: ''
      tags:
      - 库存
      parameters:
      - name: warehouse_id
        in: query
        description: 仓库ID查询条件
        required: false
        example: 1131355530
        schema:
          type: integer
      - name: warehouse_no
        in: query
        description: 仓库编号
        required: false
        example: WH001
        schema:
          type: string
      - name: authorization
        in: header
        description: ''
        required: true
        example: REDACTED_JWT
        schema:
          type: string
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    description: 错误码
                    type: integer
                    x-apifox-mock: 0
                  message:
                    description: 错误信息
                    type: string
                    x-apifox-mock: success
                  now:
                    description: 当前时间
                    type: string
                    x-apifox-mock: '2022-01-01 00:00:00'
                  data:
                    description: 响应数据
                    type: object
                    properties:
                      count:
                        description: 仓库总数
                        type: integer
                      list:
                        description: 仓库列表
                        type: array
                        items:
                          type: object
                          properties:
                            warehouse_id:
                              description: 仓库ID
                              type: integer
                            warehouse_no:
                              description: 仓库编号
                              type: string
                            name:
                              description: 仓库名称
                              type: string
                            status:
                              description: 状态：1-启用，2-停用
                              type: integer
                            default_flag:
                              description: 默认仓库：1-是，2-否
                              type: integer
                            manager:
                              description: 负责人
                              type: string
                            contact:
                              description: 联系方式
                              type: string
                            address:
                              description: 仓库地址
                              type: string
                            remark:
                              description: 备注
                              type: string
                          x-apifox-orders:
                          - warehouse_id
                          - warehouse_no
                          - name
                          - status
                          - default_flag
                          - manager
                          - contact
                          - address
                          - remark
                    x-apifox-orders:
                    - count
                    - list
                x-apifox-orders:
                - code
                - message
                - now
                - data
              examples:
                '1':
                  summary: 成功示例
                  value:
                    code: 200
                    message: success
                    now: '2025-03-12 15:07:55'
                    data:
                      list:
                      - warehouse_id: 1131355530
                        warehouse_no: WH001
                        name: 默认仓库edit
                        status: 1
                        default_flag: 1
                        manager: ''
                        contact: ''
                        address: ''
                        remark: ''
                      - warehouse_id: 3565160091
                        warehouse_no: WH1018
                        name: 高艳
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-17
                      - warehouse_id: 3565160089
                        warehouse_no: WH1016
                        name: 汤刚2024-06-17 10:09:49
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-17
                      - warehouse_id: 3564806837
                        warehouse_no: WH1015
                        name: 宋芳
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-12
                      - warehouse_id: 3564806835
                        warehouse_no: WH1013
                        name: 常敏2024-06-12 18:09:27
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-12
                      - warehouse_id: 3564806836
                        warehouse_no: WH1014
                        name: 崔杰
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-12
                      - warehouse_id: 3564589969
                        warehouse_no: WH1012
                        name: 董刚
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-12
                      - warehouse_id: 3564589967
                        warehouse_no: WH1011
                        name: 汤超2024-06-12 02:15:55
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-12
                      - warehouse_id: 3564589966
                        warehouse_no: WH1010
                        name: 余涛
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-12
                      - warehouse_id: 3564589963
                        warehouse_no: WH1008
                        name: 丁娜2024-06-12 02:15:51
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-12
                      - warehouse_id: 3564589964
                        warehouse_no: WH1009
                        name: 徐秀兰
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-12
                      - warehouse_id: 3564430760
                        warehouse_no: WH1007
                        name: 廖涛
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-11
                      - warehouse_id: 3564430758
                        warehouse_no: WH1006
                        name: 苏刚2024-06-11 07:25:33
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-11
                      - warehouse_id: 3563403268
                        warehouse_no: WH1005
                        name: 戴勇
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-06
                      - warehouse_id: 3563403266
                        warehouse_no: WH1003
                        name: 邹静2024-06-06 06:15:20
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-06
                      - warehouse_id: 3563403267
                        warehouse_no: WH1004
                        name: 常磊
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-06
                      - warehouse_id: 3563402288
                        warehouse_no: WH1002
                        name: 顾刚
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-06
                      - warehouse_id: 3563402287
                        warehouse_no: WH1001
                        name: 顾桂英2024-06-06 06:10:35
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-06
                      - warehouse_id: 3563283226
                        warehouse_no: WH998
                        name: 秦霞
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-06
                      - warehouse_id: 3563283223
                        warehouse_no: WH996
                        name: 乔霞2024-06-06 02:06:34
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-06
                      - warehouse_id: 3563283224
                        warehouse_no: WH997
                        name: 夏强
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-06
                      - warehouse_id: 3563245046
                        warehouse_no: WH994
                        name: 郑敏
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-06
                      - warehouse_id: 3563245047
                        warehouse_no: WH995
                        name: 侯涛
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-06
                      - warehouse_id: 3563245045
                        warehouse_no: WH993
                        name: 胡敏2024-06-06 01:43:16
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-06
                      - warehouse_id: 3563244976
                        warehouse_no: WH992
                        name: 万刚
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-06
                      - warehouse_id: 3563244975
                        warehouse_no: WH991
                        name: 雷超
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-06
                      - warehouse_id: 3563244974
                        warehouse_no: WH990
                        name: 钱超2024-06-06 01:42:21
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-06
                      - warehouse_id: 3563222868
                        warehouse_no: WH989
                        name: 谢秀兰
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-05
                      - warehouse_id: 3563222867
                        warehouse_no: WH988
                        name: 刘丽
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-05
                      - warehouse_id: 3563222866
                        warehouse_no: WH987
                        name: 赵芳2024-06-05 10:35:18
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-05
                      - warehouse_id: 3563222861
                        warehouse_no: WH986
                        name: 唐霞
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-05
                      - warehouse_id: 3563222860
                        warehouse_no: WH985
                        name: 李静
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-05
                      - warehouse_id: 3563222859
                        warehouse_no: WH984
                        name: 马勇2024-06-05 10:34:45
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-06-05
                      - warehouse_id: 3560437370
                        warehouse_no: WH983
                        name: 毛静
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-05-28
                      - warehouse_id: 3560437363
                        warehouse_no: WH981
                        name: 黄艳2024-05-28 06:10:19
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-05-28
                      - warehouse_id: 3560437365
                        warehouse_no: WH982
                        name: 徐超
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-05-28
                      - warehouse_id: 3560437204
                        warehouse_no: WH980
                        name: 文娜
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-05-28
                      - warehouse_id: 3560437203
                        warehouse_no: WH979
                        name: 蔡刚
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-05-28
                      - warehouse_id: 3560437202
                        warehouse_no: WH978
                        name: 雷强2024-05-28 06:09:40
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-05-28
                      - warehouse_id: 3560437201
                        warehouse_no: WH977
                        name: 沈秀兰
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-05-28
                      - warehouse_id: 3560437196
                        warehouse_no: WH976
                        name: 陈娜
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-05-28
                      - warehouse_id: 3560437194
                        warehouse_no: WH975
                        name: 陈明2024-05-28 06:09:39
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-05-28
                      - warehouse_id: 3560431057
                        warehouse_no: WH974
                        name: 曾超
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-05-28
                      - warehouse_id: 3560431056
                        warehouse_no: WH973
                        name: 吴洋
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-05-28
                      - warehouse_id: 3560431055
                        warehouse_no: WH972
                        name: 易静2024-05-28 05:59:10
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-05-28
                      - warehouse_id: 3560430962
                        warehouse_no: WH971
                        name: 丁敏
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-05-28
                      - warehouse_id: 3560430960
                        warehouse_no: WH969
                        name: 苏娟2024-05-28 05:57:06
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-05-28
                      - warehouse_id: 3560430961
                        warehouse_no: WH970
                        name: 曹杰
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-05-28
                      - warehouse_id: 3560430930
                        warehouse_no: WH968
                        name: 刘勇
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-05-28
                      - warehouse_id: 3560430929
                        warehouse_no: WH967
                        name: 常伟2024-05-28 05:56:49
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-05-28
                      - warehouse_id: 3514223335
                        warehouse_no: WH964
                        name: 彭秀英
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-22
                      - warehouse_id: 3514223328
                        warehouse_no: WH963
                        name: 乔明
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-22
                      - warehouse_id: 3511907725
                        warehouse_no: WH495
                        name: 许桂英2024-04-08 08:59:36editediteditediteditediteditediteditediteditediteditediteditediteditediteditediteditediteditediteditediteditediteditediteditediteditediteditediteditediteditediteditediteditediteditediteditediteditediteditediteditediteditediteditedit
                        status: 1
                        default_flag: 2
                        manager: CEO
                        contact: '18920302932'
                        address: 南山区editeditediteditediteditediteditediteditediteditediteditedit
                        remark: 仓库备注+2024-04-08
                      - warehouse_id: 3511907730
                        warehouse_no: WH496
                        name: 黎明
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-08
                      - warehouse_id: 3511784564
                        warehouse_no: WH493
                        name: 郑芳
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-08
                      - warehouse_id: 3511784563
                        warehouse_no: WH492
                        name: 吴勇
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-08
                      - warehouse_id: 3511784561
                        warehouse_no: WH490
                        name: 毛桂英
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-08
                      - warehouse_id: 3511784560
                        warehouse_no: WH489
                        name: 石勇
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-08
                      - warehouse_id: 3511784559
                        warehouse_no: WH488
                        name: 尹涛2024-04-08 03:58:27edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-08
                      - warehouse_id: 3511522876
                        warehouse_no: WH468
                        name: 方秀英2024-04-03 03:52:58edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-03
                      - warehouse_id: 3511511046
                        warehouse_no: WH466
                        name: 傅艳
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-03
                      - warehouse_id: 3511511045
                        warehouse_no: WH465
                        name: 田平
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-03
                      - warehouse_id: 3511511043
                        warehouse_no: WH463
                        name: 宋刚
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-03
                      - warehouse_id: 3511511042
                        warehouse_no: WH462
                        name: 韩勇2024-04-03 03:25:57edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-03
                      - warehouse_id: 3511498137
                        warehouse_no: WH460
                        name: 袁涛
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-03
                      - warehouse_id: 3511498136
                        warehouse_no: WH459
                        name: 夏静
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-03
                      - warehouse_id: 3511498134
                        warehouse_no: WH457
                        name: 郝丽
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-03
                      - warehouse_id: 3511498133
                        warehouse_no: WH456
                        name: 常平
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-03
                      - warehouse_id: 3511498132
                        warehouse_no: WH455
                        name: 方军2024-04-03 02:38:17edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-03
                      - warehouse_id: 3511469033
                        warehouse_no: WH453
                        name: 常丽
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-03
                      - warehouse_id: 3511469032
                        warehouse_no: WH452
                        name: 孙洋
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-03
                      - warehouse_id: 3511469030
                        warehouse_no: WH450
                        name: 贾娟
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-03
                      - warehouse_id: 3511469029
                        warehouse_no: WH449
                        name: 史敏
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-03
                      - warehouse_id: 3511469028
                        warehouse_no: WH448
                        name: 贾勇2024-04-03 02:07:55edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-03
                      - warehouse_id: 3511411014
                        warehouse_no: WH446
                        name: 陈刚
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-02
                      - warehouse_id: 3511411006
                        warehouse_no: WH445
                        name: 董涛
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-02
                      - warehouse_id: 3511410991
                        warehouse_no: WH443
                        name: 李磊
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-02
                      - warehouse_id: 3511410990
                        warehouse_no: WH442
                        name: 沈秀英
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-02
                      - warehouse_id: 3511410989
                        warehouse_no: WH441
                        name: 龙强2024-04-02 07:33:10edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-02
                      - warehouse_id: 3511003637
                        warehouse_no: WH439
                        name: 乔杰
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-01
                      - warehouse_id: 3511003636
                        warehouse_no: WH438
                        name: 姚洋
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-01
                      - warehouse_id: 3511003635
                        warehouse_no: WH437
                        name: 常洋
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-01
                      - warehouse_id: 3510952273
                        warehouse_no: WH435
                        name: 丁明
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-01
                      - warehouse_id: 3510952272
                        warehouse_no: WH434
                        name: 朱秀英
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-01
                      - warehouse_id: 3510952270
                        warehouse_no: WH432
                        name: 康秀兰
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-01
                      - warehouse_id: 3510952269
                        warehouse_no: WH431
                        name: 蔡娟
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-01
                      - warehouse_id: 3510952268
                        warehouse_no: WH430
                        name: 史伟2024-04-01 07:13:57edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-01
                      - warehouse_id: 3510895086
                        warehouse_no: WH428
                        name: 金杰
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-01
                      - warehouse_id: 3510895084
                        warehouse_no: WH426
                        name: 田刚
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-01
                      - warehouse_id: 3510895083
                        warehouse_no: WH425
                        name: 邱秀兰
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-01
                      - warehouse_id: 3510895082
                        warehouse_no: WH424
                        name: 袁静2024-04-01 06:04:14edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-01
                      - warehouse_id: 3510875816
                        warehouse_no: WH422
                        name: 康超
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-01
                      - warehouse_id: 3510875812
                        warehouse_no: WH421
                        name: 杜艳
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-01
                      - warehouse_id: 3510875811
                        warehouse_no: WH420
                        name: 姚霞
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-01
                      - warehouse_id: 3510875809
                        warehouse_no: WH418
                        name: 钱刚2024-04-01 02:07:41edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-01
                      - warehouse_id: 3510875810
                        warehouse_no: WH419
                        name: 万明
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-04-01
                      - warehouse_id: 3510810955
                        warehouse_no: WH415
                        name: 潘杰
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510810956
                        warehouse_no: WH416
                        name: 胡伟
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510810953
                        warehouse_no: WH413
                        name: 吴强
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510810951
                        warehouse_no: WH411
                        name: 邓勇2024-03-29 10:38:58edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510810952
                        warehouse_no: WH412
                        name: 崔涛
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510796652
                        warehouse_no: WH409
                        name: 汪秀英
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510796651
                        warehouse_no: WH408
                        name: 郝军
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510796649
                        warehouse_no: WH406
                        name: 龚平
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510796648
                        warehouse_no: WH405
                        name: 万平2024-03-29 09:56:05edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510781832
                        warehouse_no: WH403
                        name: 王丽
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510781831
                        warehouse_no: WH402
                        name: 王敏
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510781829
                        warehouse_no: WH400
                        name: 谭涛
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510781828
                        warehouse_no: WH399
                        name: 郭秀兰
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510781827
                        warehouse_no: WH398
                        name: 贾超2024-03-29 09:09:36edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510778181
                        warehouse_no: WH395
                        name: 沈娟
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510778182
                        warehouse_no: WH396
                        name: 韩军
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510778074
                        warehouse_no: WH393
                        name: 孙超
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510778071
                        warehouse_no: WH392
                        name: 林艳
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510778070
                        warehouse_no: WH391
                        name: 魏磊2024-03-29 08:55:21edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510745823
                        warehouse_no: WH389
                        name: 郝芳
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510745824
                        warehouse_no: WH390
                        name: 石涛
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510745820
                        warehouse_no: WH387
                        name: 刘芳
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510745818
                        warehouse_no: WH385
                        name: 毛明2024-03-29 06:30:50edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510745819
                        warehouse_no: WH386
                        name: 于平
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510745306
                        warehouse_no: WH383
                        name: 姜秀兰
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510745305
                        warehouse_no: WH382
                        name: 乔艳
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510745303
                        warehouse_no: WH380
                        name: 程刚
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510744429
                        warehouse_no: WH378
                        name: 何秀兰2024-03-29 06:25:23edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510744430
                        warehouse_no: WH379
                        name: 周霞
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510713791
                        warehouse_no: WH376
                        name: 魏军
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510713789
                        warehouse_no: WH374
                        name: 许娟
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510713788
                        warehouse_no: WH373
                        name: 雷芳
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510713787
                        warehouse_no: WH372
                        name: 熊霞2024-03-29 03:59:45edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510696924
                        warehouse_no: WH370
                        name: 周磊
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510696923
                        warehouse_no: WH369
                        name: 任平
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510696921
                        warehouse_no: WH367
                        name: 白芳
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510696919
                        warehouse_no: WH365
                        name: 董强2024-03-29 03:06:46edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510696920
                        warehouse_no: WH366
                        name: 康平
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510686371
                        warehouse_no: WH363
                        name: 李平
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510686369
                        warehouse_no: WH361
                        name: 乔秀英
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510686368
                        warehouse_no: WH360
                        name: 叶丽
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510686367
                        warehouse_no: WH359
                        name: 江勇2024-03-29 10:47:42edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-29
                      - warehouse_id: 3510615325
                        warehouse_no: WH357
                        name: 蔡桂英
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-28
                      - warehouse_id: 3510615287
                        warehouse_no: WH356
                        name: 蒋艳
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-28
                      - warehouse_id: 3510615081
                        warehouse_no: WH354
                        name: 黎洋
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-28
                      - warehouse_id: 3510614919
                        warehouse_no: WH352
                        name: 赖霞2024-03-28 10:04:10edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-28
                      - warehouse_id: 3510614948
                        warehouse_no: WH353
                        name: 余艳
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-28
                      - warehouse_id: 3510470456
                        warehouse_no: WH350
                        name: 卢静
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-28
                      - warehouse_id: 3510470455
                        warehouse_no: WH349
                        name: 白秀兰
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-28
                      - warehouse_id: 3510470453
                        warehouse_no: WH347
                        name: 曹平
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-28
                      - warehouse_id: 3510470452
                        warehouse_no: WH346
                        name: 郑艳
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-28
                      - warehouse_id: 3510470451
                        warehouse_no: WH345
                        name: 梁桂英2024-03-28 12:29:19edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-28
                      - warehouse_id: 3510405751
                        warehouse_no: WH343
                        name: 龚艳
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-28
                      - warehouse_id: 3510405750
                        warehouse_no: WH342
                        name: 田娟
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-28
                      - warehouse_id: 3510405700
                        warehouse_no: WH340
                        name: 江芳
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-28
                      - warehouse_id: 3510405477
                        warehouse_no: WH339
                        name: 谢明
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-28
                      - warehouse_id: 3510405402
                        warehouse_no: WH338
                        name: 方娟2024-03-28 11:55:07edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-28
                      - warehouse_id: 3503110008
                        warehouse_no: WH336
                        name: 周静
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-20
                      - warehouse_id: 3503109985
                        warehouse_no: WH335
                        name: 孔超
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-20
                      - warehouse_id: 3503109811
                        warehouse_no: WH333
                        name: 邹静
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-20
                      - warehouse_id: 3503109512
                        warehouse_no: WH332
                        name: 锺敏
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-20
                      - warehouse_id: 3503109511
                        warehouse_no: WH331
                        name: 崔秀英2024-03-20 10:14:13edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-20
                      - warehouse_id: 3499301843
                        warehouse_no: WH329
                        name: 马秀兰
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-19
                      - warehouse_id: 3499301842
                        warehouse_no: WH328
                        name: 梁娜
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-19
                      - warehouse_id: 3499301840
                        warehouse_no: WH326
                        name: 于静2024-03-19 10:12:56edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-19
                      - warehouse_id: 3499301841
                        warehouse_no: WH327
                        name: 郭艳
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-19
                      - warehouse_id: 3498441901
                        warehouse_no: WH324
                        name: 董磊
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-18
                      - warehouse_id: 3498441900
                        warehouse_no: WH323
                        name: 郑丽
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-18
                      - warehouse_id: 3498441898
                        warehouse_no: WH321
                        name: 马强
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-18
                      - warehouse_id: 3498441897
                        warehouse_no: WH320
                        name: 贺强
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-18
                      - warehouse_id: 3498441896
                        warehouse_no: WH319
                        name: 任勇2024-03-18 09:57:49edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-18
                      - warehouse_id: 3496312948
                        warehouse_no: WH318
                        name: 黎磊
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-14
                      - warehouse_id: 3496312947
                        warehouse_no: WH317
                        name: 顾敏
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-14
                      - warehouse_id: 3496312946
                        warehouse_no: WH316
                        name: 万军
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-14
                      - warehouse_id: 3496312945
                        warehouse_no: WH315
                        name: 董桂英
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-14
                      - warehouse_id: 3496312944
                        warehouse_no: WH314
                        name: 尹娜
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-14
                      - warehouse_id: 3496312943
                        warehouse_no: WH313
                        name: 易秀兰
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-14
                      - warehouse_id: 3496312942
                        warehouse_no: WH312
                        name: 夏霞2024-03-14 10:43:50edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-14
                      - warehouse_id: 3495869726
                        warehouse_no: WH311
                        name: 白涛
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-13
                      - warehouse_id: 3493556084
                        warehouse_no: WH310
                        name: 阎超
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-12
                      - warehouse_id: 3493556083
                        warehouse_no: WH309
                        name: 谭秀兰
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-12
                      - warehouse_id: 3493556082
                        warehouse_no: WH308
                        name: 毛秀兰
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-12
                      - warehouse_id: 3493556081
                        warehouse_no: WH307
                        name: 吴涛
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-12
                      - warehouse_id: 3493556080
                        warehouse_no: WH306
                        name: 萧涛
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-12
                      - warehouse_id: 3493556079
                        warehouse_no: WH305
                        name: 蔡秀英
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-12
                      - warehouse_id: 3493556078
                        warehouse_no: WH304
                        name: 蔡秀兰2024-03-12 10:28:31edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-12
                      - warehouse_id: 3493541465
                        warehouse_no: WH303
                        name: 于秀兰
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-12
                      - warehouse_id: 3493541285
                        warehouse_no: WH302
                        name: 汪超
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-12
                      - warehouse_id: 3493540961
                        warehouse_no: WH301
                        name: 杨超
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-12
                      - warehouse_id: 3493540960
                        warehouse_no: WH300
                        name: 姜静
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-12
                      - warehouse_id: 3493540959
                        warehouse_no: WH299
                        name: 胡军
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-12
                      - warehouse_id: 3493540958
                        warehouse_no: WH298
                        name: 余洋
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-12
                      - warehouse_id: 3493540957
                        warehouse_no: WH297
                        name: 崔敏
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-12
                      - warehouse_id: 3493540955
                        warehouse_no: WH295
                        name: 萧敏2024-03-12 10:25:02edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-12
                      - warehouse_id: 3493540956
                        warehouse_no: WH296
                        name: 方刚
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-12
                      - warehouse_id: 3493499598
                        warehouse_no: WH294
                        name: 袁超
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-11
                      - warehouse_id: 3493499596
                        warehouse_no: WH293
                        name: 李超
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-11
                      - warehouse_id: 3493499595
                        warehouse_no: WH292
                        name: 方明
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-11
                      - warehouse_id: 3493499594
                        warehouse_no: WH291
                        name: 龙伟
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-11
                      - warehouse_id: 3493499593
                        warehouse_no: WH290
                        name: 秦明
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-11
                      - warehouse_id: 3493499589
                        warehouse_no: WH288
                        name: 宋超2024-03-11 17:12:25edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-11
                      - warehouse_id: 3493499590
                        warehouse_no: WH289
                        name: 郭军
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-11
                      - warehouse_id: 3493115534
                        warehouse_no: WH287
                        name: 余敏
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-11
                      - warehouse_id: 3493115533
                        warehouse_no: WH286
                        name: 董娜
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-11
                      - warehouse_id: 3493115532
                        warehouse_no: WH285
                        name: 邱秀英
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-11
                      - warehouse_id: 3493115531
                        warehouse_no: WH284
                        name: 康磊
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-11
                      - warehouse_id: 3493115524
                        warehouse_no: WH283
                        name: 夏超
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-11
                      - warehouse_id: 3493115523
                        warehouse_no: WH282
                        name: 邵静2024-03-11 10:26:00edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-03-11
                      - warehouse_id: 3492968410
                        warehouse_no: WH281
                        name: 非默认仓库
                        status: 1
                        default_flag: 2
                        manager: ''
                        contact: ''
                        address: ''
                        remark: ''
                      - warehouse_id: 3492968402
                        warehouse_no: WH280
                        name: 测试一下
                        status: 1
                        default_flag: 2
                        manager: ''
                        contact: ''
                        address: ''
                        remark: ''
                      - warehouse_id: 3486184477
                        warehouse_no: WH278
                        name: 无权限啥意思
                        status: 1
                        default_flag: 2
                        manager: ''
                        contact: ''
                        address: ''
                        remark: ''
                      - warehouse_id: 3486184384
                        warehouse_no: WH277
                        name: 新增仓库
                        status: 1
                        default_flag: 2
                        manager: ''
                        contact: ''
                        address: ''
                        remark: ''
                      - warehouse_id: 3485895990
                        warehouse_no: WH275
                        name: 杜霞2024-02-29 09:36:17edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-29
                      - warehouse_id: 3485895989
                        warehouse_no: WH274
                        name: 李敏
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-29
                      - warehouse_id: 3485895987
                        warehouse_no: WH272
                        name: 邓秀英2024-02-29 09:36:11
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-29
                      - warehouse_id: 3485895986
                        warehouse_no: WH271
                        name: 黎强
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-29
                      - warehouse_id: 3485895985
                        warehouse_no: WH270
                        name: 赵秀兰2024-02-29 09:36:03
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-29
                      - warehouse_id: 3485000677
                        warehouse_no: WH268
                        name: 阎超2024-02-28 09:32:09edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-28
                      - warehouse_id: 3485000674
                        warehouse_no: WH267
                        name: 姜平
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-28
                      - warehouse_id: 3485000668
                        warehouse_no: WH265
                        name: 罗强2024-02-28 09:32:04
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-28
                      - warehouse_id: 3485000661
                        warehouse_no: WH264
                        name: 文秀英
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-28
                      - warehouse_id: 3485000659
                        warehouse_no: WH263
                        name: 白平2024-02-28 09:31:56
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-28
                      - warehouse_id: 3484740751
                        warehouse_no: WH261
                        name: 曾超2024-02-27 09:56:06edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-27
                      - warehouse_id: 3484740750
                        warehouse_no: WH260
                        name: 卢洋
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-27
                      - warehouse_id: 3484740602
                        warehouse_no: WH258
                        name: 许强2024-02-27 09:56:02
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-27
                      - warehouse_id: 3484740445
                        warehouse_no: WH256
                        name: 唐秀兰2024-02-27 09:55:57
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-27
                      - warehouse_id: 3484740446
                        warehouse_no: WH257
                        name: 萧艳
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-27
                      - warehouse_id: 3483803110
                        warehouse_no: WH254
                        name: 邵桂英2024-02-23 10:35:15edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-23
                      - warehouse_id: 3483803109
                        warehouse_no: WH253
                        name: 汪敏
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-23
                      - warehouse_id: 3483803107
                        warehouse_no: WH251
                        name: 许军2024-02-23 10:35:11
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-23
                      - warehouse_id: 3483803106
                        warehouse_no: WH250
                        name: 郭秀英
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-23
                      - warehouse_id: 3483803105
                        warehouse_no: WH249
                        name: 龚超2024-02-23 10:35:07
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-23
                      - warehouse_id: 3483735374
                        warehouse_no: WH247
                        name: 余刚2024-02-22 14:43:38edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-22
                      - warehouse_id: 3483735371
                        warehouse_no: WH246
                        name: 夏勇
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-22
                      - warehouse_id: 3483735358
                        warehouse_no: WH244
                        name: 丁桂英2024-02-22 14:43:33
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-22
                      - warehouse_id: 3483735342
                        warehouse_no: WH242
                        name: 马娟2024-02-22 14:43:25
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-22
                      - warehouse_id: 3483735343
                        warehouse_no: WH243
                        name: 谭伟
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-22
                      - warehouse_id: 3483724430
                        warehouse_no: WH240
                        name: 周敏2024-02-22 10:42:16edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-22
                      - warehouse_id: 3483724429
                        warehouse_no: WH239
                        name: 谢超
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-22
                      - warehouse_id: 3483724427
                        warehouse_no: WH237
                        name: 陈秀英2024-02-22 10:42:12
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-22
                      - warehouse_id: 3483724425
                        warehouse_no: WH236
                        name: 康静
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-22
                      - warehouse_id: 3483724424
                        warehouse_no: WH235
                        name: 乔芳2024-02-22 10:42:08
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-22
                      - warehouse_id: 3483723578
                        warehouse_no: WH233
                        name: 杨秀英2024-02-22 10:23:02edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-22
                      - warehouse_id: 3483723577
                        warehouse_no: WH232
                        name: 赵丽
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-22
                      - warehouse_id: 3483723575
                        warehouse_no: WH230
                        name: 孙勇2024-02-22 10:22:58
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-22
                      - warehouse_id: 3483723574
                        warehouse_no: WH229
                        name: 梁娟
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-22
                      - warehouse_id: 3483723573
                        warehouse_no: WH228
                        name: 吴杰2024-02-22 10:22:54
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-22
                      - warehouse_id: 3483649002
                        warehouse_no: WH226
                        name: 尹军2024-02-21 09:45:18edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-21
                      - warehouse_id: 3483649001
                        warehouse_no: WH225
                        name: 武杰
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-21
                      - warehouse_id: 3483648998
                        warehouse_no: WH223
                        name: 江磊2024-02-21 09:45:15
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-21
                      - warehouse_id: 3483648997
                        warehouse_no: WH222
                        name: 杜洋
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-21
                      - warehouse_id: 3483648996
                        warehouse_no: WH221
                        name: 高涛2024-02-21 09:45:10
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-21
                      - warehouse_id: 3483182188
                        warehouse_no: WH219
                        name: 沈艳2024-02-20 09:39:47edit
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-20
                      - warehouse_id: 3483182187
                        warehouse_no: WH218
                        name: 汤磊
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-20
                      - warehouse_id: 3483182185
                        warehouse_no: WH216
                        name: 顾杰2024-02-20 09:39:43
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-20
                      - warehouse_id: 3483182183
                        warehouse_no: WH214
                        name: 谭军2024-02-20 09:39:39
                        status: 1
                        default_flag: 2
                        manager: apifox
                        contact: ''
                        address: 南山区
                        remark: 仓库备注+2024-02-20
[...]
