{
  "openapi": "3.0.1",
  "info": {
    "title": "Xiaoman OpenAPI (unofficial)",
    "version": "2026-05-09",
    "description": "Unofficial machine-readable OpenAPI bundle generated from public Xiaoman Open API documentation."
  },
  "servers": [
    {
      "url": "https://api-sandbox.xiaoman.cn",
      "description": "official documented server"
    }
  ],
  "tags": [
    {
      "name": "统计分析",
      "x-module-slug": "analytics"
    },
    {
      "name": "授权登录",
      "x-module-slug": "auth"
    },
    {
      "name": "资金",
      "x-module-slug": "capital-account"
    },
    {
      "name": "客户",
      "x-module-slug": "company"
    },
    {
      "name": "费用单",
      "x-module-slug": "cost-invoice"
    },
    {
      "name": "devops相关",
      "x-module-slug": "devops"
    },
    {
      "name": "示例接口（勿用）",
      "x-module-slug": "example-do-not-use"
    },
    {
      "name": "线索",
      "x-module-slug": "lead"
    },
    {
      "name": "商机",
      "x-module-slug": "opportunity"
    },
    {
      "name": "付款单",
      "x-module-slug": "payment"
    },
    {
      "name": "产品",
      "x-module-slug": "product"
    },
    {
      "name": "采购入库单",
      "x-module-slug": "purchase-inbound"
    },
    {
      "name": "采购订单",
      "x-module-slug": "purchase-order"
    },
    {
      "name": "采购退货单",
      "x-module-slug": "purchase-return"
    },
    {
      "name": "报价单",
      "x-module-slug": "quotation"
    },
    {
      "name": "回款单",
      "x-module-slug": "receipt"
    },
    {
      "name": "回款登记",
      "x-module-slug": "receipt-registration"
    },
    {
      "name": "销售订单",
      "x-module-slug": "sales-order"
    },
    {
      "name": "销售出库单",
      "x-module-slug": "sales-outbound"
    },
    {
      "name": "供应商",
      "x-module-slug": "supplier"
    },
    {
      "name": "用户",
      "x-module-slug": "user"
    },
    {
      "name": "库存",
      "x-module-slug": "warehouse"
    },
    {
      "name": "消息推送",
      "x-module-slug": "webhook"
    },
    {
      "name": "WhatsApp",
      "x-module-slug": "whatsapp"
    }
  ],
  "paths": {
    "/v1/oauth2/access_token": {
      "post": {
        "summary": "鉴权接口",
        "deprecated": false,
        "description": "当使用client_credentials时可以参考下面传入，这种情况下不会有刷新token，可以在过期前重新再次请求一下即可，这种格式下请在请求body中写入如下JSON数据\n{\n    \"grant_type\":\"client_credentials\",\n    \"client_id\": \"xxx\",\n    \"client_secret\": \"xxxx\",\n    \"scope\": \"invoices purchaseOrder\"\n}\n\n注意：\n1、不管是password 还是 client_credentials 返回的token都有有效期，一般为8小时，期间8小时内重新获取不会刷新token有效时间，区别于走client_credentials没有expires_in，refresh_token返回。\n2、其中参数scope理解为我们每个模块都有一个scope值，申请token时带入，比如客户模块为company，若只需要对接客户的模块的话，只需要在scope参数填入company即可，这时token只能访问客户模块的API，其他模块API不允许访问，否则会提示无权限比如no permission invoices scopes；但是若有其他模块需要，则需要在scope中增加对应模块的scope，比如订单和客户模块scope=company invoices 中间以空格隔开。每个模块的scope可以在下面参数说明中查到，也可以到模块下首个页面获得。",
        "tags": [
          "授权登录"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "description": "授权模式 password 或 client_credentials",
                    "example": "password",
                    "type": "string"
                  },
                  "client_id": {
                    "description": "登录主账号：OKKI CRM → 进入企业管理 → 外部对接 → API对接获取client_id",
                    "example": "efc1126d6",
                    "type": "string"
                  },
                  "client_secret": {
                    "description": "登录主账号：OKKI CRM → 进入企业管理 → 外部对接 → API对接获取client_secret",
                    "example": "dcc2228f1",
                    "type": "string"
                  },
                  "username": {
                    "description": "小满的登录邮箱，当client_credentials时不用传",
                    "example": "xxx@xiaoman.cn",
                    "type": "string"
                  },
                  "password": {
                    "description": "密码需要使用SHA 256加密，当client_credentials是不用传",
                    "example": "password",
                    "type": "string"
                  },
                  "scope": {
                    "description": "授权访问的业务API列表，中间加半角空格分割，目前开放 product(产品) company(公司客户) lead(线索) opportunity(商机) invoices(订单、报价单、回款单) user(用户列表) costInvoice(费用单) paymentInvoice(付款单) purchaseOrder(采购订单) warehouse(库存) capitalAccount(资金账户) 等业务模块 ",
                    "example": "company product  invoices ",
                    "type": "string"
                  }
                },
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret",
                  "scope"
                ]
              },
              "examples": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token_type": {
                      "type": "string",
                      "description": "Bearer"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "有效时间 默认值：28800"
                    },
                    "access_token": {
                      "type": "string",
                      "description": "令牌Token"
                    },
                    "refresh_token": {
                      "type": "string",
                      "description": "刷新令牌"
                    }
                  },
                  "required": [
                    "token_type",
                    "expires_in",
                    "access_token",
                    "refresh_token"
                  ],
                  "x-apifox-orders": [
                    "token_type",
                    "expires_in",
                    "access_token",
                    "refresh_token"
                  ]
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          }
        },
        "security": [],
        "x-apifox-folder": "授权登录",
        "x-apifox-status": "released",
        "operationId": "post_v1_oauth2_access_token",
        "x-local-source-path": "sources/pages/api-3473041.md",
        "x-source-id": "api-3473041",
        "x-source-title": "鉴权接口",
        "x-source-module": "授权登录"
      }
    },
    "/v1/oauth2/refresh_token": {
      "post": {
        "summary": "刷新令牌接口",
        "deprecated": false,
        "description": "",
        "tags": [
          "授权登录"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "description": "授权模式，默认值: refresh_token",
                    "example": "refresh_token",
                    "type": "string"
                  },
                  "refresh_token": {
                    "description": "刷新令牌，从鉴权接口中获取到的refresh_token",
                    "example": "",
                    "type": "string"
                  },
                  "client_id": {
                    "description": "客户端身份标识（平台发放）",
                    "example": "",
                    "type": "string"
                  },
                  "client_secret": {
                    "description": "客户端密钥（平台发放）",
                    "example": "",
                    "type": "string"
                  }
                },
                "required": [
                  "grant_type",
                  "refresh_token",
                  "client_id",
                  "client_secret"
                ]
              },
              "examples": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token_type": {
                      "type": "string",
                      "description": "token类型，一般都是Bearer"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "token的有效时间，单位是秒，例如首次申请的token有效时间是28800=8小时"
                    },
                    "access_token": {
                      "type": "string",
                      "description": "访问令牌，访问数据API接口用"
                    },
                    "refresh_token": {
                      "type": "string",
                      "description": "刷新令牌，用来刷新申请新的access_token"
                    }
                  },
                  "required": [
                    "token_type",
                    "expires_in",
                    "access_token",
                    "refresh_token"
                  ],
                  "x-apifox-orders": [
                    "token_type",
                    "expires_in",
                    "access_token",
                    "refresh_token"
                  ]
                },
                "example": {
                  "token_type": "Bearer",
                  "expires_in": 28800,
                  "access_token": "REDACTED_JWT",
                  "refresh_token": "def50200f526794f844c41561de7b1ecb0aea2ba635539fbee51928e1b10b831d6fe7d53acfeceec8447f22fc1c485185f3026defe8983dc040e0a3c48aaa8e8beea1262ac7f40a431c7bd5acecac577d40dfb0be083422602a6a66787ccb2d2ce66e491dd95fe7594ac54dec54b6fde01538b96e352d0ad01470a9e6c2dd949101c7e7ed78504e9b47954438f47363cf19c8c4068c54c905ff4cc6327742aa535f3a30366d4ef95abd74df9a064fba542b79da31685c14287ec22c59088f18b03a362acb556066139264868e3be048f35c918fd71ddb896750dd6b700ed40b999182ddcf3b05394d9fd8ab4b7bea5569ba75b265fddb16c0d5c1fbe413a3c967ade57c84ac78fc277be5a61297a7d3ac3264b2214d76aad42558b1792aecdbea54aa3b0ea8a62c1afb3ceaa556006eaa9e6b940d4fe0e9024f4073e610e0a897c03c175b195dae704f2dac41b417cac8b5a503c907b3be933d28c563b05dff9d7d32a3d8e1af0e7c49ee180cb2816ebe35955f9fd18322ddd4bb6b6ff71adf51ebe128d1301cb081d6b60757569df1025c8b77172eb5d804c815202a73a46ec7573c9153bf5ed998dca9d08a1b9b21d5e94c3f519d56dbf1afdd7aad4353be946"
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "error_description",
                    "message"
                  ],
                  "x-apifox-orders": [
                    "error",
                    "error_description",
                    "message"
                  ]
                },
                "example": {
                  "error": "invalid_client",
                  "error_description": "Client authentication failed",
                  "message": "Client authentication failed"
                }
              }
            },
            "headers": {},
            "x-apifox-name": "无效密钥"
          },
          "x-400:刷新令牌无效": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "error_description": {
                      "type": "string"
                    },
                    "hint": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error",
                    "error_description",
                    "hint",
                    "message"
                  ],
                  "x-apifox-orders": [
                    "error",
                    "error_description",
                    "hint",
                    "message"
                  ]
                },
                "example": {
                  "error": "invalid_request",
                  "error_description": "The refresh token is invalid.",
                  "hint": "Token has been revoked",
                  "message": "The refresh token is invalid."
                }
              }
            },
            "headers": {},
            "x-apifox-name": "刷新令牌无效"
          }
        },
        "security": [],
        "x-apifox-folder": "授权登录",
        "x-apifox-status": "released",
        "operationId": "post_v1_oauth2_refresh_token",
        "x-local-source-path": "sources/pages/api-3483803.md",
        "x-source-id": "api-3483803",
        "x-source-title": "刷新令牌接口",
        "x-source-module": "授权登录"
      }
    },
    "/v1/company/list": {
      "get": {
        "summary": "客户列表",
        "deprecated": false,
        "description": "",
        "tags": [
          "客户",
          "s7.1"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "每页数量",
            "required": false,
            "example": 20,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "页码",
            "required": false,
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "removed",
            "in": "query",
            "description": "默认值:0，设置=1时查询已删除的数据列表",
            "required": false,
            "example": "0",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "all",
            "in": "query",
            "description": "默认值:1，设置=1查询所有客户，设置=0只查询私海客户，设置=2查询公海客户",
            "required": false,
            "example": "1",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "设置客户分组ID后，只查询对应分组的客户 \n传入值来自/v1/company/fields/selector?field=group_id返回值data中的id",
            "required": false,
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "开始时间，YYYY-MM-DD",
            "required": false,
            "example": "2022-09-21 21:50:00",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "结束时间，YYYY-MM-DD",
            "required": false,
            "example": "2022-09-23 21:50:00",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "time_type",
            "in": "query",
            "description": "控制start_time，end_time查询什么时间字段，默认值=1，1 更新时间 , 2 创建时间, 3 建档时间",
            "required": false,
            "example": "1",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "从/v1/oauth2/access_token获取到的access_token",
            "required": true,
            "example": "{{access_token}}",
            "schema": {
              "type": "string",
              "default": "{{access_token}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "now": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "company_id": {
                                "type": "integer",
                                "description": "客户ID"
                              },
                              "user_id": {
                                "type": "string",
                                "description": "跟进人ID"
                              },
                              "name": {
                                "type": "string",
                                "description": "客户名称"
                              },
                              "short_name": {
                                "type": "string",
                                "description": "客户简称"
                              },
                              "serial_id": {
                                "type": "string",
                                "description": "客户编号"
                              },
                              "order_time": {
                                "type": "string",
                                "description": "最近联系时间"
                              },
                              "create_time": {
                                "type": "string",
                                "description": "创建时间"
                              },
                              "update_time": {
                                "type": "string",
                                "description": "更新时间"
                              },
                              "create_user": {
                                "type": "integer",
                                "description": "创建人"
                              },
                              "last_edit_user": {
                                "type": "integer",
                                "description": "最后更新人"
                              },
                              "archive_type": {
                                "type": "integer",
                                "description": "建档类型 1:手动创建 2:自动化创建 3:自动化建档建议 4:客户通同步 6:文件导入 7:名片夹创建"
                              },
                              "edit_time": {
                                "type": "string",
                                "description": "编辑时间"
                              }
                            },
                            "required": [
                              "company_id",
                              "user_id",
                              "name",
                              "short_name",
                              "serial_id",
                              "order_time",
                              "create_time",
                              "update_time",
                              "create_user",
                              "last_edit_user",
                              "archive_type",
                              "edit_time"
                            ],
                            "x-apifox-orders": [
                              "company_id",
                              "user_id",
                              "name",
                              "short_name",
                              "serial_id",
                              "order_time",
                              "create_time",
                              "update_time",
                              "create_user",
                              "last_edit_user",
                              "archive_type",
                              "edit_time"
                            ]
                          }
                        },
                        "totalItem": {
                          "type": "integer"
                        },
                        "count": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "list",
                        "totalItem",
                        "count"
                      ],
                      "x-apifox-orders": [
                        "list",
                        "totalItem",
                        "count"
                      ]
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "now",
                    "data"
                  ],
                  "x-apifox-orders": [
                    "code",
                    "message",
                    "now",
                    "data"
                  ]
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          },
          "x-200:请求成功": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    }
                  },
                  "x-apifox-orders": [
                    "code",
                    "msg"
                  ]
                },
                "example": {
                  "msg": "success",
                  "code": 0
                }
              }
            },
            "headers": {},
            "x-apifox-name": "请求成功"
          }
        },
        "security": [],
        "x-apifox-folder": "客户",
        "x-apifox-status": "released",
        "operationId": "get_v1_company_list",
        "x-local-source-path": "sources/pages/api-3480070.md",
        "x-source-id": "api-3480070",
        "x-source-title": "客户列表",
        "x-source-module": "客户"
      }
    },
    "/v1/dynamic/trail/list": {
      "get": {
        "summary": "跟进动态查询接口",
        "deprecated": false,
        "description": "",
        "tags": [
          "客户",
          "s7.1"
        ],
        "parameters": [
          {
            "name": "company_id",
            "in": "query",
            "description": "客户ID",
            "required": false,
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "lead_id",
            "in": "query",
            "description": "线索ID",
            "required": false,
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "opportunity_id",
            "in": "query",
            "description": "商机ID",
            "required": false,
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "开始时间",
            "required": false,
            "example": "2022-09-21 21:50:00",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "结束时间",
            "required": false,
            "example": "2022-09-23 21:50:00",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "每页数量",
            "required": false,
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_index",
            "in": "query",
            "description": "页码",
            "required": false,
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "从/v1/oauth2/access_token获取到的access_token",
            "required": true,
            "example": "{{access_token}}",
            "schema": {
              "type": "string",
              "default": "{{access_token}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "now": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "follow_up_id": {
                                "type": "integer",
                                "title": "跟进ID"
                              },
                              "trail_id": {
                                "type": "integer",
                                "title": "动态ID"
                              },
                              "type": {
                                "type": "integer",
                                "title": "跟进类型"
                              },
                              "client_id": {
                                "type": "integer",
                                "title": "企业id"
                              },
                              "create_user": {
                                "type": "integer",
                                "title": "创建人"
                              },
                              "refer_id": {
                                "type": "integer",
                                "title": "关联对象ID"
                              },
                              "content": {
                                "type": "string",
                                "title": "记录内容"
                              },
                              "file_ids": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "title": "附件ids"
                              },
                              "enable_flag": {
                                "type": "integer"
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "create_time": {
                                "type": "string",
                                "title": "创建时间"
                              },
                              "update_time": {
                                "type": "string",
                                "title": "更新时间"
                              },
                              "company_id": {
                                "type": "integer",
                                "title": "客户id"
                              },
                              "customer_id": {
                                "type": "array",
                                "items": {
                                  "type": "integer"
                                },
                                "title": "联系人id"
                              },
                              "lead_id": {
                                "type": "integer",
                                "title": "线索id"
                              },
                              "lead_customer_id": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "title": "线索联系人id"
                              },
                              "opportunity_id": {
                                "type": "integer",
                                "title": "商机id"
                              },
                              "delete_flag": {
                                "type": "integer",
                                "title": "是否被删除"
                              },
                              "inquiry_id": {
                                "type": "integer",
                                "title": "询盘id"
                              },
                              "track_session_no": {
                                "type": "integer"
                              },
                              "comment_count": {
                                "type": "integer",
                                "title": "评论数量"
                              },
                              "company_info": {
                                "type": "object",
                                "properties": {
                                  "company_id": {
                                    "type": "integer",
                                    "title": "客户id"
                                  },
                                  "name": {
                                    "type": "string",
                                    "title": "客户名称"
                                  },
                                  "is_archive": {
                                    "type": "integer",
                                    "title": "客户状态。0为被删除"
                                  }
                                },
                                "required": [
                                  "company_id",
                                  "name",
                                  "is_archive"
                                ],
                                "x-apifox-orders": [
                                  "company_id",
                                  "name",
                                  "is_archive"
                                ],
                                "title": "客户信息"
                              },
                              "lead_info": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "title": "线索信息"
                              },
                              "opportunity_info": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "properties": {
                                  "opportunity_id": {
                                    "type": "integer"
                                  },
                                  "name": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "opportunity_id",
                                  "name"
                                ],
                                "title": "商机信息"
                              },
                              "create_user_info": {
                                "type": "object",
                                "properties": {
                                  "user_id": {
                                    "type": "string",
                                    "title": "用户id"
                                  },
                                  "nickname": {
                                    "type": "string",
                                    "title": "昵称"
                                  },
                                  "avatar": {
                                    "type": "string",
                                    "title": "头像"
                                  }
                                },
                                "required": [
                                  "user_id",
                                  "nickname",
                                  "avatar"
                                ],
                                "x-apifox-orders": [
                                  "user_id",
                                  "nickname",
                                  "avatar"
                                ],
                                "title": "创建人信息"
                              },
                              "customer_info": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "customer_id": {
                                      "type": "integer",
                                      "title": "联系人id"
                                    },
                                    "name": {
                                      "type": "string",
                                      "title": "联系人名称"
                                    },
                                    "email": {
                                      "type": "string",
                                      "title": "邮箱"
                                    },
                                    "tel_list": {
                                      "type": "array",
                                      "items": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      },
                                      "title": "电话"
                                    },
                                    "contact": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "title": "社交平台类型"
                                          },
                                          "value": {
                                            "type": "string",
                                            "title": "社交平台账号"
                                          }
                                        },
                                        "x-apifox-orders": [
                                          "type",
                                          "value"
                                        ]
                                      },
                                      "title": "社交平台"
                                    }
                                  },
                                  "required": [
                                    "customer_id",
                                    "name",
                                    "email",
                                    "tel_list",
                                    "contact"
                                  ],
                                  "x-apifox-orders": [
                                    "customer_id",
                                    "name",
                                    "email",
                                    "tel_list",
                                    "contact"
                                  ]
                                },
                                "title": "联系人信息"
                              },
                              "lead_customer_info": {
                                "type": "null",
                                "title": "线索联系人信息"
                              },
                              "file_info": {
                                "type": "null",
                                "title": "附件"
                              }
                            },
                            "required": [
                              "follow_up_id",
                              "trail_id",
                              "type",
                              "client_id",
                              "create_user",
                              "refer_id",
                              "content",
                              "file_ids",
                              "enable_flag",
                              "created_at",
                              "create_time",
                              "update_time",
                              "company_id",
                              "customer_id",
                              "lead_id",
                              "lead_customer_id",
                              "opportunity_id",
                              "delete_flag",
                              "inquiry_id",
                              "track_session_no",
                              "comment_count",
                              "company_info",
                              "lead_info",
                              "opportunity_info",
                              "create_user_info",
                              "customer_info",
                              "lead_customer_info",
                              "file_info"
                            ],
                            "x-apifox-orders": [
                              "follow_up_id",
                              "trail_id",
                              "type",
                              "client_id",
                              "create_user",
                              "refer_id",
                              "content",
                              "file_ids",
                              "enable_flag",
                              "created_at",
                              "create_time",
                              "update_time",
                              "company_id",
                              "customer_id",
                              "lead_id",
                              "lead_customer_id",
                              "opportunity_id",
                              "delete_flag",
                              "inquiry_id",
                              "track_session_no",
                              "comment_count",
                              "company_info",
                              "lead_info",
                              "opportunity_info",
                              "create_user_info",
                              "customer_info",
                              "lead_customer_info",
                              "file_info"
                            ]
                          }
                        },
                        "totalItem": {
                          "type": "integer",
                          "title": "总数"
                        }
                      },
                      "required": [
                        "list",
                        "totalItem"
                      ],
                      "x-apifox-orders": [
                        "list",
                        "totalItem"
                      ]
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "now",
                    "data"
                  ],
                  "x-apifox-orders": [
                    "code",
                    "message",
                    "now",
                    "data"
                  ]
                },
                "example": {
                  "code": 200,
                  "message": "success",
                  "now": "2024-11-04 10:49:07",
                  "data": {
                    "list": [
                      {
                        "follow_up_id": 25646265871661,
                        "trail_id": 25646265871658,
                        "type": 101,
                        "client_id": 23412,
                        "create_user": 55938259,
                        "refer_id": 25646265871661,
                        "content": "跟进",
                        "file_ids": [],
                        "enable_flag": 1,
                        "created_at": "2024-08-20 10:48:42",
                        "create_time": "2024-08-20 10:48:42",
                        "update_time": "2024-08-20 10:48:42",
                        "company_id": 16696797769,
                        "customer_id": [
                          4415640999551
                        ],
                        "lead_id": 0,
                        "lead_customer_id": [],
                        "opportunity_id": 0,
                        "delete_flag": 0,
                        "inquiry_id": 0,
                        "track_session_no": 0,
                        "comment_count": 0,
                        "company_info": {
                          "company_id": 16696797769,
                          "name": "小满的客户021",
                          "is_archive": 1
                        },
                        "lead_info": [],
                        "opportunity_info": [],
                        "create_user_info": {
                          "user_id": "55938259",
                          "nickname": "CXK",
                          "avatar": ""
                        },
                        "customer_info": [
                          {
                            "customer_id": 4415640999551,
                            "name": "满021",
                            "email": "xiaoman@mantest.com",
                            "tel_list": [],
                            "contact": []
                          }
                        ],
                        "lead_customer_info": null,
                        "file_info": null
                      },
                      {
                        "follow_up_id": 25197419337294,
                        "trail_id": 25197419337290,
                        "type": 101,
                        "client_id": 23412,
                        "create_user": 55938259,
                        "refer_id": 25197419337294,
                        "content": "快速记录一个动态",
                        "file_ids": [],
                        "enable_flag": 1,
                        "created_at": "2024-08-12 17:10:07",
                        "create_time": "2024-08-12 17:10:07",
                        "update_time": "2024-08-12 17:10:07",
                        "company_id": 16696797769,
                        "customer_id": [],
                        "lead_id": 0,
                        "lead_customer_id": [],
                        "opportunity_id": 23273099298949,
                        "delete_flag": 0,
                        "inquiry_id": 0,
                        "track_session_no": 0,
                        "comment_count": 0,
                        "company_info": {
                          "company_id": 16696797769,
                          "name": "小满的客户021",
                          "is_archive": 1
                        },
                        "lead_info": [],
                        "opportunity_info": {
                          "opportunity_id": 23273099298949,
                          "name": "小满的客户02120240708比利时"
                        },
                        "create_user_info": {
                          "user_id": "55938259",
                          "nickname": "CXK",
                          "avatar": ""
                        },
                        "customer_info": null,
                        "lead_customer_info": null,
                        "file_info": null
                      },
                      {
                        "follow_up_id": 10452468112776,
                        "trail_id": 10452468112775,
                        "type": 101,
                        "client_id": 23412,
                        "create_user": 55281444,
                        "refer_id": 10452468112776,
                        "content": "发给h",
                        "file_ids": [],
                        "enable_flag": 1,
                        "created_at": "2023-08-31 15:00:31",
                        "create_time": "2023-08-31 15:00:27",
                        "update_time": "2023-08-31 15:00:31",
                        "company_id": 16696797769,
                        "customer_id": [],
                        "lead_id": 0,
                        "lead_customer_id": [],
                        "opportunity_id": 0,
                        "delete_flag": 0,
                        "inquiry_id": 0,
                        "track_session_no": 0,
                        "comment_count": 0,
                        "company_info": {
                          "company_id": 16696797769,
                          "name": "小满的客户021",
                          "is_archive": 1
                        },
                        "lead_info": [],
                        "opportunity_info": [],
                        "create_user_info": {
                          "user_id": "55281444",
                          "nickname": "张三",
                          "avatar": ""
                        },
                        "customer_info": null,
                        "lead_customer_info": null,
                        "file_info": null
                      },
                      {
                        "follow_up_id": 8390479839359,
                        "trail_id": 8390479839358,
                        "type": 102,
                        "client_id": 23412,
                        "create_user": 55281444,
                        "refer_id": 8390479839359,
                        "content": "",
                        "file_ids": [],
                        "enable_flag": 1,
                        "created_at": "2023-06-25 15:47:32",
                        "create_time": "2023-06-19 15:14:41",
                        "update_time": "2023-06-25 15:47:32",
                        "company_id": 16696797769,
                        "customer_id": [],
                        "lead_id": 0,
                        "lead_customer_id": [],
                        "opportunity_id": 1418441883793,
                        "delete_flag": 0,
                        "inquiry_id": 0,
                        "track_session_no": 0,
                        "comment_count": 0,
                        "company_info": {
                          "company_id": 16696797769,
                          "name": "小满的客户021",
                          "is_archive": 1
                        },
                        "lead_info": [],
                        "opportunity_info": {
                          "opportunity_id": 1418441883793,
                          "name": "zz测试商机"
                        },
                        "create_user_info": {
                          "user_id": "55281444",
                          "nickname": "张三",
                          "avatar": ""
                        },
                        "customer_info": null,
                        "lead_customer_info": null,
                        "file_info": null
                      },
                      {
                        "follow_up_id": 5379694081532,
                        "trail_id": 5379694081528,
                        "type": 101,
                        "client_id": 23412,
                        "create_user": 55281444,
                        "refer_id": 5379694081532,
                        "content": "本次跟进原因：XXX\n主要沟通内容：XXX\n其他：XX",
                        "file_ids": [],
                        "enable_flag": 1,
                        "created_at": "2023-01-17 14:46:07",
                        "create_time": "2023-01-17 14:46:07",
                        "update_time": "2023-01-17 14:46:07",
                        "company_id": 16696797769,
                        "customer_id": [
                          4415640999551
                        ],
                        "lead_id": 0,
                        "lead_customer_id": [],
                        "opportunity_id": 0,
                        "delete_flag": 0,
                        "inquiry_id": 0,
                        "track_session_no": 0,
                        "comment_count": 0,
                        "company_info": {
                          "company_id": 16696797769,
                          "name": "小满的客户021",
                          "is_archive": 1
                        },
                        "lead_info": [],
                        "opportunity_info": [],
                        "create_user_info": {
                          "user_id": "55281444",
                          "nickname": "张三",
                          "avatar": ""
                        },
                        "customer_info": [
                          {
                            "customer_id": 4415640999551,
                            "name": "满021",
                            "email": "man@mantest.com",
                            "tel_list": [],
                            "contact": []
                          }
                        ],
                        "lead_customer_info": null,
                        "file_info": null
                      },
                      {
                        "follow_up_id": 1632775077230,
                        "trail_id": 1632775077227,
                        "type": 101,
                        "client_id": 23412,
                        "create_user": 55281444,
                        "refer_id": 1632775077230,
                        "content": "电话联系",
                        "file_ids": [],
                        "enable_flag": 1,
                        "created_at": "2022-01-28 17:14:55",
                        "create_time": "2022-01-28 05:14:55",
                        "update_time": "2022-01-28 17:14:55",
                        "company_id": 16696797769,
                        "customer_id": [
                          16696797694
                        ],
                        "lead_id": 0,
                        "lead_customer_id": [],
                        "opportunity_id": 0,
                        "delete_flag": 0,
                        "inquiry_id": 0,
                        "track_session_no": 0,
                        "comment_count": 0,
                        "company_info": {
                          "company_id": 16696797769,
                          "name": "小满的客户021",
                          "is_archive": 1
                        },
                        "lead_info": [],
                        "opportunity_info": [],
                        "create_user_info": {
                          "user_id": "55281444",
                          "nickname": "张三",
                          "avatar": ""
                        },
                        "customer_info": [
                          {
                            "customer_id": 16696797694,
                            "name": "张先生",
                            "email": "99999@129.com",
                            "tel_list": [
                              [
                                "355",
                                "123456"
                              ]
                            ],
                            "contact": [
                              {
                                "type": "whatsapp",
                                "value": "86 180 8882 2256"
                              }
                            ]
                          }
                        ],
                        "lead_customer_info": null,
                        "file_info": null
                      }
                    ],
                    "totalItem": 6
                  }
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          }
        },
        "security": [],
        "x-apifox-folder": "客户",
        "x-apifox-status": "released",
        "operationId": "get_v1_dynamic_trail_list",
        "x-local-source-path": "sources/pages/api-3478244.md",
        "x-source-id": "api-3478244",
        "x-source-title": "跟进动态查询接口",
        "x-source-module": "客户"
      }
    },
    "/v1/company/push/customer": {
      "post": {
        "summary": "新增客户的联系人（待修改）",
        "deprecated": false,
        "description": "",
        "tags": [
          "客户"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "从/v1/oauth2/access_token获取到的access_token",
            "required": true,
            "example": "{{access_token}}",
            "schema": {
              "type": "string",
              "default": "{{access_token}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "integer",
                    "x-apifox-mock": "1",
                    "description": "客户ID"
                  },
                  "serial_id": {
                    "type": "string",
                    "description": "客户编号",
                    "x-apifox-mock": "1"
                  },
                  "name": {
                    "type": "string",
                    "description": "联系人名称"
                  },
                  "tel_area_code": {
                    "type": "string",
                    "description": "联系人电话区号"
                  },
                  "tel": {
                    "type": "string",
                    "description": "联系人电话号码"
                  }
                },
                "x-apifox-orders": [
                  "01JNJHM0NHFM8AC7TT1Y52JSJS"
                ],
                "x-apifox-refs": {
                  "01JNJHM0NHFM8AC7TT1Y52JSJS": {
                    "$ref": "#/components/schemas/%E6%96%B0%E5%A2%9E%E5%AE%A2%E6%88%B7%E8%81%94%E7%B3%BB%E4%BA%BA"
                  }
                },
                "x-apifox-ignore-properties": [
                  "company_id",
                  "serial_id",
                  "name",
                  "tel_area_code",
                  "tel"
                ]
              },
              "example": "{\n    \"company_id\": 352023380, //新建时不需要传递，或者传0\n    \"user_id\": 11858711, //操作人ID\n    \"is_public\": 1,\n    \"serial_id\": \"\", //客户编号\n    \"name\": \"open-api+{{$date.millisecondsTimestamp}}\", //客户名称\n    \"short_name\": \"客户简称+{{$location.street}}\",\n    \"country\": \"CN\",\n    \"province\": \"陕西省\",\n    \"city\": \"西安市\",\n    \"tel_area_code\": \"86\",\n    \"tel\": \"18920938291\",\n    \"fax\": \"\",\n    \"group_id\": 0, //客户分组ID\n    \"pool_id\": 0, //公海分组ID\n    \"origin_list\": [\n        14\n    ], //来源ID列表\n    \"trail_status\": 0,\n    \"biz_type\": \"生产商\", //客户类型 来自客户枚举接口\n    \"cus_tag\": [\n        0\n    ], //客户标签 来自客户枚举接口\n    \"address\": \"地址{{$location.secondaryAddress}}\", //详细地址\n    \"remark\": \"公司备注\", //客户备注\n    \"homepage\": \"www.ali.com\",\n    \"star\": 4, //客户星级 来自客户枚举接口\n    \"intention_level\": 1, //采购意向 来自客户枚举接口\n    \"annual_procurement\": 0, //年采购额 来自客户枚举接口\n    \"timezone\": 5, //时区 来自客户枚举接口\n    \"scale_id\": 2, //规模 来自客户枚举接口\n    \"image_list\": [],\n    \"317003909\": \"文本字段\",\n    \"319333155\": \"文本字段\",\n    \"319354587\": \"文本字段\",\n    \"319357955\": \"A\",\n    \"348142520\": \"文本字段\",\n    \"348159705\": \"多行文本本测试 嘻嘻哈哈\",\n    \"348160052\": \"选项一\",\n    \"348174646\": \"2026-05-08\",\n    \"348174892\": 100,\n    \"348175131\": [],\n    \"348175368\": [\n        \"选项一\"\n    ],\n    \"348175638\": \"2026-05-08 10:00:00\",\n    \"348175873\": 0.5,\n    \"348194943\": \"文本字段\",\n    \"348195993\": \"文本字段\",\n    \"348196009\": \"多行文本本测试 嘻嘻哈哈\",\n    \"348196022\": \"选项一\",\n    \"348196037\": \"2026-05-08\",\n    \"348196049\": 100,\n    \"348196054\": [],\n    \"348196060\": [\n        \"选项一\"\n    ],\n    \"348196066\": \"2026-05-08 10:00:00\",\n    \"1101101837\": \"客户1-edit\",\n    \"1101101838\": \"2026-05-08\",\n    \"1101101839\": 100,\n    \"1101101840\": [\n        \"客户多选2-edit\"\n    ],\n    \"1101101841\": \"2026-05-08 10:00:00\",\n    \"1102603643\": \"文本字段\",\n    \"1105128163\": \"客户1-edit\",\n    \"1105128171\": \"2026-05-08\",\n    \"1105162749\": \"多行文本本测试 嘻嘻哈哈\",\n    \"1514096184\": \"文本字段\",\n    \"3082019289\": \"2026-05-08 10:00:00\",\n    \"3455469523\": \"文本字段\",\n    \"3493496861\": \"文本字段\",\n    \"3493497310\": \"多行文本本测试 嘻嘻哈哈\",\n    \"3493497316\": \"公司选项1\",\n    \"3493497327\": [\n        \"公司选项A\"\n    ],\n    \"3493497331\": \"2026-05-08\",\n    \"3493497349\": 100,\n    \"3493497372\": [],\n    \"3493497382\": \"2026-05-08 10:00:00\",\n    \"3555002419\": [],\n    \"58218823169\": \"\",\n    \"58214487467\": \"优质\",\n    \"58199842716\": \"2026-05-08\",\n    \"58161687747\": \"111\",\n    \"57665595218\": \"文本字段\",\n    \"57665415410\": \"2026-05-08 10:00:00\",\n    \"57665401469\": 0.5,\n    \"57665083623\": \"1\",\n    \"57664468368\": \"多行文本本测试 嘻嘻哈哈\",\n    \"57607745365\": \"多行文本本测试 嘻嘻哈哈\",\n    \"57563952576\": \"文本字段\",\n    \"57236146973\": \"多行文本本测试 嘻嘻哈哈\",\n    \"57236146540\": \"文本字段\",\n    \"57236146342\": \"文本字段\",\n    \"57234714818\": 100,\n    \"57234714792\": 100,\n    \"57229828373\": \"文本字段\",\n    \"57221915113\": [\n        \"1\"\n    ],\n    \"57172556677\": \"2026-05-08\",\n    \"55905073554\": 0.5,\n    \"5218116642\": [\n        \"客户下拉多选2\"\n    ],\n    \"next_follow_up_time\": \"2025-03-03 00:00:00\", //下次跟进时间\n    \"category_ids\": [\n        [\n            3\n        ]\n    ], //主营产品ID\n    \"product_group_ids\": [], //产品分组ID\n    \"customers\": [\n        {\n            \"customer_id\": 0, ///新建时不需要传递，或者传0\n            \"name\": \"联系人昵称0310{{$date.timestamp}}\",\n            \"email\": \"{{$date.timestamp}}@sdc.com\",\n            \"tel\": \"\",\n            \"tel_area_code\": \"86\",\n            \"post_grade\": 2,\n            \"post\": \"职位\",\n            // \"qq\": \"\",\n            // \"linkedin\": \"\",\n            // \"skype\": \"\",\n            // \"whatsapp\": \"\",\n            // \"facebook\": \"\",\n            // \"wechat\": \"\",\n            // \"twitter\": \"\",\n            \"birth\": \"2025-03-13\",\n            \"gender\": 1, //性别 男1 女\n            \"remark\": \"\", //联系人备注\n            \"main_customer_flag\": 0, //是否是主联系人 1:是 0:否\n            \"image_list\": [],\n            \"351584883\": 12,\n            \"351584919\": [],\n            \"351584929\": \"2026-05-08 10:00:00\",\n            \"1102611670\": \"多行文本本测试 嘻嘻哈哈\",\n            \"1102611671\": \"剪刀\",\n            \"1102611672\": [\n                \"小美\"\n            ],\n            \"1102611675\": 100,\n            \"1105746753\": \"文本字段\",\n            \"3405202841\": \"2026-05-08 10:00:00\",\n            \"3450371581\": \"3\",\n            \"3450423112\": \"文本字段\",\n            \"3450431094\": \"文本字段\",\n            \"3555007283\": [],\n            \"57664812592\": \"文本字段\",\n            \"57236077114\": \"多行文本本测试\\n嘻嘻哈哈111122\",\n            \"57236076922\": \"文本字段\"\n        }\n    ]\n}"
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "x-apifox-orders": [],
                  "x-apifox-ignore-properties": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          },
          "x-200:请求成功": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    }
                  },
                  "x-apifox-orders": [
                    "code",
                    "msg"
                  ],
                  "x-apifox-ignore-properties": []
                },
                "example": {
                  "msg": "success",
                  "code": 0
                }
              }
            },
            "headers": {},
            "x-apifox-name": "请求成功"
          }
        },
        "security": [],
        "x-apifox-folder": "客户",
        "x-apifox-status": "released",
        "operationId": "post_v1_company_push_customer",
        "x-local-source-path": "sources/pages/api-3484681.md",
        "x-source-id": "api-3484681",
        "x-source-title": "新增客户的联系人（待修改）",
        "x-source-module": "客户"
      }
    },
    "/v1/dynamic/trail/push": {
      "post": {
        "summary": "提交跟进动态",
        "deprecated": false,
        "description": "## 错误码解释\n| 异常码 | 异常消息 |异常解决方案|\n| --- | --- | --- |\n| -1 | 不支持的类型| remark_type传递有误，不在允许的范围内 |\n| -1 | 备注内容不能为空| content传递为空 |\n|-1 |lead_id and company_id and opportunity_id is empty|lead_id 与company_id 与 opportunity_id ，需要传递其中某一项|\n",
        "tags": [
          "客户",
          "s7.1"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "从/v1/oauth2/access_token获取到的access_token",
            "required": true,
            "example": "{{access_token}}",
            "schema": {
              "type": "string",
              "default": "{{access_token}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "integer",
                    "x-apifox-mock": "1",
                    "description": "客户ID"
                  },
                  "lead_id": {
                    "type": "integer",
                    "x-apifox-mock": "1",
                    "description": "线索ID"
                  },
                  "content": {
                    "type": "string",
                    "x-apifox-mock": "内容",
                    "description": "动态内容"
                  },
                  "remark_type": {
                    "type": "integer",
                    "description": "跟进动态类型 默认101 101:快速记录 102:关联邮件备注 103:电话 104:会面 105:社交平台 106:总部拜访 107:办事处拜访 108:来访总部 109:来访办事处 110:邮件 111:客户拜访 112:日程跟进",
                    "x-apifox-mock": "101"
                  },
                  "opportunity_id": {
                    "type": "integer",
                    "description": "商机ID"
                  }
                },
                "x-apifox-orders": [
                  "company_id",
                  "lead_id",
                  "opportunity_id",
                  "content",
                  "remark_type"
                ]
              },
              "example": "//新增客户写跟进\n{\n    \"company_id\": 5202566012,\n    \"lead_id\": \"\",\n    \"remark_type\":102,\n    \"content\": \"测试内容\"\n}\n\n//新增线索写跟进\n{\n    \"company_id\": \"\",\n    \"lead_id\": 52025660142,\n    \"remark_type\":103,\n    \"content\": \"测试内容\"\n}\n\n//新增商机写跟进\n{\n    \"opportunity_id\": 34545645767,\n    \"company_id\": \"\",\n    \"lead_id\": \"\",\n    \"remark_type\":104,\n    \"content\": \"测试内容\"\n}\n"
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "now": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "trail_id": {
                          "type": "integer",
                          "description": "动态ID"
                        }
                      },
                      "required": [
                        "trail_id"
                      ],
                      "x-apifox-orders": [
                        "trail_id"
                      ]
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "now",
                    "data"
                  ],
                  "x-apifox-orders": [
                    "code",
                    "message",
                    "now",
                    "data"
                  ]
                },
                "example": {
                  "code": 200,
                  "message": "success",
                  "now": "2019-10-12 14:47:33",
                  "data": {
                    "trail_id": 1101090505
                  }
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          },
          "x-200:请求成功": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    }
                  },
                  "x-apifox-orders": [
                    "code",
                    "msg"
                  ]
                },
                "example": {
                  "msg": "success",
                  "code": 0
                }
              }
            },
            "headers": {},
            "x-apifox-name": "请求成功"
          }
        },
        "security": [],
        "x-apifox-folder": "客户",
        "x-apifox-status": "released",
        "operationId": "post_v1_dynamic_trail_push",
        "x-local-source-path": "sources/pages/api-3484682.md",
        "x-source-id": "api-3484682",
        "x-source-title": "提交跟进动态",
        "x-source-module": "客户"
      }
    },
    "/v1/company/pushGroup": {
      "post": {
        "summary": "客户分组新增/编辑",
        "deprecated": false,
        "description": "## 错误码解释\n| 异常码 | 异常消息 |异常解决方案|\n| --- | --- | --- |\n| -1 | 分组不存在 | 检查传入的group_id是否正确|",
        "tags": [
          "客户",
          "s7.1"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "从/v1/oauth2/access_token获取到的access_token",
            "required": true,
            "example": "{{access_token}}",
            "schema": {
              "type": "string",
              "default": "{{access_token}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "group_id": {
                    "type": "integer",
                    "title": "客户分组ID",
                    "description": "编辑时候需要传递\n传入值来自/v1/company/fields/selector?field=group_id返回值data中的id "
                  },
                  "group_name": {
                    "type": "string",
                    "description": "客户分组名称"
                  },
                  "parent_id": {
                    "type": "integer",
                    "x-apifox-mock": "0",
                    "description": "客户分组父级ID"
                  },
                  "owner_ids": {
                    "type": "string",
                    "x-apifox-mock": "[1]",
                    "description": "客户分组可用成员，用户ID列表\n数据来自/v1/user/list接口中data下面的user_id"
                  }
                },
                "x-apifox-orders": [
                  "group_id",
                  "group_name",
                  "parent_id",
                  "owner_ids"
                ],
                "required": [
                  "group_name"
                ]
              },
              "example": {
                "group_id": 0,
                "group_name": "string",
                "parent_id": null,
                "owner_ids": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    },
                    "now": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "group_id": {
                          "type": "string",
                          "description": "客户分组ID"
                        }
                      },
                      "required": [
                        "group_id"
                      ],
                      "x-apifox-orders": [
                        "group_id"
                      ]
                    }
                  },
                  "required": [
                    "code",
                    "msg",
                    "now",
                    "data"
                  ],
                  "x-apifox-orders": [
                    "code",
                    "msg",
                    "now",
                    "data"
                  ]
                },
                "example": {
                  "code": 0,
                  "msg": "success",
                  "now": "2022-04-11 16:33:40",
                  "data": {
                    "group_id": "3137319521"
                  }
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          },
          "x-200:请求成功": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    }
                  },
                  "x-apifox-orders": [
                    "code",
                    "msg"
                  ]
                },
                "example": {
                  "msg": "success",
                  "code": 0
                }
              }
            },
            "headers": {},
            "x-apifox-name": "请求成功"
          }
        },
        "security": [],
        "x-apifox-folder": "客户",
        "x-apifox-status": "released",
        "operationId": "post_v1_company_pushgroup",
        "x-local-source-path": "sources/pages/api-3484700.md",
        "x-source-id": "api-3484700",
        "x-source-title": "客户分组新增/编辑",
        "x-source-module": "客户"
      }
    },
    "/v1/company/removeGroup": {
      "post": {
        "summary": "删除客户分组",
        "deprecated": false,
        "description": "| 异常码 | 异常消息 |异常解决方案|\n| --- | --- | --- |\n| 404 | 系统分组无法被删除 | 替换传入的客户分组id |",
        "tags": [
          "客户",
          "s7.1"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "从/v1/oauth2/access_token获取到的access_token",
            "required": true,
            "example": "{{access_token}}",
            "schema": {
              "type": "string",
              "default": "{{access_token}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "group_id": {
                    "description": "客户分组ID\n传入值来自/v1/company/fields/selector?field=group_id返回值",
                    "example": 5198395618,
                    "type": "integer"
                  }
                },
                "required": [
                  "group_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    },
                    "now": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "group_id": {
                          "type": "string",
                          "description": "客户分组ID"
                        }
                      },
                      "required": [
                        "group_id"
                      ],
                      "x-apifox-orders": [
                        "group_id"
                      ]
                    }
                  },
                  "required": [
                    "code",
                    "msg",
                    "now",
                    "data"
                  ],
                  "x-apifox-orders": [
                    "code",
                    "msg",
                    "now",
                    "data"
                  ]
                },
                "example": {
                  "code": 0,
                  "msg": "success",
                  "now": "2022-04-11 16:33:40",
                  "data": {
                    "group_id": "1"
                  }
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          },
          "x-200:请求成功": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    }
                  },
                  "x-apifox-orders": [
                    "code",
                    "msg"
                  ]
                },
                "example": {
                  "msg": "success",
                  "code": 0
                }
              }
            },
            "headers": {},
            "x-apifox-name": "请求成功"
          }
        },
        "security": [],
        "x-apifox-folder": "客户",
        "x-apifox-status": "released",
        "operationId": "post_v1_company_removegroup",
        "x-local-source-path": "sources/pages/api-3484701.md",
        "x-source-id": "api-3484701",
        "x-source-title": "删除客户分组",
        "x-source-module": "客户"
      }
    },
    "/v1/company/pushTrail": {
      "post": {
        "summary": "客户阶段新增/编辑",
        "deprecated": false,
        "description": "| 异常码 | 异常消息 |异常解决方案|\n| --- | --- | --- |\n| 404 | 分类设置不存在 | 检查客户阶段ID传入是否有误 |",
        "tags": [
          "客户",
          "s7.1"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "从/v1/oauth2/access_token获取到的access_token",
            "required": true,
            "example": "{{access_token}}",
            "schema": {
              "type": "string",
              "default": "{{access_token}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "trail_id": {
                    "type": "integer",
                    "description": "客户阶段ID，编辑时必填\n传入值来自/v1/company/fields/selector返回值"
                  },
                  "trail_name": {
                    "type": "string",
                    "description": "客户阶段名称，必填"
                  },
                  "trail_color": {
                    "type": "string",
                    "description": "客户阶段颜色，非必填，例子#188ae8"
                  }
                },
                "required": [
                  "trail_name"
                ],
                "x-apifox-orders": [
                  "trail_id",
                  "trail_name",
                  "trail_color"
                ]
              },
              "example": {
                "trail_id": 0,
                "trail_name": "string",
                "trail_color": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    },
                    "now": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "trail_id": {
                          "type": "string",
                          "description": "客户阶段ID"
                        }
                      },
                      "required": [
                        "trail_id"
                      ],
                      "x-apifox-orders": [
                        "trail_id"
                      ]
                    }
                  },
                  "required": [
                    "code",
                    "msg",
                    "now",
                    "data"
                  ],
                  "x-apifox-orders": [
                    "code",
                    "msg",
                    "now",
                    "data"
                  ]
                },
                "example": {
                  "code": 0,
                  "msg": "success",
                  "now": "2022-04-11 16:33:40",
                  "data": {
                    "trail_id": "3137319521"
                  }
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          },
          "x-200:请求成功": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    }
                  },
                  "x-apifox-orders": [
                    "code",
                    "msg"
                  ]
                },
                "example": {
                  "msg": "success",
                  "code": 0
                }
              }
            },
            "headers": {},
            "x-apifox-name": "请求成功"
          }
        },
        "security": [],
        "x-apifox-folder": "客户",
        "x-apifox-status": "released",
        "operationId": "post_v1_company_pushtrail",
        "x-local-source-path": "sources/pages/api-3484702.md",
        "x-source-id": "api-3484702",
        "x-source-title": "客户阶段新增/编辑",
        "x-source-module": "客户"
      }
    },
    "/v1/company/removeTrail": {
      "post": {
        "summary": "删除客户阶段",
        "deprecated": false,
        "description": "| 异常码 | 异常消息 |异常解决方案|\n| --- | --- | --- |\n| 400 | Invalid query | trail_id 或者 to_trail_id没有传入，或者传入为空 |\n",
        "tags": [
          "客户",
          "s7.1"
        ],
        "parameters": [
          {
            "name": "trail_id",
            "in": "query",
            "description": "客户阶段ID\n传入值来自/v1/company/fields/selector返回值",
            "required": true,
            "example": 3555516886,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "to_trail_id",
            "in": "query",
            "description": "被删除客户阶段若有应用被前往这个客户阶段ID\n传入值来自/v1/company/fields/selector返回值",
            "required": true,
            "example": 1101043657,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "从/v1/oauth2/access_token获取到的access_token",
            "required": true,
            "example": "{{access_token}}",
            "schema": {
              "type": "string",
              "default": "{{access_token}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    },
                    "now": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "trail_id": {
                          "type": "integer",
                          "description": "客户阶段"
                        }
                      },
                      "required": [
                        "trail_id"
                      ],
                      "x-apifox-orders": [
                        "trail_id"
                      ]
                    }
                  },
                  "required": [
                    "code",
                    "msg",
                    "now",
                    "data"
                  ],
                  "x-apifox-orders": [
                    "code",
                    "msg",
                    "now",
                    "data"
                  ]
                },
                "example": {
                  "code": 0,
                  "msg": "success",
                  "now": "2022-04-11 16:33:40",
                  "data": {
                    "trail_id": "1"
                  }
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          },
          "x-200:请求成功": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    }
                  },
                  "x-apifox-orders": [
                    "code",
                    "msg"
                  ]
                },
                "example": {
                  "msg": "success",
                  "code": 0
                }
              }
            },
            "headers": {},
            "x-apifox-name": "请求成功"
          }
        },
        "security": [],
        "x-apifox-folder": "客户",
        "x-apifox-status": "released",
        "operationId": "post_v1_company_removetrail",
        "x-local-source-path": "sources/pages/api-3484703.md",
        "x-source-id": "api-3484703",
        "x-source-title": "删除客户阶段",
        "x-source-module": "客户"
      }
    },
    "/v1/company/pushTag": {
      "post": {
        "summary": "客户标签新增/编辑",
        "deprecated": false,
        "description": "",
        "tags": [
          "客户",
          "s7.1"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "从/v1/oauth2/access_token获取到的access_token",
            "required": true,
            "example": "{{access_token}}",
            "schema": {
              "type": "string",
              "default": "{{access_token}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tag_id": {
                    "type": "integer",
                    "description": "客户标签ID，编辑时必填\n传入值来自/v1/company/companyEnums返回值中的tag_list"
                  },
                  "tag_name": {
                    "type": "string",
                    "description": "客户标签名称，必填"
                  },
                  "tag_color": {
                    "type": "string",
                    "x-apifox-mock": "#188ae8",
                    "description": "客户标签颜色，非必填，例子#188ae8"
                  }
                },
                "x-apifox-orders": [
                  "tag_id",
                  "tag_name",
                  "tag_color"
                ],
                "required": [
                  "tag_name"
                ]
              },
              "example": "tag_id,integer,false,,客户标签ID，编辑时必填\ntag_name,string,true,,客户标签名称，必填\ntag_color,string,false,#188ae8,客户标签颜色，非必填，例子#188ae8\n"
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    },
                    "now": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "tag_id": {
                          "type": "string",
                          "description": "标签ID"
                        }
                      },
                      "required": [
                        "tag_id"
                      ],
                      "x-apifox-orders": [
                        "tag_id"
                      ]
                    }
                  },
                  "required": [
                    "code",
                    "msg",
                    "now",
                    "data"
                  ],
                  "x-apifox-orders": [
                    "code",
                    "msg",
                    "now",
                    "data"
                  ]
                },
                "example": {
                  "code": 0,
                  "msg": "success",
                  "now": "2022-04-11 16:33:40",
                  "data": {
                    "tag_id": "3137319521"
                  }
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          },
          "x-200:请求成功": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    }
                  },
                  "x-apifox-orders": [
                    "code",
                    "msg"
                  ]
                },
                "example": {
                  "msg": "success",
                  "code": 0
                }
              }
            },
            "headers": {},
            "x-apifox-name": "请求成功"
          }
        },
        "security": [],
        "x-apifox-folder": "客户",
        "x-apifox-status": "released",
        "operationId": "post_v1_company_pushtag",
        "x-local-source-path": "sources/pages/api-3484704.md",
        "x-source-id": "api-3484704",
        "x-source-title": "客户标签新增/编辑",
        "x-source-module": "客户"
      }
    },
    "/v1/company/removeTag": {
      "post": {
        "summary": "删除客户标签",
        "deprecated": false,
        "description": "| 异常码 | 异常消息 |异常解决方案|\n| --- | --- | --- |\n|400 | Invalid query | tag_id传递为空或者为0|",
        "tags": [
          "客户"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "从/v1/oauth2/access_token获取到的access_token",
            "required": true,
            "example": "{{access_token}}",
            "schema": {
              "type": "string",
              "default": "{{access_token}}"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "tag_id": {
                    "description": "客户标签ID \n传入值来自/v1/company/companyEnums返回值中的tag_list",
                    "example": 45,
                    "type": "integer"
                  }
                },
                "required": [
                  "tag_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    },
                    "now": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "tag_id": {
                          "type": "string",
                          "description": "标签ID"
                        }
                      },
                      "required": [
                        "tag_id"
                      ],
                      "x-apifox-orders": [
                        "tag_id"
                      ]
                    }
                  },
                  "required": [
                    "code",
                    "msg",
                    "now",
                    "data"
                  ],
                  "x-apifox-orders": [
                    "code",
                    "msg",
                    "now",
                    "data"
                  ]
                },
                "example": {
                  "code": 0,
                  "msg": "success",
                  "now": "2022-04-11 16:33:40",
                  "data": {
                    "tag_id": "1"
                  }
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          },
          "x-200:请求成功": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "title": "",
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    }
                  },
                  "x-apifox-orders": [
                    "code",
                    "msg"
                  ]
                },
                "example": {
                  "msg": "success",
                  "code": 0
                }
              }
            },
            "headers": {},
            "x-apifox-name": "请求成功"
          }
        },
        "security": [],
        "x-apifox-folder": "客户",
        "x-apifox-status": "released",
        "operationId": "post_v1_company_removetag",
        "x-local-source-path": "sources/pages/api-3484705.md",
        "x-source-id": "api-3484705",
        "x-source-title": "删除客户标签",
        "x-source-module": "客户"
      }
    },
    "/v1/company/companyEnums": {
      "get": {
        "summary": "客户枚举:客户类型，客户标签，时区，规模，星级，采购意向，采购额度，职级",
        "deprecated": false,
        "description": "",
        "tags": [
          "客户"
        ],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "从/v1/oauth2/access_token获取到的access_token",
            "required": true,
            "example": "{{access_token}}",
            "schema": {
              "type": "string",
              "default": "{{access_token}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "now": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "biz_type_list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "name"
                            ],
                            "x-apifox-orders": [
                              "code",
                              "name"
                            ]
                          },
                          "description": "客户类型"
                        },
                        "tag_list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "x-apifox-orders": [
                              "code",
                              "name"
                            ]
                          },
                          "description": "客户标签"
                        },
                        "timezone_list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "code",
                              "name"
                            ],
                            "x-apifox-orders": [
                              "code",
                              "name"
                            ]
                          },
                          "description": "时区"
                        },
                        "scale_list": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "object",
                                "properties": {
                                  "min": {
                                    "type": "integer"
                                  },
                                  "max": {
                                    "type": "integer"
                                  }
                                },
                                "required": [
                                  "min",
                                  "max"
                                ],
                                "x-apifox-orders": [
                                  "min",
                                  "max"
                                ]
                              }
                            },
                            "required": [
                              "code",
[...]
